///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../../../config';
@use '../../../tokens';

@use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - Objects
     * ======================================================================== */
}

%root,
%body {
    @if config.$include_html {
        scroll-padding-top: #{var-gap-block(layout)};
    }
}

%root {
}

%body {
    @if config.$include_html {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

        gap: #{var-gap-block(layout)} #{var-gap-inline(layout)};

        margin-block: #{var-gap-block(layout)};
        margin-inline: #{var-gap-inline(layout)};

        :where(& > *) {
            width: min(#{var-width(page)}, 100%);
        }
    }
}

%hr {
    @include snippet-centre-callout-block;

    & {
        width: 100%;

        @if config.$include_html {
            margin-block-start: calc(
                #{var-mrg-soft('400')} + #{var-mrg-firm('600')}
            );
        }
        margin-block: #{var-mrg-firm('600')};
        border: none;
        border-block-end: currentColor solid 2px;
    }
}
