///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use '../../../modules/map';
@use '../../../modules/math';

@use '../config';
@use '../../../tokens';

@use '../../../lib' as *;

@if config.$template_cssHeadings {
    /* # GLOBALS - Objects
     * ======================================================================== */
}

$_scrollPaddingFallback: var-gap-block(layout);

%root {
    @if config.$include_html {
        @include cx-prop(scroll-padding-top, $_scrollPaddingFallback);
        @include cx-prop(scroll-padding-top, scroll-padding-top-value());
    }
}

%root,
%body {
    @if config.$include_html {
        scroll-padding-top: var-scroll-padding-top($_scrollPaddingFallback);
    }
}

@if map.get(config.$template_styles, bodyFlow) {
    %body {
        @if config.$include_html {
            @include prop-display(flex);
            flex-direction: column;
            justify-content: start;
            align-items: center;

            gap: #{var-gap-block(layout)} #{var-gap-inline(layout)};

            margin-block: #{var-gap-block(layout)};
            margin-inline: #{var-gap-inline(layout)};

            :where(&) > :where(*) {
                width: min(#{var-width(page)}, 100%);
            }
        }
    }
}

%hr {
    @include prop-display(block);

    margin-block: #{var-mrg-firm('600')};
    margin-inline: #{var-gap-inline(indent)};

    width: #{math.add-unit(
            math.round-to-pixel(
                calc(100 * map.get(tokens.$width, callout) / map.get(tokens.$width, content)),
                100
            ),
            $unit: 1%
        )};

    max-width: #{var-width(callout)};

    border: none;
    border-block-end: currentColor solid #{var-border-width('200')};
}
