///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../../../config';
// @use '../../../tokens';

@use '../../../lib' as *;

@if config.$print_headings {
    /* # GLOBALS - Tables
     * ======================================================================== */
}

%table-wrapper,
%table {
    position: relative;
    margin-block: #{var-mrg-firm('400')} 0;
    margin-block: #{var-mrg-firm('600')} calc(#{var-mrg-soft('600')} - #{var-mrg-soft(
                    '400'
                )});

    background: #{var-sys-colour(accent-bg)};

    @if config.$include_html {
        width: min(var(--width-page, 53rem), 100%);
    }
}

%table {
    border-spacing: #{var-border-width('200')};
    font-size: #{var-fs(smaller-1)};
    // line-height: #{var-line-height('300')};
}

%table-wrapper {
    display: block;
    overflow-x: auto;
    overscroll-behavior-x: none;

    /// BLOCK ///

    > %table {
        margin: 0;
        padding: 0;
        background: transparent;
    }
}

%tr {
}

%th,
%td {
    padding: #{var-mrg-soft('200')} #{var-mrg-firm('300')};
    min-width: 10em;
    background: #{var-sys-colour(background)};

    vertical-align: top;
    text-align: left;

    /// BLOCK ///

    > :first-child {
        margin-top: 0;
    }
    > :last-child {
        margin-bottom: 0;
    }
}

%th {
    padding-top: #{var-mrg-soft('200')};
    padding-bottom: #{var-mrg-soft('200')};

    background: #{var-sys-colour(accent-bg)};
    color: #{var-sys-colour(accent-text)};
}

%td {
}
