///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

@use '../../config';
@use '../../tokens';

@use '../../../../modules/map';
@use '../../../../modules/meta';

@use '../../../../lib';

@use '../00-01-functions' as *;
// @use '../00-02-mixins' as *;

/// # SNIPPETS - Forms
/// ======================================================================== ///

///
/// Base styles for a button element.
///
/// @since ___PKG_VERSION___
///
@mixin snippet-button(
    $accentClr: var-theme(button-border),
    $accentClr_active: var-theme(button-border-active),
    $accentClr_hover: var-theme(button-border-hover),
    //
    $background: var-theme(button-bg),
    $background_active: var-theme(button-bg-active),
    $background_hover: var-theme(button-bg-hover),
    //
    $borderClr: var-theme(button-border),
    $borderClr_active: var-theme(button-border-active),
    $borderClr_hover: var-theme(button-border-hover),
    //
    $color: var-theme(button-text),
    $color_active: var-theme(button-text-active),
    $color_hover: var-theme(button-text-hover),
    $args...
) {
    $args: meta.keywords($args);
    --focus-ring-outline-color: #{$accentClr_hover};
    --focus-ring-outline-offset: #{lib.var-border-width('200')};

    @include lib.snippet-button(
        $accentClr: $accentClr,
        $accentClr_active: $accentClr_active,
        $accentClr_hover: $accentClr_hover,

        $background: $background,
        $background_active: $background_active,
        $background_hover: $background_hover,

        $borderClr: $borderClr,
        $borderClr_active: $borderClr_active,
        $borderClr_hover: $borderClr_hover,

        $color: $color,
        $color_active: $color_active,
        $color_hover: $color_hover,

        $args...,
        $includeClrs: true
    );
}

///
/// Base styles for an input element.
///
/// @since ___PKG_VERSION___
///
@mixin snippet-input(
    $accentClr: var-theme(input-border),
    $accentClr_active: var-theme(input-border-active),
    $accentClr_hover: var-theme(input-border-hover),
    //
    $background: var-theme(input-bg),
    $background_active: var-theme(input-bg-active),
    $background_hover: var-theme(input-bg-hover),
    //
    $borderClr: var-theme(input-border),
    $borderClr_active: var-theme(input-border-active),
    $borderClr_hover: var-theme(input-border-hover),
    //
    $color: var-theme(input-text),
    $color_active: var-theme(input-text-active),
    $color_hover: var-theme(input-text-hover),
    //
    $color_placeholder: var-theme(input-placeholder),
    $args...
) {
    $args: meta.keywords($args);
    --focus-ring-outline-color: #{$accentClr_hover};

    @include lib.snippet-input(
        $accentClr: $accentClr,
        $accentClr_active: $accentClr_active,
        $accentClr_hover: $accentClr_hover,

        $background: $background,
        $background_active: $background_active,
        $background_hover: $background_hover,

        $borderClr: $borderClr,
        $borderClr_active: $borderClr_active,
        $borderClr_hover: $borderClr_hover,

        $color: $color,
        $color_active: $color_active,
        $color_hover: $color_hover,

        $args...,
        $includeClrs: true,
        $includePlaceholder: false
    );

    &::placeholder {
        opacity: 1;

        color: #{$color_placeholder};
        color: color-mix(in srgb, #{$color_placeholder} 62.5%, transparent);

        @include lib.high-contrast {
            color: color-mix(in srgb, #{$color_placeholder} 87.5%, transparent);
        }

        @include lib.forced-colors {
            color: #{$color_placeholder};
        }
    }
}

///
/// Base styles for the types of an element. Uses the & as input.
///
/// @since ___PKG_VERSION___
///
@mixin snippet-input-types(
    $accentClr: var-theme(input-border),
    $accentClr_active: var-theme(input-border-active),
    $accentClr_hover: var-theme(input-border-hover),
    $includeBase: true,
    $args...
) {
    $args: meta.keywords($args);

    @include lib.snippet-input-types(
        $accentClr: $accentClr,
        $accentClr_active: $accentClr_active,
        $accentClr_hover: $accentClr_hover,
        $includeBase: $includeBase,

        $args...,
        $includeClrs: true
    );
}

///
/// Base styles for a form label, including check and radio boxes.
///
/// @since ___PKG_VERSION___
///
@mixin snippet-label(
    $color: var-theme(text-primary),
    $color_checkradio: var-theme(text),
    //
    // $gap: lib.var-mrg-soft('300'),
    // $lh_checkradio: lib.var-line-height('400'),
    // $lh: lib.var-line-height('200'),
    // $marginBlock_innercheckradio: lib.var-mrg-firm('200'),
    // $marginBlock: lib.var-mrg-firm('400')
    $args...
) {
    $args: meta.keywords($args);

    @include lib.snippet-label(
        $color: $color,
        $color_checkradio: $color_checkradio,
        $args...,
        $includeClrs: true
    );
}
