///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../config';
@use '../../tokens';

// @use '../01-01-meta' as *;
// @use '../01-02-lists' as *;
@use '../01-03-maps' as *;
// @use '../01-04-numbers' as *;
// @use '../01-05-strings' as *;
// @use '../01-06-selectors' as *;
// @use '../01-07-colours' as *;
// @use '../01-08-accessibility' as *;
// @use '../01-09-typography' as *;

// @use '01-11-01-spacing' as *;
// @use '01-11-02-theming' as *;
// @use '01-11-03-colours' as *;
// @use '01-11-04-typography' as *;

/// # CUSTOM TOKEN FUNCTIONS
/// ======================================================================== ///

$_flattened_customTokens: map-flatten(tokens.$customTokens);

///
/// Gets the value of a custom token.
///
/// @param {string} $slug  Flattened key for the token to fetch.
///
/// @since ___PKG_VERSION___
///
@function custom-token-value($slug) {
    // returns
    @if not map.has-key($_flattened_customTokens, '#{$slug}') {
        @warn "$slug '#{$slug}' was not a key in the flattened tokens.$customTokens";
        @return $slug;
    }

    @return map.get($_flattened_customTokens, '#{$slug}');
}

///
/// Returns the flattened custom tokens map.
///
/// @since ___PKG_VERSION___
///
@function custom-token-map() {
    @return $_flattened_customTokens;
}

///
/// Uses the custom tokens to print the appropriate var(...) with a fallback.
///
/// @param {string} $slug  Flattened key for the token to fetch.
///
/// @since ___PKG_VERSION___
///
@function var-custom-token($slug) {
    // returns
    @if not map.has-key($_flattened_customTokens, '#{$slug}') {
        @warn "$slug '#{$slug}' was not a key in the flattened tokens.$customTokens";
        @return var(--#{$slug});
    }

    @return var(--#{$slug}, #{map.get($_flattened_customTokens, '#{$slug}')});
}
