///
/// Configuration for the library functions, mixins, and snippets. This is the
/// second config group.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'functions';

// no deps on other configs
@forward 'include';
@forward 'internal';
@forward 'selectors';

@use 'functions' as *;

///
/// @since ___PKG_VERSION___
///
$mx_propDisplay_allPrefixes: null !default;
$mx_propDisplay_allPrefixes: config-valid-bool(
    $mx_propDisplay_allPrefixes,
    'mx_propDisplay_allPrefixes',
    $default: true
);

///
/// @since ___PKG_VERSION___
///
$mx_propDisplay_onlyFallbackPrefix: null !default;
$mx_propDisplay_onlyFallbackPrefix: config-valid-bool(
    $mx_propDisplay_onlyFallbackPrefix,
    'mx_propDisplay_onlyFallbackPrefix',
    $default: true
);
