///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward '../template/_content/config' with (
    $internal_supressCredit: true,

    $include_html: true !default,

    $template_globals: true !default,
    $template_tokens: true !default,
    $template_utils: true !default,

    $template_styles: (
        normalize: true,
    )
    !default,

    $selectorType_mode: 'attribute',
    $selectorType_motion: 'attribute',

    $fn_colourMode_selectorsAsChildren: true !default
);
