///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved to module config.
///

@use 'warnings' as *;

///
/// Validates the value of a config variable that should be a boolean. Uses
/// their truthy/falsey value.
///
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
///
/// @returns {bool}
///
/// @since ___PKG_VERSION___ — Added $default param.
///
@function config-valid-bool($value, $name, $default: null) {
    // returns
    @if $value == null {
        @return $default;
    }

    $typeWarn: config-enforce-type-or-warn(
        $value: $value,
        $type: bool,
        $varName: $name,
    );

    @return if($value, true, false);
}
