///
/// Warning messages for the config functions.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:meta';

///
/// Returns a warning message for mis-typed params.
///
/// @since ___PKG_VERSION___
///
@function config-warning-message-bad-type(
    $value,
    $type,
    $varName,
    $actualType: null,
    $prefix: '[config] ',
    $mustBeMessage: 'must be a #{$type}',
    $wasMessage: null
) {
    @if $actualType == null {
        $actualType: meta.type-of($value);
    }

    @if $wasMessage == null {
        $wasMessage: 'was the #{$actualType}: #{meta.inspect($value)}';

        // shorten the output
        @if $actualType == list or $actualType == map {
            @if list.length($actualType) > 4 {
                $wasMessage: 'was a #{$actualType}';
            }
        }
    }

    @return '#{$prefix}$#{$varName} #{$mustBeMessage} (#{$wasMessage})';
}

///
/// Checks a value is of the given type. If not, it outputs a warning and
/// returns false.
///
/// @since ___PKG_VERSION___
///
@function config-enforce-type-or-warn(
    $value,
    $type,
    $varName,
    $fallback: false,
    $warn: true,
    $prefix: '[config] '
) {
    // returns - this is an empty list, which is also a valid map
    @if list.index($type, map) != null and list.length($value) < 1 {
        @return $value;
    }

    $actualType: meta.type-of($value);

    // returns
    @if list.index($type, $actualType) == null {
        @if $warn {
            @warn #{config-warning-message-bad-type(
                $value: $value,
                $type: $type,
                $varName: $varName,
                $actualType: $actualType,
                $prefix: $prefix
            )};
        }

        @return $fallback;
    }

    @return $value;
}
