///
/// Warning messages for the config functions.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:meta';

///
/// Checks a value is of the given type. If not, it outputs a warning and
/// returns false.
///
/// @since ___PKG_VERSION___
///
@function config-enforce-type-or-warn(
    $value,
    $type,
    $varName,
    $fallback: false,
    $warn: true,
    $prefix: '[config] '
) {
    $_actualType: meta.type-of($value);

    // returns
    @if list.index($type, $_actualType) == null {
        @if $warn {
            @warn "#{$prefix}$#{$varName} must be a #{$type} (was a #{$_actualType}: #{$value})";
        }

        @return $fallback;
    }

    @return $value;
}
