///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward '../header';

// @use '../../../modules/list';

@use '../../../lib' as *;
@use '../utils';

/* # FUNCTIONS - token-all-heading-levels()
 * ======================================================================== */

list.flatten {
    @include utils.var-dump(
        'token-all-heading-levels()',
        token-all-heading-levels()
    );
}
