///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'index' with (
    $customPropertyPrefix: 'prefix-' !default,
    $customPropertyPrefix_fallback: 'fallback-' !default,

    $template_name: 'Utilities Mixin Demo (with all custom prop prefixes)' !default,
    $template_description:
        'This is a demo stylesheet with a custom property prefix and a fallback prefix set in the config (i.e. — $customPropertyPrefix: "prefix-", $customPropertyPrefix_fallback: "fallback-").'
        !default
);
