///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../config';

// @use '01-01-meta' as *;
// @use '01-02-lists' as *;

/// # MAP FUNCTIONS
/// ======================================================================== ///

///
/// Returns an updated version of $defaults based on the contents of $inputs.
///
/// Important: Strings that = 'UNDEFINED' are treated like JS undefined values.
///
/// @param {map}   $defaults   The array of default args.
/// @param {map}   $inputs     The input array passed to the function.
/// @param {?bool} $recursive  Whether to merge the maps recursively. Default false.
///
/// @return {map}  The resulting array with all the $defaults and $inputs props
///                with either default values or input values, as appropriate.
///
/// @since ___PKG_VERSION___
///
@function merge-args($defaults, $inputs, $recursive: false) {
    @return config.config-merge-args($defaults, $inputs, $recursive);
}
