/// 
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 
// @use 'sass:color';
@use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
@use 'sass:meta';
// @use 'sass:selector';
@use 'sass:string';

// @use '01-01-meta' as *;
// @use '01-02-lists' as *;
// @use '01-03-maps' as *;
// @use '01-04-numbers' as *;
// @use '01-05-strings' as *;
// @use '01-06-selectors' as *;
// @use '01-07-colours' as *;
// @use '01-08-accessibility' as *;



/// # TYPOGRAPHY FUNCTIONS
/// ======================================================================== ///


/// 
/// Quotes font names as needed for valid output.
/// 
/// @param {string[]} $fonts  Font names to include.
/// 
/// @returns {list}
/// 
@function font-list( $fonts ) {
    $list: ();

    @if meta.type-of( $fonts ) != list {
        @warn "$fonts should be a list";
        $fonts: ();
    }

    @each $font in $fonts {

        $str: string.unquote( #{$font} );

        @if string.index( $str, ' ' ) != null {
            $str: string.unquote( '"#{$str}"' );
        }

        $list: list.append( $list, $str, $separator: comma );
    }

    @return $list;
}