///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
@use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../config';

// @use '01-01-meta' as *;
// @use '01-02-lists' as *;

/// # MAP FUNCTIONS
/// ======================================================================== ///

///
/// Returns a single-level map with kebab case keys based on nested map keys.
///
/// @param {map}     $map     The map to flatten.
/// @param {?string} $prefix  A prefix to add to all map keys. Default null.
/// @param {?string} $suffix  A suffix to add to all map keys. Default null.
///
/// @return {map}
///
/// @since ___PKG_VERSION___
///
@function map-flatten($map, $prefix: null, $suffix: null) {
    $return: ();

    @each $key, $value in $map {
        @if $prefix {
            $key: '#{$prefix}-#{$key}';
        }
        @if $suffix {
            $key: '#{$key}-#{$suffix}';
        }

        @if meta.type-of($value) == map {
            @each $childKey, $childValue in $value {
                @if meta.type-of($childValue) == map {
                    @each $flatKey, $flatValue in map-flatten($childValue) {
                        $return: map.set(
                            $return,
                            '#{$key}-#{$childKey}-#{$flatKey}',
                            $flatValue
                        );
                    }
                } @else {
                    $return: map.set(
                        $return,
                        '#{$key}-#{$childKey}',
                        $childValue
                    );
                }
            }
        } @else {
            $return: map.set($return, $key, $value);
        }
    }
    @return $return;
}

///
/// Returns an updated version of $defaults based on the contents of $inputs.
///
/// Important: Strings that = 'UNDEFINED' are treated like JS undefined values.
///
/// @param {map}   $defaults   The array of default args.
/// @param {map}   $inputs     The input array passed to the function.
/// @param {?bool} $recursive  Whether to merge the maps recursively. Default false.
///
/// @return {map}  The resulting array with all the $defaults and $inputs props
///                with either default values or input values, as appropriate.
///
/// @since ___PKG_VERSION___
///
@function merge-args($defaults, $inputs, $recursive: false) {
    @return config.config-merge-args($defaults, $inputs, $recursive);
}
