///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///
@use 'sass:math';
// @use 'sass:string';

@function config-round-to-pixel($num, $factor: 16) {
    @return calc(math.round($num * $factor) / $factor);
}
