///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
@use 'sass:meta';
// @use 'sass:string';

///
/// Checks to see if this global variable exists and if so, returns its value,
/// other wise it returns the default value.
///
@function config-internal-set($varName, $defaultValue) {
    // returns
    @if meta.global-variable-exists($varName) {
        @debug #{'meta.global-variable-exists( #{$varName} ) = true'};
        @debug #{'meta.module-variables() = ' + meta.module-variables()};
        @return $defaultValue;
    }

    @debug #{'meta.global-variable-exists( #{$varName} ) = false'};
    @debug #{'to set default value'};
    @return $defaultValue;
}
