///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';

///
/// @since ___PKG_VERSION___
///
@function config-get-template-styles(
    $inputs,
    $include_html,
    $isTemplate,
    $template_tokens,
    $template_globals,
    $template_utils
) {
    @return map.deep-merge(
        (
            blockquote: $template_globals,
            bodyFlow: $template_globals,
            buttons: $template_globals,
            headings: $template_globals,
            normalize: $include_html and $isTemplate,
            pre: $template_globals,
        ),
        $inputs
    );
}
