/// 
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
@use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';


/// 
/// Returns a map of margin tokens for use with this library.
/// 
@function config-token-margins(
    $multiplier,
    $levels,
) {

    $margins: ();

    @each $key, $size in $levels {

        $margins: map.set(
            $margins,
            $key,
            calc(
                math.round(
                    math.pow(
                        $multiplier,
                        $size
                    ) * 1.25 * 16
                ) / 16
            )
        );
    }

    @return $margins;
}