/// 
/// Functions used to validate the config file.
/// 
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 
// @use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';


/// 
/// Returns an updated version of $defaults based on the contents of $inputs.
/// 
/// @param {map} $defaults  The array of default args.
/// @param {map} $inputs    The input array passed to the function.
/// 
/// @return {map}  The resulting array with all the $defaults keys with either 
///                default values or input values, as appropriate.
/// 
@function config-parse-args( $defaults, $inputs ) {

    $inputType: meta.type-of( $inputs );

    // returns
    @if $inputType != map {

        @if $inputType == list or not $inputType {
            @return $defaults;
        }

        @warn "[parse-args] $inputs should be a map (was #{$inputType})";
        @return $defaults;
    }

    $return: ();

    @each $key, $value in $defaults {

        $inputValue: map.get( $inputs, $key );

        $return: map.set( $return, $key, if(
            $inputValue != null,
            $inputValue, // = $key exists in $inputs
            $value // = $key does not exist in $inputs, so set the default
        ) );
    }

    @return $return;
}


/// 
/// Validates the value of a config variable that should be a boolean.
/// 
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
/// 
/// @returns {bool}  
/// 
@function validateBool( $value, $name ) {
    @return if( $value, true, false );
}


$selectorTypes: ( 'attribute', 'class', 'null-selector' );

/// 
/// Validates the value of a config variable that should be a selector type (
/// 
/// @param {any}     $value    The variable's value.
/// @param {string}  $name     The variable's name.
/// @param {?string} $default  Default value to return if $value is invalid.
/// 
@function validateSelectorType(
    $value,
    $name,
    $default: 'null-selector',
) {
    @return validateString(
        $value,
        $name,
        $default,
        $options: $selectorTypes,
    );
}

/// 
/// Validates the value of a config variable that should be a string.
/// 
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
/// 
/// @param {?string} $default  Default value to return if $value is invalid.
/// @param {?list}   $options  Optional. List of allowed values, if any. Default null.
/// 
/// @param {bool}    $allowNullValue  Optional. Whether a null value is considered valid. Default false.
/// 
/// @returns {string}  If $options is a list, the string is one of those values.
/// 
@function validateString(
    $value,
    $name,

    $default,
    $options: null,

    $allowNullValue: false,
) {

    // value is not a string
    @if meta.type-of( $value ) != 'string' {

        @if $value == null {
            @if $allowNullValue {
                @return $value;
            }
        }
        
        @warn "[config] $#{$name} must be a string (not the #{meta.type-of( $value )} '#{$value}')";
        @return $default;
    }

    // options are limited
    @if meta.type-of( $options ) == 'list' and list.length( $options ) > 0 {

        @if list.index( $options, $value ) == null {

            $optsList: ();
            @each $opt in $options {
                $optsList: list.append( $optsList, "'#{$opt}'", comma );
            }
            
            @warn "[config] $#{$name} must be one of: #{$optsList} (not '#{$value}')";
            @return $default;
        }
    }

    @return $value;
}