///
/// Functions used to validate the config file.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
@use 'sass:list';
@use 'sass:map';
@use 'sass:math';
@use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

///
/// Returns an updated version of $defaults based on the contents of $inputs.
///
/// Important: Strings that = 'UNDEFINED' are treated like JS undefined values.
///
/// @param {map}   $defaults   The array of default args.
/// @param {map}   $inputs     The input array passed to the function.
/// @param {?bool} $recursive  Whether to merge the maps recursively. Default false.
///
/// @return {map}  The resulting array with all the $defaults and $inputs props
///                with either default values or input values, as appropriate.
///
@function config-merge-args($defaults, $inputs, $recursive: false) {
    $inputType: meta.type-of($inputs);

    // returns
    @if $inputType != map {
        @if $inputType == list or not $inputType {
            @return $defaults;
        }

        @warn "[merge-args] $inputs should be a map (was #{$inputType})";
        @return $defaults;
    }

    $return: $defaults;

    @each $key, $inputValue in $inputs {
        $defaultValue: map.get($defaults, $key);

        $mergeRecursively: if(
            $recursive and
                (meta.type-of($defaultValue) == map) and
                (meta.type-of($inputValue) == map),
            true,
            false
        );

        @if $inputValue == 'UNDEFINED' {
            // = ignore the $inputValue and maintain the default
        } @else {
            $return: map.set(
                $return,
                $key,
                if(
                    $mergeRecursively,
                    config-merge-args($defaultValue, $inputValue, $recursive),
                    $inputValue
                )
            );
        }
    }

    @return $return;
}

///
/// Validates the value of a config variable that should be a boolean.
///
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
///
/// @returns {bool}
///
@function config-validate-bool($value, $name) {
    @return if($value, true, false);
}

$selectorTypes: ('attribute', 'class', 'null-selector');

///
/// Validates the value of a config variable that should be a selector type (
///
/// @param {any}     $value    The variable's value.
/// @param {string}  $name     The variable's name.
/// @param {?string} $default  Default value to return if $value is invalid.
///
@function config-validate-selector-type(
    $value,
    $name,
    $default: 'null-selector'
) {
    @return config-validate-string(
        $value,
        $name,
        $default,
        $options: $selectorTypes
    );
}

///
/// Validates the value of a config variable that should be a string.
///
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
///
/// @param {?string} $default  Default value to return if $value is invalid.
/// @param {?list}   $options  Optional. List of allowed values, if any. Default null.
///
/// @param {bool}    $allowNullValue  Optional. Whether a null value is considered valid. Default false.
///
/// @returns {string}  If $options is a list, the string is one of those values.
///
@function config-validate-string(
    $value,
    $name,
    $default,
    $options: null,

    $allowNullValue: false
) {
    // value is not a string
    @if meta.type-of($value) != 'string' {
        @if $value == null {
            @if $allowNullValue {
                @return $value;
            }
        }

        @warn "[config] $#{$name} must be a string (not the #{meta.type-of( $value )} '#{$value}')";
        @return $default;
    }

    // options are limited
    @if meta.type-of($options) == 'list' and list.length($options) > 0 {
        @if list.index($options, $value) == null {
            $optsList: ();
            @each $opt in $options {
                $optsList: list.append($optsList, "'#{$opt}'", comma);
            }

            @warn "[config] $#{$name} must be one of: #{$optsList} (not '#{$value}')";
            @return $default;
        }
    }

    @return $value;
}
