///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../config' with (
    $fn_colourMode_selectorsAsChildren: null !default,

    $mx_colourMode_includeQuery: true !default,
    $mx_colourMode_includeSelectors: false !default,
    $mx_colourMode_includeLightModeQuery: null !default,
    $mx_colourMode_includeNoPreferenceQueries: null !default,
    $mx_colourModeCombo_includeForcedColorsSelectors: null !default
);
