///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'functions' as *;

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_baseRem: null !default;
$math_clampFontSize_baseRem: config-valid-number(
    $math_clampFontSize_baseRem,
    'math_clampFontSize_baseRem',
    $default: 1,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_multiplier_max: null !default;
$math_clampFontSize_multiplier_max: config-valid-number(
    $math_clampFontSize_multiplier_max,
    'math_clampFontSize_multiplier_max',
    $default: 1.25,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_multiplier_min: null !default;
$math_clampFontSize_multiplier_min: config-valid-number(
    $math_clampFontSize_multiplier_min,
    'math_clampFontSize_multiplier_min',
    $default: 0.9375,
    $min: 0.1,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$math_clampFontSize_viewport_max: null !default;
$math_clampFontSize_viewport_max: config-valid-number(
    $math_clampFontSize_viewport_max,
    'math_clampFontSize_viewport_max',
    $default: 120,
    $min: 20,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$math_clampFontSize_viewport_min: null !default;
$math_clampFontSize_viewport_min: config-valid-number(
    $math_clampFontSize_viewport_min,
    'math_clampFontSize_viewport_min',
    $default: 25,
    $max: $math_clampFontSize_viewport_max,
    $min: 16,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_fontSize_roundingFactor: null !default;
$math_fontSize_roundingFactor: config-valid-number(
    $math_fontSize_roundingFactor,
    'math_fontSize_roundingFactor',
    $default: 16,
    $min: 1,
    $unit: false
);
