.archive/
.cache/
.snapshots/


# SCRIPTS
# ======= #
.scripts/logs/


# RELEASES
# ======== #
@releases/**/*
!@releases/**/*.zip


# DIST
# ==== #
dist/**/*.css.map
dist/**/*.js.map
dist/**/*.ts.map
dist/**/*.test.d.ts
dist/**/*.test.js


# DOCS
# ==== #


# SRC
# === #
src/ts/functions/sass/@sassFn_Template.ts


# ROOT
# ==== #
.gitcommit.md
.releasenotes.md
/templates
TODO


# MISC
# ==== #
._*
.DS_Store
.smbdelete**

node_modules/
