.cache/**/*
.scripts/**/*
.vscode/**/*
@releases/**/*


# ROOT
# ==== #
.prettierignore
.prettierrc.json
TODO
tsconfig.json


# JUNK
# ==== #
**/._*
**/._**/*
**/.DS_Store
**/.smbdelete*
**/.smbdelete**/*

**/node_modules/**/*
