///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'cx-prop-prefix' with (
    $customPropertyPrefix: '' !default,
    $customPropertyPrefix_fallback: 'fallback-' !default,

    $template_name: 'Demo - Custom Property Prefixes (with fallback)' !default,
    $template_description:
        'This is a sample stylesheet with a custom property prefix and a fallback prefix set in the config (i.e. — $customPropertyPrefix: "", $customPropertyPrefix_fallback: "fallback-").'
        !default
);
