///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config' with (
    $customPropertyPrefix: 'prefix-' !default,

    $isTemplate: true !default,

    $template_name: 'Custom Property Prefixes' !default,
    $template_description:
        'This is a sample stylesheet with a custom property prefix set in the config (i.e. — $customPropertyPrefix: "prefix-").'
        !default,

    $template_cssHeadings: true !default,
    $template_docBlock: true !default,
    $template_extendSelectors: true !default,

    $template_styles: (
        normalize: true,
        reset: true,
    )
    !default,

    $template_title_base: 'Template Demo' !default,

    $selectorType_mode: 'null',
    $selectorType_motion: 'null',

    $fn_var_replaceWithValue_resist: true !default
);

@forward '../../template/default';
