///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward '../../template/default' with (
    $isTemplate: true !default,

    $template_name: 'Default Template' !default,
    $template_description:
        'This is a sample stylesheet using the template with no changes to the default configuration (except $template_globals: true, $template_tokens: true, and $template_utils: true).'
        !default,

    $template_title_base: 'Template Demo' !default,

    $template_globals: true !default,
    $template_tokens: true !default,
    $template_utils: true !default,

    $internal_utilitySass_stylesheetPath: false
);
