///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward '../../template/default/config' with (
    $isTemplate: true !default,

    $template_name: 'Default Template' !default,
    $template_description:
        'This is a sample stylesheet using the template with no changes to the default configuration (except $template_globals: true, $template_tokens: true, and $template_utils: true).'
        !default,

    $template_title_base: 'Template Demo' !default,

    $template_globals: true !default,
    $template_tokens: true !default,
    $template_utils: true !default,

    $internal_utilitySass_stylesheetPath: false
);
@forward '../../tokens';

@forward '../../template/_content/_header';
@forward '../../notice';

@use '../../modules/demo';

@use '../../lib' as *;

@include template-content-abstracts using ($content_args...) {
    /* #{demo.content-args-dump( $content_args, $mixinName: template-content-abstracts )} */
}
@include template-content-globals using ($content_args...) {
    /* #{demo.content-args-dump( $content_args, $mixinName: template-content-globals )} */
}
@include template-content-layouts using ($content_args...) {
    /* #{demo.content-args-dump( $content_args, $mixinName: template-content-layouts )} */
}

@include extend-selectors;
