///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward 'default' with (
    $template_name: 'Demo - Full Template' !default,
    $template_description:
        'This is a sample stylesheet using the default template with almost all options enabled (html, $fn_var_replaceWithValue_resist: true, $mx_tokens_fontSize_printRelative: true).'
        !default,

    $fontSize_base: 1.0625 !default,

    $include_html: true !default,

    $template_cssHeadings: true !default,
    $template_extendSelectors: true !default,

    $template_styles: (
        normalize: true,
        reset: true,
    ),

    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default,

    $fn_var_replaceWithValue_resist: true !default,

    $fn_var_replaceWithValue_borderWidth: false !default,
    $fn_var_replaceWithValue_fontSize: false !default,
    $fn_var_replaceWithValue_lineHeight: false !default,
    $fn_var_replaceWithValue_gap: false !default,
    $fn_var_replaceWithValue_margin: false !default,
    $fn_var_replaceWithValue_strokeRelative: false !default,
    $fn_var_replaceWithValue_width: false !default,

    $mx_reset_headingsByRole: true !default,
    $mx_reset_useHeadingPseudo: true !default,
    $mx_tokens_fontSize_printRelative: true !default
);
