///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@forward '../../index';

// @forward 'functions';
// @forward 'mixins';

// TODO: remove testing
@use '../../index' as utils;

/* test */
@include utils.focus-visible {
    --focus-visible: test;
}

// test.utility-sass.templates.demo {
//     /* this is a test of utils.$scale_multiplier */
//     --content: #{utils.$scale_multiplier};
// }

// @include utils.min-width(tablet) {
//     test.utility-sass.templates.demo {
//         /* I am inside a min-width( tablet ) mixin from utility-sass */
//     }
// }
