///
/// Meant to be an extension of the built-in 'sass:list' module. DO NOT FORWARD.
/// For @use only.
///
/// @module list
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:list';

@forward 'flatten';
@forward 'sort';
@forward 'unique';
