///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
@use 'sass:selector';
// @use 'sass:string';

// @use '../../config';

@use '../../01-functions' as *;

/// # UTILITY MIXINS - Accessibility
/// ======================================================================== ///

/// ## MOTION ==================================== ///

///
/// Nests the content in both a media query and selectors (if appropriate).
///
/// @param {bool} $bool         Whether the selectors for select to include motion (true; `prefers-reduced-motion: no-preference`) or not (falsee; `prefers-reduced-motion: less`).
/// @param {bool} $nestParent   Optional. Whether to nest the parent selector inside the motion selector. Default true.
/// @param {bool} $unifyParent  Optional. Whether to unify the parent selector with the motion selector. Default false.
///
/// @since ___PKG_VERSION___
///
@mixin _any-motion($bool, $nestParent: true, $unifyParent: false) {
    @media ( prefers-reduced-motion: #{if( $bool, 'no-preference', 'less' )} ) {
        @at-root #{selectors-parent-or-body()} {
            @content;
        }
    }
    @at-root #{motion-selector( $bool, $nestParent: $nestParent, $unifyParent: $unifyParent )} {
        @content;
    }
}

///
/// Nests the content in both a media query and selectors (if appropriate).
///
/// @param {bool} $nestParent   Optional. Whether to nest the parent selector inside the motion selector. Default true.
/// @param {bool} $unifyParent  Optional. Whether to unify the parent selector with the motion selector. Default false.
///
/// @since ___PKG_VERSION___
///
@mixin motion($nestParent: true, $unifyParent: false) {
    @include _any-motion(
        true,
        $nestParent: $nestParent,
        $unifyParent: $unifyParent
    ) {
        @content;
    }
}

///
/// Nests the content in both a media query and selectors (if appropriate).
///
/// @param {bool} $nestParent   Optional. Whether to nest the parent selector inside the motion selector. Default true.
/// @param {bool} $unifyParent  Optional. Whether to unify the parent selector with the motion selector. Default false.
///
/// @since ___PKG_VERSION___
///
@mixin no-motion($nestParent: true, $unifyParent: false) {
    @include _any-motion(
        false,
        $nestParent: $nestParent,
        $unifyParent: $unifyParent
    ) {
        @content;
    }
}
