///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';

@use '../../config';

@use '../../01-functions' as *;

/// # UTILITY MIXINS - Feature Check
/// ======================================================================== ///

@function _feature-check-selectors-nesting($selector) {
    // returns
    @if not selectors-parent-exists() {
        @return $selector;
    }

    // returns
    @if selectors-parent-is-root() {
        @return selector.unify(&, $selector);
    }

    $parentSelector: #{&};

    $parentIsModeOrBodySelector: if(
        (
            selectors-parent-is-body() or
                string.index($parentSelector, '[data-motion=') != null or
                string.index($parentSelector, '[data-brightness-mode=') != null
                or string.index($parentSelector, '[data-contrast-mode=') != null
        ),
        true,
        false
    );

    // returns
    @if $parentIsModeOrBodySelector {
        @return (selector.nest($selector, &), selector.unify(&, $selector));
    }

    @return selector.nest($selector, &);
}

@function _feature-check-selectors($key, $bool) {
    @return _feature-check-selectors-nesting(
        ((string.unquote(':where( .js__#{if( $bool, '', 'no-' )}#{$key} )')))
    );
}

@mixin js {
    @if config.$include_featureCheck {
        @at-root #{_feature-check-selectors-nesting( selector.parse(":where( .js )" ) )} {
            @content;
        }
    }
}
@mixin no-js {
    @if config.$include_featureCheck {
        @at-root #{_feature-check-selectors-nesting( ( string.unquote( ".no-js" ), string.unquote( ".js__no-where-selector" ) ) )} {
            @content;
        }
    } @else {
        @content;
    }
}

@mixin js-support($key) {
    @if config.$include_featureCheck {
        @if $key == whereSelector {
            @include js {
                @content;
            }
        } @else {
            @at-root #{_feature-check-selectors( $key, true )} {
                @content;
            }
        }
    }
}

@mixin js-no-support($key) {
    @if config.$include_featureCheck {
        @include no-js {
            @content;
        }

        @if $key != whereSelector {
            @at-root #{_feature-check-selectors( $key, false )} {
                @content;
            }
        }
    } @else {
        @content;
    }
}
