///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
@use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
@use 'sass:meta';
@use 'sass:selector';
@use 'sass:string';

@use '../../config';

@use '../../01-functions' as *;

// @use '02-01-01-accessibility' as *;
// @use '02-01-02-breakpoints' as *;
@use '02-01-03-feature-check' as *;

/// # UTILITY MIXINS - Fallbacks
/// ======================================================================== ///

/// ## Focus & Hover ==================================== ///

///
/// To be nested IN the target element to add a fallback for `focus-visible` (and
/// `focus-visible`, plus any additional selectors).
///
/// @since ___PKG_VERSION___
///
@mixin focus-visible(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    // force fallbacks only when applicable
    @if not config.$include_featureCheck {
        $fallbacksOnly: true;
    }

    $focus: (string.unquote(':focus'));
    $focusVisible: (string.unquote(':focus-visible'));

    @if $includeParentSelector and selectors-parent-exists() {
        $focus: selector.unify(&, $focus);
        $focusVisible: selector.unify(&, $focusVisible);
    }

    @at-root {
        @if $includeFallbacks {
            #{$focus} {
                @include js-no-support('focus-visible') {
                    @content;
                }
            }
        }

        @if not $fallbacksOnly {
            #{$focusVisible} {
                @content;
            }

            @if list.length($addSelectors) > 0 {
                #{$addSelectors} {
                    @content;
                }
            }
        }
    }
}

///
/// For setting `focus-visible` and `focus-within`, with fallback for
/// `focus-visible` and `focus-within` is set separately for slightly better
/// compatibility.
///
/// @since ___PKG_VERSION___
///
@mixin focus-visible-or-within(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    // force fallbacks only when applicable
    @if not config.$include_featureCheck {
        $fallbacksOnly: true;
    }

    @include focus-visible(
        $addSelectors: $addSelectors,
        $includeFallbacks: $includeFallbacks,
        $fallbacksOnly: $fallbacksOnly,
        $includeParentSelector: $includeParentSelector
    ) {
        @content;
    }

    $focusWithin: (string.unquote(':focus-within'));

    @if $includeParentSelector and selectors-parent-exists() {
        $focusWithin: selector.unify(&, $focusWithin);
    }

    @at-root {
        @if $includeFallbacks and $fallbacksOnly {
            #{$focusWithin} {
                @include js-no-support('focus-visible') {
                    @content;
                }
            }
        }

        @if not $fallbacksOnly {
            #{$focusWithin} {
                @content;
            }
        }
    }
}

///
/// Adds `hover` to `focus-visible` mixin.
///
/// @since ___PKG_VERSION___
///
@mixin hover-focus-visible(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    // force fallbacks only when applicable
    @if not config.$include_featureCheck {
        $fallbacksOnly: true;
    }

    $hover: (string.unquote(':hover'));

    @if $includeParentSelector and selectors-parent-exists() {
        $hover: selector.unify(&, $hover);
    }

    @include focus-visible(
        list.join($hover, $addSelectors, $separator: comma),
        $includeFallbacks: $includeFallbacks,
        $fallbacksOnly: $fallbacksOnly
    ) {
        @content;
    }
}

///
/// Adds `hover` to `focus-visible-or-within` mixin.
///
/// @since ___PKG_VERSION___
///
@mixin hover-focus-visible-or-within(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    // force fallbacks only when applicable
    @if not config.$include_featureCheck {
        $fallbacksOnly: true;
    }

    $hover: (string.unquote(':hover'));

    @if $includeParentSelector and selectors-parent-exists() {
        $hover: selector.unify(&, $hover);
    }

    @include focus-visible-or-within(
        list.join($hover, $addSelectors, $separator: comma),
        $includeFallbacks: $includeFallbacks,
        $fallbacksOnly: $fallbacksOnly
    ) {
        @content;
    }
}

@mixin _hover(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    @if $includeParentSelector and selectors-parent-exists() {
        &:hover {
            @content;
        }
    } @else {
        :hover {
            @content;
        }
    }
}
@mixin _hover-focus-within(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    @if $includeParentSelector and selectors-parent-exists() {
        &:hover {
            @content;
        }
        &:focus-within {
            @content;
        }
    } @else {
        :hover {
            @content;
        }
        :focus-within {
            @content;
        }
    }
}
@mixin _focus-within(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    @if $includeParentSelector and selectors-parent-exists() {
        &:hover {
            @content;
        }
        &:focus-within {
            @content;
        }
    } @else {
        :hover {
            @content;
        }
        :focus-within {
            @content;
        }
    }
}
@mixin _nothing(
    $addSelectors: (),
    $includeFallbacks: config.$mx_interactive_states_include_fallbacks,
    $fallbacksOnly: config.$mx_interactive_states_include_fallbacks_only,
    $includeParentSelector: true
) {
    #{config.$selector_null} {
        @content;
    }
}

///
/// Fetches the appropriate mixin depending on input values.
///
/// @since ___PKG_VERSION___
///
@mixin apply-interactive-mixin(
    $hover: false,
    $focus: false,
    $focusWithin: false,
    $args...
) {
    $args: meta.keywords($args);
    $mixin: meta.get-mixin('_nothing');

    @if $hover and $focus and $focusWithin {
        $mixin: meta.get-mixin('hover-focus-visible-or-within');
    } @else if $hover and $focus and not $focusWithin {
        $mixin: meta.get-mixin('hover-focus-visible');
    } @else if $hover and not $focus and $focusWithin {
        $mixin: meta.get-mixin('_hover-focus-within');
    } @else if $hover and not $focus and not $focusWithin {
        $mixin: meta.get-mixin('_hover');
    } @else if not $hover and $focus and $focusWithin {
        $mixin: meta.get-mixin('focus-visible-or-within');
    } @else if not $hover and $focus and not $focusWithin {
        $mixin: meta.get-mixin('focus-visible');
    } @else if not $hover and not $focus and $focusWithin {
        $mixin: meta.get-mixin('_focus-within');
    }

    @if meta.accepts-content($mixin) {
        @include meta.apply($mixin, $args...) {
            @content;
        }
    }
}
