///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

@use '../modules/map';

@use '../config';
// @use 'functions' as *;

/// # TOKENS - ANIMATION
/// ======================================================================== ///

///
/// A map (merged with the defaults) of transition-time values used as tokens
/// throught the system.
///
/// Default keys are 'fast', 'normal', 'slow'.
///
/// @since ___PKG_VERSION___
///
$transition_times: () !default;

$transition_times: map.merge(
    (
        'fast': 250ms,
        'normal': 500ms,
        'slow': 750ms,
    ),
    $transition_times
);
