///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

// @use '../config';

@use '../modules/map';
@use '../modules/math';

// @use 'functions' as *;

///
/// A map (merged with the defaults) of border-width values used as tokens throught
/// the system.
///
/// Default keys are '100', '200', '300', '400'. After
/// merging, values are rounded with math.round-to-pixel().
///
/// @since 0.1.0-pre.0
///
$border_widths: () !default;

$border_widths: map.merge(
    (
        '100': 0.0625,
        '200': 0.125,
        '300': 0.1875,
        '400': 0.25,
    ),
    $border_widths
);

@each $key, $size in $border_widths {
    $border_widths: map.set(
        $border_widths,
        $key,
        math.round-to-pixel($size, 32)
    );
}

///
/// A map (merged with the defaults) of border-width values used as tokens throught
/// the system.
///
/// Default keys are '100', '200', '300', '400'. After
/// merging, values are rounded with math.round-to-pixel().
///
/// @since 0.1.0-pre.0
///
$strokes_relative: () !default;

$strokes_relative: map.merge(
    (
        '100': calc(0.5 / 16),
        '200': calc(1 / 16),
        '400': calc(2 / 16),
        '600': calc(3 / 16),
        '800': calc(4 / 16),
        '900': calc(6 / 16),
    ),
    $strokes_relative
);

@each $key, $size in $strokes_relative {
    $strokes_relative: map.set(
        $strokes_relative,
        $key,
        math.round-to-pixel($size, 32)
    );
}
