///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../config';
// @use 'functions' as *;

/// # TOKENS - BORDERS
/// ======================================================================== ///

///
/// A map (merged with the defaults) of border-radius values used as tokens
/// throught the system.
///
/// Default keys are '100', '200', '400'. After merging, values are rounded with
/// config-round-to-pixel().
///
/// @since ___PKG_VERSION___
///
$border_radii: () !default;

$border_radii: config.config-merge-args(
    (
        '100': 0.25,
        // '150': 0.3125,
        '200': 0.375,
        // '300': 0.5,
        '400': 0.625,
        // '500': 0.75,
         // '600': 0.875,
    ),
    $border_radii
);

@each $key, $size in $border_radii {
    $border_radii: map.set(
        $border_radii,
        $key,
        config.config-round-to-pixel($size, 32)
    );
}

///
/// A map (merged with the defaults) of border-width values used as tokens throught
/// the system.
///
/// Default keys are '100', '200', '300', '400'. After
/// merging, values are rounded with config-round-to-pixel().
///
/// @since ___PKG_VERSION___
///
$border_widths: () !default;

$border_widths: config.config-merge-args(
    (
        '100': 0.0625,
        '200': 0.125,
        '300': 0.1875,
        '400': 0.25,
    ),
    $border_widths
);

@each $key, $size in $border_widths {
    $border_widths: map.set(
        $border_widths,
        $key,
        config.config-round-to-pixel($size, 32)
    );
}

/// ## Strokes - Relative ==================================== ///

///
/// A map (merged with the defaults) of stroke-relative values used as tokens
/// throught the system.
///
/// Default keys are '100', '200', '400', '600', '800', '900'. After merging,
/// values are rounded with config-round-to-pixel().
///
/// @since ___PKG_VERSION___
///
$strokes_relative: () !default;

$strokes_relative: config.config-merge-args(
    (
        '100': calc(0.5 / 16),
        '200': calc(1 / 16),
        '400': calc(2 / 16),
        '600': calc(3 / 16),
        '800': calc(4 / 16),
        '900': calc(6 / 16),
    ),
    $strokes_relative
);

@each $key, $size in $strokes_relative {
    $strokes_relative: map.set(
        $strokes_relative,
        $key,
        config.config-round-to-pixel($size, 32)
    );
}
