///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved fron config to tokens.
///

@use '../config';

@use '../modules/map';
@use '../modules/math';

@use 'spacing';
@use 'width';

/// # TOKENS - BREAKPOINTS
/// ======================================================================== ///

$_width_content: map.get(width.$width, 'content');
$_width_page: map.get(width.$width, 'page');
$_width_sidebar: map.get(width.$width, 'sidebar');

$_gap_percent: calc(map.get(spacing.$gap, inline, layout) / 100);

$_viewport_percent_minus_gutter: 1 - $_gap_percent;

$_viewport_percent_minus_gap: 1 - (config.$fn_breakpoints_gapDoubler * $_gap_percent);

@function _breakpoint-maker($num) {
    @return calc($num/$_viewport_percent_minus_gap);
}

///
/// A map (merged with the defaults) of breakpoints used with the breakpoint
/// mixins and --width-X properties.
///
/// Default keys are 'mobile', 'tablet', and 'indent'. After merging, values are
/// rounded with config-round-to-pixel().
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved from config to tokens.
///
$breakpoints: () !default;

$breakpoints: map.merge(
    (
        'mobile': 25,
        'tablet': 50,

        'content': _breakpoint-maker($_width_content),
        'page': _breakpoint-maker($_width_page),
        // 'sidebar': _breakpoint-maker($_width_page * config.$fn_breakpoints_sidebarMultiplier),
        'sidebar': _breakpoint-maker(
                calc(
                    (
                            ($_width_content * config.$fn_breakpoints_sidebarMultiplier) +
                                $_width_sidebar
                        ) /
                        $_viewport_percent_minus_gutter
                )
            ),
        'indent': _breakpoint-maker(map.get(width.$width, 'callout')),
    ),
    $breakpoints,
    $recursive: true
);

@each $key, $value in $breakpoints {
    $breakpoints: map.set(
        $breakpoints,
        $key,
        math.round-to-pixel($value, $factor: config.$fn_breakpointValue_roundToPixelFactor)
    );
}
