///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../config';
// @use 'functions' as *;

/// # TOKENS - CUSTOM
/// ======================================================================== ///

$customTokens: () !default;

$customTokens: config.config-merge-args((), $customTokens, $recursive: true);
