///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

// @use '../config';

@use '../modules/map';

// @use 'functions' as *;

/// # TOKENS - CUSTOM
/// ======================================================================== ///

$internal_customTokensDefault: () !default;

$internal_customTokensDefault: map.merge(
    (),
    map.flatten($internal_customTokensDefault),
    $recursive: true
);

$customTokens: () !default;

$customTokens: map.merge(
    map.flatten($internal_customTokensDefault),
    map.flatten($customTokens),
    $recursive: true
);
