///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

// @use '../config';

@use '../modules/map';

// @use 'functions' as *;

/// # TOKENS - MISC
/// ======================================================================== ///

///
/// A map (merged with the defaults) of z-index values used as tokens throught
/// the system.
///
/// Default keys are 'nav', 'settings', 'skip-link'.
///
/// @since ___PKG_VERSION___
///
$z_indices: () !default;

$z_indices: map.merge(
    (
        'nav': 1000,
        'settings': 9999,
        'skip-link': 99999,
    ),
    $z_indices
);
