///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../modules/list';

@use '../config';
// @use '../functions' as *;

/// # TOKENS - MODES
/// ======================================================================== ///

$_brightnessMode_options: ('light', 'dark');
$_contrastMode_options: ('average', 'low', 'high', 'forced-colors');

///
/// All brightness modes to include in the output stylesheet.
///
/// @default ('light', 'dark')
///
/// @since ___PKG_VERSION___
///
$brightnessMode_all: $_brightnessMode_options !default;
$brightnessMode_all: config.config-valid-list-strings(
    $brightnessMode_all,
    'brightnessMode_all',
    $_brightnessMode_options,
    $options: $_brightnessMode_options,
    $allowEmptyList: false
);

///
/// All contrast modes to include in the output stylesheet.
///
/// @default ('average', 'low', 'high', 'forced-colors')
///
/// @since ___PKG_VERSION___
///
$contrastMode_all: $_contrastMode_options !default;
$contrastMode_all: config.config-valid-list-strings(
    $contrastMode_all,
    'contrastMode_all',
    $_contrastMode_options,
    $options: $_contrastMode_options,
    $allowEmptyList: false
);

///
/// The default brightness mode when none is explicitly set.
///
/// @since ___PKG_VERSION___
///
$brightnessMode_default: null !default;
$brightnessMode_default: config.config-valid-string(
    $value: $brightnessMode_default,
    $name: 'brightnessMode_default',
    $default: list.nth($brightnessMode_all, 1),
    $options: $brightnessMode_all,
);

///
/// The default contrast mode when none is explicitly set.
///
/// @since ___PKG_VERSION___
///
$contrastMode_default: null !default;
$contrastMode_default: config.config-valid-string(
    $value: $contrastMode_default,
    $name: 'contrastMode_default',
    $default: list.nth($contrastMode_all, 1),
    $options: $contrastMode_all,
);
