///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../config';

@use '../modules/map';
@use '../modules/math';

@use 'margins';

/// # TOKENS - TYPOGRAPHY
/// ======================================================================== ///

/// ## Font Sizes ==================================== ///

///
/// A map (merged with the defaults) of font size multipliers (0 = base size)
/// used with the font size mixins and --fs-X properties.
///
/// @since ___PKG_VERSION___
///
$font_sizes: () !default;

$font_sizes: map.merge(
    map.flatten(
        (
            'title': 7,

            'heading': (
                '1': 6,
                '2': 5,
                '3': 4,
                '4': 3.5,
                '5': 2,
                '6': 1,
            ),

            'smaller': (
                // '5': -3.0,
                // '4': -2.5,
                // '3': -2.0,
                '2': -1.25,
                '1': -0.5,
            ),

            'normal': 0,

            'bigger': (
                '1': 1,
                '2': 2,
                '3': 3,
                '4': 4,
                '5': 5,
                '6': 6,
                // '7': 7,
                // '8': 8,
                 // '9': 9,
            ),
        )
    ),
    map.flatten($font_sizes),
    $recursive: true
);

@each $key, $value in $font_sizes {
    $font_sizes: map.set(
        $font_sizes,
        $key,
        math.round-to-pixel(math.pow(margins.$scale_multiplier, $value))
    );
}

/// ## Line Heights ==================================== ///

///
/// Base line height used to build other levels.
///
/// @since ___PKG_VERSION___
///
$line_height_base: 1.6875 !default;

///
/// A map (merged with the defaults) of line height multipliers (0 = base lh)
/// used with the line heights mixins and --line-height-X properties.
///
/// @since ___PKG_VERSION___
///
$line_heights: () !default;

$line_heights: map.merge(
    (
        '100': -2.75,
        '200': -2,
        '300': -1.25,
        '400': 0,
        '500': 1,
        '600': 2,
    ),
    $line_heights
);

@each $key, $value in $line_heights {
    $lh: (
        math.pow(margins.$scale_multiplier, $value * 0.875) * $line_height_base
    );

    $line_heights: map.set($line_heights, $key, math.round-to-pixel($lh, 32));
}
