///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use '../config';

@use '../modules/map';
@use '../modules/math';

@use 'functions' as *;

@use 'spacing';

/// # CONFIG - WIDTHS
/// ======================================================================== ///

$_widths_content: 36;
$_widths_sidebar: 18;

///
/// A map (merged with the defaults) of width used throughout.
///
/// Default keys are 'content' and 'sidebar'. After merging, values are
/// rounded with math.round-to-pixel().
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved from config to tokens.
///
$width: () !default;

$width: map.merge(
    (
        'content': $_widths_content,
        'sidebar': $_widths_sidebar,

        'callout': if(
                map.has-key($width, 'content'),
                map.get($width, 'content'),
                $_widths_content
            ) *
            math.div(100 - math.deunit(map.get(spacing.$gap, inline, indent)) * 3, 100),
    ),
    $width,
    $recursive: true
);

$_viewport_percent_minus_gutter: 1 - math.div(map.get(spacing.$gap, inline, layout), 100);

$width: map.set(
    $width,
    'page',
    math.div(
        map.get($width, 'content') + map.get($width, 'sidebar'),
        $_viewport_percent_minus_gutter
    )
);

@each $key, $value in $width {
    $width: map.set($width, $key, math.round-to-pixel($value));
}
