///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use '../modules/map';
@use '../modules/math';

@use 'functions' as *;

/// # CONFIG - WIDTHS
/// ======================================================================== ///

$_widths_content: 36;
$_widths_sidebar: 18;

///
/// A map (merged with the defaults) of widths used throughout.
///
/// Default keys are 'content' and 'sidebar'. After merging, values are
/// rounded with math.round-to-pixel().
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved from config to tokens.
///
$widths: () !default;

$widths: map.merge(
    (
        'content': $_widths_content,
        'sidebar': $_widths_sidebar,

        'callout': calc(
                if(map.has-key($widths, 'mobile'), map.get($widths, 'mobile'), $_widths_content) *
                    0.8125
            ),
    ),
    $widths,
    $recursive: true
);

$widths: map.set(
    $widths,
    'page',
    calc(map.get($widths, 'content') + map.get($widths, 'sidebar') + 6)
);

@each $key, $value in $widths {
    $widths: map.set($widths, $key, math.round-to-pixel($value));
}
