///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use '../config';

@use '../meta';
@use '../selector';

@use 'args-dump';

@mixin _apply-mixin--content(
    $args,
    $callSignature,
    $getMixin,
    $mixinName,
    $separateSignature,
    $signatureAsRegion,
    $signatureAtRoot
) {
    @if $separateSignature {
        @content;
    } @else {
        @include _signature(
            $args: $args,
            $callSignature: $callSignature,
            $getMixin: $getMixin,
            $mixinName: $mixinName,
            $separateSignature: $separateSignature,
            $signatureAsRegion: $signatureAsRegion,
            $signatureAtRoot: $signatureAtRoot
        ) {
            @content;
        }
    }
}

@mixin _apply-mixin(
    $acceptsContent,
    $args,
    $callSignature,
    $getMixin,
    $includeNameWithContent,
    $mixinName,
    $parentSelector_dump,
    $separateSignature,
    $signatureAsRegion,
    $signatureAtRoot
) {
    @if $acceptsContent {
        $_contentRule_mixinName: if($includeNameWithContent, $mixinName, null);

        @include meta.apply($getMixin, $args...) using ($content_args...) {
            @include _apply-mixin--content(
                $args: $args,
                $callSignature: $callSignature,
                $getMixin: $getMixin,
                $mixinName: $mixinName,
                $separateSignature: $separateSignature,
                $signatureAsRegion: $signatureAsRegion,
                $signatureAtRoot: $signatureAtRoot
            ) {
                /* #{args-dump.content-args-dump($content_args, $mixinName: $_contentRule_mixinName)} */
                @if $parentSelector_dump {
                    @include meta.var-dump('&', &);
                }
                @content;
            }
        }
    } @else {
        @include meta.apply($getMixin, $args...);
        @content;
    }
}

@mixin _signature(
    $args,
    $callSignature,
    $getMixin,
    $mixinName,
    $separateSignature,
    $signatureAsRegion,
    $signatureAtRoot
) {
    @if $signatureAtRoot {
        @at-root {
            @if $signatureAsRegion {
                /* #region #{$callSignature} */
            } @else {
                /* #{$callSignature} */
            }
        }
    } @else {
        @if $signatureAsRegion {
            /* #region #{$callSignature} */
        } @else {
            /* #{$callSignature} */
        }
    }

    @content;

    @if $signatureAsRegion {
        @if $signatureAtRoot {
            @at-root {
                /* #endregion #{$callSignature} */
            }
        } @else {
            /* #endregion #{$callSignature} */
        }
    }
}

@mixin _mixin--total-wrapper($mixinName, $wrapOutput) {
    @if selector.parent-exists() {
        $sel: &;
        @at-root {
            #{$sel} {
                @if $wrapOutput {
                    @include meta.at(demo, '( mixin: #{$mixinName} )') {
                        @content;
                    }
                } @else {
                    @content;
                }
            }
        }
    } @else {
        @at-root {
            @if $wrapOutput {
                @include meta.at(demo, '( mixin: #{$mixinName} )') {
                    @content;
                }
            } @else {
                @content;
            }
        }
    }
}

///
/// Created for internal mixin demos - displays the mixin signature as called
/// with a var-dump of the arguments, if any.
///
/// @since ___PKG_VERSION___
///
@mixin mixin(
    $mixinName,
    $getMixin,
    $args: meta.arglist(),
    $displayOutput_callSignature: config.$demo_displayOutput_callSignature,
    $includeNameWithContent: config.$demo_includeNameWithContent,
    $parentSelector_dump: config.$demo_parentSelector_dump,
    $separateSignature: config.$demo_separateSignature,
    $signatureAsRegion: config.$demo_signatureAsRegion,
    $signatureAtRoot: config.$demo_signatureAtRoot,
    $wrapOutput: config.$demo_wrapOutput
) {
    $getMixin: config.config-valid-mixin(
        $getMixin,
        'getMixin',
        $default: null,
        $prefix: '[meta.mixin] ',
        $warnOnWrongType: true
    );

    @if $getMixin {
        $acceptsContent: meta.accepts-content($getMixin);
        $callSignature: args-dump.mixin-signature-dump(
            $mixinName: $mixinName,
            $args: $args,
            $getMixin: $getMixin,
        );

        @if not $acceptsContent {
            $separateSignature: true;
        }

        @include _mixin--total-wrapper($mixinName: $mixinName, $wrapOutput: $wrapOutput) {
            @if $wrapOutput and not $signatureAsRegion {
                $_demoName: #{$mixinName};

                @if $separateSignature {
                    @if $parentSelector_dump {
                        @include meta.var-dump('&', &);
                    }
                    @include _signature(
                        $args: $args,
                        $callSignature: $callSignature,
                        $getMixin: $getMixin,
                        $mixinName: $mixinName,
                        $separateSignature: $separateSignature,
                        $signatureAsRegion: $signatureAsRegion,
                        $signatureAtRoot: $signatureAtRoot
                    ) {
                        @include meta.at(demo, output) {
                            @if $displayOutput_callSignature {
                                /* #{$callSignature} */
                            }

                            @include _apply-mixin(
                                $acceptsContent: $acceptsContent,
                                $args: $args,
                                $callSignature: $callSignature,
                                $getMixin: $getMixin,
                                $includeNameWithContent: $includeNameWithContent,
                                $mixinName: $mixinName,
                                $parentSelector_dump: $parentSelector_dump,
                                $separateSignature: $separateSignature,
                                $signatureAsRegion: $signatureAsRegion,
                                $signatureAtRoot: $signatureAtRoot
                            ) {
                                @content;
                            }
                        }
                    }
                } @else {
                    @include meta.at(demo, output) {
                        @if $parentSelector_dump {
                            @include meta.var-dump('&', &);
                        }
                        @if $displayOutput_callSignature {
                            /* #{$callSignature} */
                        }

                        @include _apply-mixin(
                            $args: $args,
                            $callSignature: $callSignature,
                            $getMixin: $getMixin,
                            $acceptsContent: $acceptsContent,
                            $includeNameWithContent: $includeNameWithContent,
                            $mixinName: $mixinName,
                            $parentSelector_dump: $parentSelector_dump,
                            $separateSignature: $separateSignature,
                            $signatureAsRegion: $signatureAsRegion,
                            $signatureAtRoot: $signatureAtRoot
                        ) {
                            @content;
                        }
                    }
                }
            } @else {
                @if $parentSelector_dump {
                    @include meta.var-dump('&', &);
                }

                @if $separateSignature {
                    @include _signature(
                        $args: $args,
                        $callSignature: $callSignature,
                        $getMixin: $getMixin,
                        $mixinName: $mixinName,
                        $separateSignature: $separateSignature,
                        $signatureAsRegion: $signatureAsRegion,
                        $signatureAtRoot: $signatureAtRoot
                    ) {
                        @include _apply-mixin(
                            $acceptsContent: $acceptsContent,
                            $args: $args,
                            $callSignature: $callSignature,
                            $getMixin: $getMixin,
                            $includeNameWithContent: $includeNameWithContent,
                            $mixinName: $mixinName,
                            $parentSelector_dump: $parentSelector_dump,
                            $separateSignature: $separateSignature,
                            $signatureAsRegion: $signatureAsRegion,
                            $signatureAtRoot: $signatureAtRoot
                        ) {
                            @content;
                        }
                    }
                } @else {
                    @include _apply-mixin(
                        $acceptsContent: $acceptsContent,
                        $args: $args,
                        $callSignature: $callSignature,
                        $getMixin: $getMixin,
                        $includeNameWithContent: $includeNameWithContent,
                        $mixinName: $mixinName,
                        $parentSelector_dump: $parentSelector_dump,
                        $separateSignature: $separateSignature,
                        $signatureAsRegion: $signatureAsRegion,
                        $signatureAtRoot: $signatureAtRoot
                    ) {
                        @content;
                    }
                }
            }
        }
    }
}
