///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../config';

// @use '../../01-functions' as *;

// @use '../02-01-utilities' as *;
// @use '../02-02-theming' as *;

// @use '02-03-01-utilities' as *;
@use '02-03-02-tokens' as *;
@use '02-03-03-custom' as *;

/// # PROPERTY MIXINS - ALL
/// ======================================================================== ///

///
/// Prints out all the custom properties included in this system.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-all(
    $borderRadius: true,
    $borderWidth: true,
    $custom: true,
    $fontSize: true,
    $lineHeight: true,
    $margins: true,
    $strokeRelative: true,
    $trTime: true,
    $widths: true,
    $zIndex: true
) {
    // $selector: selectors-parent-or-root();

    // spacing
    @if $widths {
        @include tokens-widths;
    }
    @if $margins {
        @include tokens-margins;
    }

    // typography
    @if $fontSize {
        @include tokens-font-size;
    }
    @if $lineHeight {
        @include tokens-line-height;
    }

    // decoration
    @if $borderRadius {
        @include tokens-border-radius;
    }
    @if $borderWidth {
        @include tokens-border-width;
    }
    @if $strokeRelative {
        @include tokens-stroke-relative;
    }
    @if $trTime {
        @include tokens-tr-time;
    }
    @if $zIndex {
        @include tokens-z-index;
    }

    // custom
    @if $custom {
        @include tokens-custom;
    }
}
