///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../../config';
@use '../../tokens';

@use '../../01-functions' as *;

// @use '../02-01-utilities' as *;
// @use '../02-02-theming' as *;

// @use '02-03-01-utilities' as *;

/// # PROPERTY MIXINS - Tokens
/// ======================================================================== ///

///
/// Prints out the font size custom property tokens based on config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-font-size {
    /* #region Tokens - Font Size */
    #{selectors-parent-or-root()} {
        @each $slug, $_value in tokens.$font_sizes {
            @each $value in fs-value($slug) {
                --fs-#{$slug}: #{$value};
            }
        }
    }
    /* #endregion Tokens - Font Size */
}

///
/// Prints out the line height custom property tokens based on config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-line-height {
    /* #region Tokens - Line Heights */
    #{selectors-parent-or-root()} {
        @each $slug, $_value in tokens.$line_heights {
            --line-height-#{$slug}: #{line-height-value($slug)};
        }
    }
    /* #endregion Tokens - Line Heights */
}

///
/// Prints out the margin custom property tokens based on config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-margins {
    $selector: selectors-parent-or-root();

    /* #region Tokens - Margin */
    #{$selector} {
        @each $level, $_value in tokens.$margins {
            --mrg-firm-#{$level}: #{mrg-value-firm($level)}rem;
        }
    }

    #{$selector} {
        @each $level, $_value in tokens.$margins {
            --mrg-soft-#{$level}: #{mrg-value-soft($level)}rem;
        }
    }

    #{$selector} {
        @each $level, $_value in tokens.$margins {
            --mrg-half-#{$level}: #{mrg-value-half($level)}rem;
        }
    }
    /* #endregion Tokens - Margin */
}

///
/// Prints out the width custom property tokens based on breakpoints config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-widths {
    /* #region Tokens - Width */
    #{selectors-parent-or-root()} {
        @each $slug, $_value in config.$widths {
            @each $value in width-value($slug) {
                --width-#{$slug}: #{$value};
            }
        }
    }
    /* #endregion Tokens - Width */
}
