///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../config';

// @use '../../01-functions' as *;

// @use '../02-01-utilities' as *;
// @use '../02-02-theming' as *;

// @use '02-03-01-utilities' as *;
@use '02-03-02-tokens' as *;
// @use '02-03-03-custom' as *;

/// # PROPERTY MIXINS - ALL
/// ======================================================================== ///

///
/// Prints out all the custom properties included in this system.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-all {
    // $selector: selectors-parent-or-root();

    @include tokens-widths;
    @include tokens-margins;
    @include tokens-font-size;
    @include tokens-line-height;
}
