///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../config';

@use '../../01-functions' as *;

// @use '../02-01-utilities' as *;
// @use '../02-02-theming' as *;

// @use '02-03-01-utilities' as *;
// @use '02-03-02-tokens' as *;

/// # PROPERTY MIXINS - Custom
/// ======================================================================== ///

///
/// Prints out the border width custom property tokens based on config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-custom {
    /* #region Tokens - Custom */
    #{selectors-parent-or-root()} {
        @each $slug, $_value in custom-token-map() {
            --tkn-#{$slug}: #{$_value};
        }
    }
    /* #endregion Tokens - Custom */
}
