///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
@use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../config';

@use '../../01-functions' as *;

// @use '../02-01-utilities' as *;
// @use '../02-02-theming' as *;

// @use '02-03-01-utilities' as *;
// @use '02-03-02-tokens' as *;

/// # PROPERTY MIXINS - Custom
/// ======================================================================== ///

///
/// Prints out the border width custom property tokens based on config.
///
/// @since ___PKG_VERSION___
///
@mixin tokens-custom($tokens: null) {
    //
    $tokens: if($tokens == null, custom-token-map(), $tokens);

    @if list.length(map.keys($tokens)) >0 {
        /* #region Tokens - Misc. */
        #{selectors-parent-or-root()} {
            @each $slug, $_value in $tokens {
                --#{$slug}: #{$_value}; /* #{var-custom-token($slug)} */
            }
        }
        /* #endregion Tokens - Misc. */
    }
}
