///
/// Meant to be an extension of the built-in 'sass:map' module. DO NOT FORWARD.
/// For @use only.
///
/// @module map
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:map' hide deep-merge, merge;

@forward 'flatten';
@forward 'ksort';
@forward 'merge';
