///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
///
/// @since 0.1.0-alpha.29
/// @since ___PKG_VERSION___ — Moved from lib to meta module.
///

@use 'sass:meta';
@use 'sass:string';

@use 'global-compiler-fn';
@use 'var-dump';

///
/// Uses a global function to output a vardump to the console.
///
/// @since 0.1.0-alpha.29
/// @since ___PKG_VERSION___ — Moved from lib to meta module. Added optional $useUniqueID param.
///
@function js-var-dump($var, $name: 'var', $level: 1, $useUniqueID: false) {
    $function: 'mmutils-global-jsVarDump';

    // returns
    @if meta.function-exists($function) {
        @return global-compiler-fn.call-global-compiler-fn(
            $function,
            'meta.js-var-dump',
            $isRequired: false,
            //
            $uniqueID: if($useUniqueID, string.unique-id(), ''),
            $value: $var,
            $name: $name,
            $level: $level
        );
    }

    $_dump: var-dump.var-dump($var);

    @debug '#{$name} = #{$_dump}';
    @return $_dump;
}
