///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

@use 'var-dump';

///
/// Created for internal mixin demos - displays
///
/// @since ___PKG_VERSION___
///
@mixin mixin-demo($mixin, $getMixin, $args...) {
    $args: meta.keywords($args);

    $_argsList: ();
    $_argsDumpList: ();

    @each $param, $value in $args {
        $_argsList: map.set($_argsList, $param, $value);
        $_argsDumpList: map.set($_argsDumpList, '$#{$param}', $value);
    }

    $_varDumpArgsList: if(
        list.length($_argsDumpList) < 1,
        '()',
        var-dump.var-dump($_argsDumpList, $withType: false, $keys_neverQuote: true)
    );

    $_comment: '@include #{$mixin}#{$_varDumpArgsList}';

    @if meta.accepts-content($getMixin) {
        @include meta.apply($getMixin, $_argsList...) {
            /* #{$_comment} */
            @content;
        }
    } @else {
        @at-root {
            /* #{$_comment} */
            @content;
        }

        @include meta.apply($getMixin, $_argsList...);
    }
}
