///
/// Meant to be an extension of the built-in 'sass:meta' module. DO NOT FORWARD.
/// For @use only.
///
/// @module meta
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:meta';

@forward 'var-dump';
