///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../modules/map';

///
/// @since ___PKG_VERSION___
///
@function tokens-get-at-properties($inputs) {
    @return map.ksort(
        map.merge(
            (
                display: (
                    syntax: '*',
                    inherits: false,
                ),
                focus-ring-outline-color: (
                    syntax: '<color>',
                    inherits: true,
                    initial-value: currentColor,
                ),
                height-nav-primary: (
                    syntax: '<length-percentage> | <number>',
                    inherits: true,
                    initial-value: 0,
                ),
                scroll-padding-top: (
                    syntax: '<length-percentage> | <number>',
                    inherits: true,
                    initial-value: 0,
                ),
            ),
            $inputs,
            $recursive: true,
            $respectUNDEFINED: true,
            $sort: false
        )
    );
}
