///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use '../../config';

$print_templateDocBlock: not config.$internal_supressCredit or
    config.$internal_isTemplate !default;

$template_name: 'Default' !default;

$template_isDefault: string.to-lower-case($template_name) == default;

$template_internal_supressCredit: not $print_templateDocBlock !default;
