///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';

@use '../../../../config' as lib;

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Renamed from $print_globals to $template_globals and moved from lib to template config.
///
$template_globals: false !default;

///
/// Whether to include the utility class selectors in the output.
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Renamed from $print_utils to $template_utils and moved from lib to template config.
///
$template_utils: false !default;

///
/// Whether to include the custom property definitions in the output.
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Renamed from $print_tokens to $template_tokens and moved from lib to template config.
///
$template_tokens: $template_globals or $template_utils !default;

///
/// Whether to include the css headings in the output.
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Renamed from $print_headings to $template_cssHeadings and moved from lib to template config.
///
$template_cssHeadings: lib.$isTemplate and
    ($template_globals or $template_tokens or $template_utils) !default;

///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Renamed from $print_templateDocBlock to $template_docBlock
///
$template_docBlock: not lib.$internal_supressCredit or lib.$isTemplate !default;

///
/// Whether to include the extend selectors mixin after the template content.
///
/// @since ___PKG_VERSION___
///
$template_extendSelectors: $template_globals or $template_utils !default;

///
/// Whether to print certain styles.
///
/// @since ___PKG_VERSION___ — Merged $template_include_buttons, $template_include_headings, $print_normalize into this var.
///
$template_styles: () !default;
$template_styles: map.deep-merge(
    (
        buttons: $template_globals,
        headings: $template_globals,
        normalize: lib.$include_html and lib.$isTemplate,
    ),
    $template_styles
);
