///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use 'sass:string';

@use '../../../../config';

@use 'include';

///
/// @since 0.1.0-pre.0
///
$template_name: 'Default' !default;

///
/// @since ___PKG_VERSION___
///
$template_slug: string.to-lower-case($template_name) !default;

///
/// @since 0.1.0-pre.0
///
$template_isDefault: $template_slug == default !default;
