///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'functions';
@forward 'mixins';

@use 'config';

html {
    @each $key, $value in config.$breakpoints {
        --breakpoint-#{$key}: #{$value}em;
    }
}

html {
    @each $key, $value in config.$margins {
        --margin-#{$key}: #{$value}rem;
    }
}