///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward '../header';

@use '../config';
@use '../../../lib';

/* # MIXINS - MODES
 * ======================================================================== */

/* #region - in root parent */
#{config.$replaceRootSelector} {
    @include lib.light {
        --mode-mixin: 'light';
    }
}
/* #endregion - in root parent */

/* #region - in body parent */
#{config.$selector_body} {
    @include lib.light {
        --mode-mixin: 'light';
    }
}
/* #endregion - in body parent */

/* #region - in random parent */
parent {
    @include lib.light {
        --mode-mixin: 'light';
    }
}
/* #endregion - in random parent */

/* #region light */
@include lib.light {
    --mode-mixin: 'light';
}
/* #endregion light */

/* #region dark */
@include lib.dark {
    --mode-mixin: 'dark';
}
/* #endregion dark */

/* #region low-contrast */
@include lib.low-contrast {
    --mode-mixin: 'low-contrast';
}
/* #endregion low-contrast */

/* #region average-contrast */
@include lib.average-contrast {
    --mode-mixin: 'average-contrast';
}
/* #endregion average-contrast */

/* #region high-contrast */
@include lib.high-contrast {
    --mode-mixin: 'high-contrast';
}
/* #endregion high-contrast */

/* #region forced-colors */
@include lib.forced-colors {
    --mode-mixin: 'forced-colors';
}
/* #endregion forced-colors */

/* #region token-mode-all */
@include lib.token-mode-all {
    --mode-mixin: 'token-mode-all';
}
/* #endregion token-mode-all */

/* ## token-mode-each ==================================== */
/* e.g. - `@include lib.token-mode-each using ($brightness, $contrast) {}` */

@include lib.token-mode-each using ($brightness, $contrast) {
    --token-mode-each-brightness: #{$brightness};
    --token-mode-each-contrast: #{$contrast};
}
