///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward '../config' with (
    $demo_parentSelector_dump: true !default
);
@forward '../header';

@use '../config';

@use '../../modules/demo';
@use '../../modules/meta';

@use '../../lib' as *;

/* # MIXINS - ACCESSIBILITY
 * ======================================================================== */

$_mixin_motion: meta.get-mixin('motion');
$_mixin_no_motion: meta.get-mixin('no-motion');
$_mixin_each_motion: meta.get-mixin('each-motion');

@mixin _motion-tests {
    @include demo.selector-function(
        'selector-motion',
        meta.get-function('selector-motion'),
        meta.arglist(true)
    );
    @include demo.selector-function(
        'selector-motion',
        meta.get-function('selector-motion'),
        meta.arglist(false)
    );

    @include demo.mixin('motion', $_mixin_motion);

    @include demo.mixin('no-motion', $_mixin_no_motion);

    @include demo.mixin('each-motion', $_mixin_each_motion);
    @include demo.mixin(
        'each-motion',
        $_mixin_each_motion,
        meta.arglist($multipleContentBlocks: true)
    );
}

/* #region - at root */
@include _motion-tests;
/* #endregion - at root */

/* #region - in root parent */
#{config.$selector_root} {
    @include _motion-tests;
}
/* #endregion - in root parent */

/* #region - in body parent */
#{config.$selector_body} {
    @include _motion-tests;
}
/* #endregion - in body parent */

/* #region - in random parent */
parent {
    @include _motion-tests;
}
/* #endregion - in random parent */
