///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward '../config';
@forward '../../tokens' with (
    $breakpoints_attributeOverrides: (
        content,
        indent,
        mobile,
        page,
        sidebar,
        tablet,
    )
);
@forward '../header';

@use '../../modules/demo';
@use '../../modules/meta';

@use '../../lib' as *;

/* # MIXINS - BREAKPOINTS
 * ======================================================================== */

$_mixin_min_height: meta.get-mixin(min-height);
$_mixin_max_height: meta.get-mixin(max-height);

$_mixin_min_width: meta.get-mixin(min-width);
$_mixin_max_width: meta.get-mixin(max-width);

$_mixin_min_all: meta.get-mixin(min-viewport-both);
$_mixin_max_all: meta.get-mixin(max-viewport-both);

$_mixin_minmax_height: meta.get-mixin(minmax-height);
$_mixin_minmax_width: meta.get-mixin(minmax-width);

@mixin _demo-mixin(
    $mixinName,
    $getMixin,
    $arglist: arglist.arglist(),
    $separateSignature: false,
    $args...
) {
    @include demo.mixin(
        $mixinName,
        $getMixin,
        $arglist,
        $separateSignature: $separateSignature,
        $args...
    );
}

@mixin _demo-min-height($args...) {
    @include _demo-mixin('min-height', $_mixin_min_height, $args);
}
@mixin _demo-max-height($args...) {
    @include _demo-mixin('max-height', $_mixin_max_height, $args);
}

@mixin _demo-min-width($args...) {
    @include _demo-mixin('min-width', $_mixin_min_width, $args);
}
@mixin _demo-max-width($args...) {
    @include _demo-mixin('max-width', $_mixin_max_width, $args);
}

@mixin _demo-min-viewport-both($args...) {
    @include _demo-mixin('min-viewport-both', $_mixin_min_all, $args);
}
@mixin _demo-max-viewport-both($args...) {
    @include _demo-mixin('max-viewport-both', $_mixin_max_all, $args);
}

@mixin _demo-minmax-height($args...) {
    @include _demo-mixin('minmax-height', $_mixin_minmax_height, $args);
}
@mixin _demo-minmax-width($args...) {
    @include _demo-mixin('minmax-width', $_mixin_minmax_width, $args);
}

breakpoints {
    @include _demo-min-width(indent);
    @include _demo-max-width(mobile);

    @include _demo-min-height(50);
    @include _demo-max-height(50);

    @include _demo-min-viewport-both(20, 30);
    @include _demo-max-viewport-both(20, 30);

    @include _demo-minmax-width(mobile, tablet);
    @include _demo-minmax-width(mobile, 50);
    @include _demo-minmax-height(20, 35);
    @include _demo-minmax-height(20, page);
}
