///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config' with (
    $customPropertyPrefix: 'prefix-' !default,
    $customPropertyPrefix_fallback: 'fallback-' !default,

    $template_name: 'Utilities Mixin Demo (with all custom prop prefixes)' !default,
    $template_description:
        'This is a demo stylesheet with a custom property prefix and a fallback prefix set in the config (i.e. — $customPropertyPrefix: "prefix-", $customPropertyPrefix_fallback: "fallback-").'
        !default
);
@forward '../header';

// @use '../config';

@use '../../modules/meta';

@use '../../lib' as *;

/* # MIXINS - UTILITIES
 * ======================================================================== */

/* ## Mixin - container-query-style ==================================== */

$_mx_container_query_style: meta.get-mixin('container-query-style');

@mixin _demo-container-query-style($args...) {
    query-style {
        @include meta.demo-mixin('container-query-style', $_mx_container_query_style, $args);
    }
}

@mixin _demo-container-query-style-all($slug, $value) {
    @include _demo-container-query-style($slug, $value);
    @include _demo-container-query-style($slug, $value, $quoteString: true);
    @include _demo-container-query-style($slug, $value, $quoteString: false);
    @include _demo-container-query-style($slug, $value, $allPrefixes: true);
    @include _demo-container-query-style($slug, $value, $allPrefixes: true, $quoteString: true);
    @include _demo-container-query-style($slug, $value, $allPrefixes: false);
    @include _demo-container-query-style($slug, $value, $allPrefixes: false, $quoteString: true);
}

@include _demo-container-query-style('outline-width');
@include _demo-container-query-style('outline-width', $allPrefixes: false);

@include _demo-container-query-style-all('colour', currentColor);

/* ## Mixin - container-query-style-list ==================================== */

$_mx_container_query_style_list: meta.get-mixin('container-query-style-list');

@mixin _demo-container-query-style-list($args...) {
    query-style-list {
        @include meta.demo-mixin(
            'container-query-style-list',
            $_mx_container_query_style_list,
            $args
        );
    }
}

@mixin _demo-container-query-style-list-all($slug, $values) {
    @include _demo-container-query-style-list($slug, $values);

    @include _demo-container-query-style-list($slug, $values, $quoteString: true);
    @include _demo-container-query-style-list($slug, $values, $quoteString: false);
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: true);
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: true,
        $quoteString: true
    );
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: false);
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: false,
        $quoteString: true
    );

    @include _demo-container-query-style-list($slug, $values, $quoteString: true, $joiner: 'and');
    @include _demo-container-query-style-list($slug, $values, $quoteString: false, $joiner: 'and');
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: true, $joiner: 'and');
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: true,
        $quoteString: true,
        $joiner: 'and'
    );
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: false, $joiner: 'and');
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: false,
        $quoteString: true,
        $joiner: 'and'
    );

    @include _demo-container-query-style-list($slug, $values, $quoteString: true, $joiner: 'or');
    @include _demo-container-query-style-list($slug, $values, $quoteString: false, $joiner: 'or');
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: true, $joiner: 'or');
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: true,
        $quoteString: true,
        $joiner: 'or'
    );
    @include _demo-container-query-style-list($slug, $values, $allPrefixes: false, $joiner: 'or');
    @include _demo-container-query-style-list(
        $slug,
        $values,
        $allPrefixes: false,
        $quoteString: true,
        $joiner: 'or'
    );
}

@include _demo-container-query-style-list('outline-width');
@include _demo-container-query-style-list('outline-width', $allPrefixes: false);
@include _demo-container-query-style-list('outline-width', ());

@include _demo-container-query-style-list-all('colour', (currentColor, inherit));
