///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward '../default/config' with (
    // $customPropertyPrefix: 'demo--',
    // $customPropertyPrefix_asFallbackOnly: true,
    $isTemplate: true !default,

    $include_html: true !default,

    $template_print_globals: true !default,
    $template_print_normalize: false !default,
    $template_print_tokens: true !default,
    $template_print_utils: true !default,

    $mx_tokens_fontSize_printRelative: true !default,
    //
     //
);
@forward '../default';
