///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward '../default/config' with (
    $internal_isTemplate: true !default,

    $print_globals: true !default,
    $print_tokens: true !default,
    $print_utils: true !default
);
@forward '../default';
