///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.2
///

@forward '../default/config' with (
    $customPropertyPrefix: 'demo--',
    // $customPropertyPrefix_fallback: 'fallback--',
    // $customPropertyPrefix_asFallback: true,
    $isTemplate: true !default,

    $include_html: true !default,

    $template_print_globals: true !default,
    $template_print_normalize: false !default,
    $template_print_tokens: true !default,
    $template_print_utils: true !default,

    // $fn_var_replaceWithValue_borderWidth: false !default,
    // $fn_var_replaceWithValue_fontSize: false !default,
    // $fn_var_replaceWithValue_lineHeight: false !default,
    // $fn_var_replaceWithValue_gap: false !default,
    // $fn_var_replaceWithValue_margin: false !default,
    // $fn_var_replaceWithValue_strokeRelative: false !default,
    // $fn_var_replaceWithValue_width: false !default,
    //
    $mx_tokens_fontSize_printRelative: true !default,
    //
     //
);
@forward '../default';
