///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
@use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../config';
@use '../tokens';

@use '00-01-functions' as *;
// @use '00-02-mixins' as *;

@use '../../../index' as *;

/* # TOKENS & PROPERTIES
 * ======================================================================== */

@include tokens-all($custom: false);

$_customTokensToPrint: ();

@each $slug, $value in tokens.$customTokens {
    // these do nothing except else
    @if $slug == clr {
    } @else {
        $_customTokensToPrint: map.set($_customTokensToPrint, $slug, $value);
    }
}

@include tokens-custom(map-flatten($_customTokensToPrint));

/* ## TOKENS - COLOURS ==================================== */

/* #region Tokens - Colours */
@each $mode in tokens.$brightnessMode_all {
    @include colour-mode($mode, $includeDefault: true) {
        @each $slug, $map in tokens.$colours {
            @each $level, $clr in $map {
                --clr-#{$slug}-#{$level}: #{if(
                        $mode== dark,
                        map.get($map, clr-get-dark-lvl($level, $map)),
                        $clr
                    )};
            }
        }
    }
}
/* #endregion Tokens - Colours */
