///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../../lib';

@use '../config';

@use '../../../../modules/demo';
@use '../../../../modules/list';
@use '../../../../modules/map';
@use '../../../../modules/meta';
@use '../../../../modules/selector';

@use '../../../../lib' as *;

$_mixin_applyInteractiveMixin: meta.get-mixin(apply-interactive-mixin);

//#region - $interactive_paramPermutations
$interactive_paramPermutations: (
    (true, true, true, true, true, true, true),
    (true, true, true, true, true, true, false),
    (true, true, true, true, true, false, true),
    (true, true, true, true, true, false, false),
    (true, true, true, true, false, true, true),
    (true, true, true, true, false, true, false),
    (true, true, true, true, false, false, true),
    (true, true, true, true, false, false, false),
    (true, true, true, false, true, true, true),
    (true, true, true, false, true, true, false),
    (true, true, true, false, true, false, true),
    (true, true, true, false, true, false, false),
    (true, true, true, false, false, true, true),
    (true, true, true, false, false, true, false),
    (true, true, true, false, false, false, true),
    (true, true, true, false, false, false, false),
    (true, true, false, true, true, true, true),
    (true, true, false, true, true, true, false),
    (true, true, false, true, true, false, true),
    (true, true, false, true, true, false, false),
    (true, true, false, true, false, true, true),
    (true, true, false, true, false, true, false),
    (true, true, false, true, false, false, true),
    (true, true, false, true, false, false, false),
    (true, true, false, false, true, true, true),
    (true, true, false, false, true, true, false),
    (true, true, false, false, true, false, true),
    (true, true, false, false, true, false, false),
    (true, true, false, false, false, true, true),
    (true, true, false, false, false, true, false),
    (true, true, false, false, false, false, true),
    (true, true, false, false, false, false, false),
    (true, false, true, true, true, true, true),
    (true, false, true, true, true, true, false),
    (true, false, true, true, true, false, true),
    (true, false, true, true, true, false, false),
    (true, false, true, true, false, true, true),
    (true, false, true, true, false, true, false),
    (true, false, true, true, false, false, true),
    (true, false, true, true, false, false, false),
    (true, false, true, false, true, true, true),
    (true, false, true, false, true, true, false),
    (true, false, true, false, true, false, true),
    (true, false, true, false, true, false, false),
    (true, false, true, false, false, true, true),
    (true, false, true, false, false, true, false),
    (true, false, true, false, false, false, true),
    (true, false, true, false, false, false, false),
    (true, false, false, true, true, true, true),
    (true, false, false, true, true, true, false),
    (true, false, false, true, true, false, true),
    (true, false, false, true, true, false, false),
    (true, false, false, true, false, true, true),
    (true, false, false, true, false, true, false),
    (true, false, false, true, false, false, true),
    (true, false, false, true, false, false, false),
    (true, false, false, false, true, true, true),
    (true, false, false, false, true, true, false),
    (true, false, false, false, true, false, true),
    (true, false, false, false, true, false, false),
    (true, false, false, false, false, true, true),
    (true, false, false, false, false, true, false),
    (true, false, false, false, false, false, true),
    (true, false, false, false, false, false, false),
    (false, true, true, true, true, true, true),
    (false, true, true, true, true, true, false),
    (false, true, true, true, true, false, true),
    (false, true, true, true, true, false, false),
    (false, true, true, true, false, true, true),
    (false, true, true, true, false, true, false),
    (false, true, true, true, false, false, true),
    (false, true, true, true, false, false, false),
    (false, true, true, false, true, true, true),
    (false, true, true, false, true, true, false),
    (false, true, true, false, true, false, true),
    (false, true, true, false, true, false, false),
    (false, true, true, false, false, true, true),
    (false, true, true, false, false, true, false),
    (false, true, true, false, false, false, true),
    (false, true, true, false, false, false, false),
    (false, true, false, true, true, true, true),
    (false, true, false, true, true, true, false),
    (false, true, false, true, true, false, true),
    (false, true, false, true, true, false, false),
    (false, true, false, true, false, true, true),
    (false, true, false, true, false, true, false),
    (false, true, false, true, false, false, true),
    (false, true, false, true, false, false, false),
    (false, true, false, false, true, true, true),
    (false, true, false, false, true, true, false),
    (false, true, false, false, true, false, true),
    (false, true, false, false, true, false, false),
    (false, true, false, false, false, true, true),
    (false, true, false, false, false, true, false),
    (false, true, false, false, false, false, true),
    (false, true, false, false, false, false, false),
    (false, false, true, true, true, true, true),
    (false, false, true, true, true, true, false),
    (false, false, true, true, true, false, true),
    (false, false, true, true, true, false, false),
    (false, false, true, true, false, true, true),
    (false, false, true, true, false, true, false),
    (false, false, true, true, false, false, true),
    (false, false, true, true, false, false, false),
    (false, false, true, false, true, true, true),
    (false, false, true, false, true, true, false),
    (false, false, true, false, true, false, true),
    (false, false, true, false, true, false, false),
    (false, false, true, false, false, true, true),
    (false, false, true, false, false, true, false),
    (false, false, true, false, false, false, true),
    (false, false, true, false, false, false, false),
    (false, false, false, true, true, true, true),
    (false, false, false, true, true, true, false),
    (false, false, false, true, true, false, true),
    (false, false, false, true, true, false, false),
    (false, false, false, true, false, true, true),
    (false, false, false, true, false, true, false),
    (false, false, false, true, false, false, true),
    (false, false, false, true, false, false, false),
    (false, false, false, false, true, true, true),
    (false, false, false, false, true, true, false),
    (false, false, false, false, true, false, true),
    (false, false, false, false, true, false, false),
    (false, false, false, false, false, true, true),
    (false, false, false, false, false, true, false),
    (false, false, false, false, false, false, true),
    (false, false, false, false, false, false, false)
);
//#endregion - $interactive_paramPermutations

@mixin demo--apply-interactive-mixin(
    $active: false,
    $activeWithin: false,
    $focus: false,
    $focusWithin: false,
    $hover: false,
    $self: false,
    $visited: false,
    $debug: false,
    $multipleContentBlocks: $debug,
    $args...
) {
    $args: meta.keywords($args);

    $mixin_arglist: ();

    @if $hover {
        $mixin_arglist: map.set($mixin_arglist, 'hover', $hover);
    }

    @if $focus {
        $mixin_arglist: map.set($mixin_arglist, 'focus', $focus);
    }

    @if $focusWithin {
        $mixin_arglist: map.set($mixin_arglist, 'focusWithin', $focusWithin);
    }

    @if $active {
        $mixin_arglist: map.set($mixin_arglist, 'active', $active);
    }

    @if $activeWithin {
        $mixin_arglist: map.set($mixin_arglist, 'activeWithin', $activeWithin);
    }

    @if $self {
        $mixin_arglist: map.set($mixin_arglist, 'self', $self);
    }

    @if $visited {
        $mixin_arglist: map.set($mixin_arglist, 'visited', $visited);
    }

    @if $multipleContentBlocks {
        $mixin_arglist: map.set($mixin_arglist, 'multipleContentBlocks', $multipleContentBlocks);
    }

    @if $debug {
        $mixin_arglist: map.set($mixin_arglist, 'debug', $debug);
    }

    @each $param, $value in $args {
        $mixin_arglist: map.set($mixin_arglist, $param, $value);
    }

    @include meta.at(demo-section, apply-interactive-mixin) {
        @at-root {
            @include demo.mixin-signature-dump(
                apply-interactive-mixin,
                $mixin_arglist,
                $_mixin_applyInteractiveMixin
            );
            @if $debug {
                @include meta.var-dump('&', &);
            }
        }

        @include apply-interactive-mixin(
                $multipleContentBlocks: $multipleContentBlocks,
                $debug: $debug,
                $warnOnSelf: false,
                $mixin_arglist...
            )
            using ($args...) {
            @include demo.content-args-dump(
                $args,
                $mixinName: if(config.$demo_includeNameWithContent, apply-interactive-mixin, null)
            );

            @if $debug {
                @include meta.var-dump('&', &);
                @include meta.var-dump('selector.is-simple(&)', selector.is-simple(&));
            }
        }
    }
}
