///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config' with (
    $mx_focusVisible_fallbacksOnly: true,
    $mx_interactive_isolateSelector_active: true,
    $mx_interactive_isolateSelector_focus: true,
    $selector_interactiveState_active: '[data-state-active=isolated]',
    $selector_interactiveState_focus: '[data-state-focus=isolated]'
);

@forward 'header' with (
    $headingSuffix:
        'Fallbacks Only & Isolated State Selectors ($mx_focusVisible_fallbacksOnly: true, $mx_interactive_isolateSelector_active: true, $mx_interactive_isolateSelector_focus: true)'
);

@forward 'index';
