///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward 'header';

@use '../../../../modules/meta';

@use 'lib' as *;

/* #region - NO PARENT */
@each $active, $activeWithin, $hover, $focus, $focusWithin, $visited,
    $self in $interactive_paramPermutations
{
    @if not $self {
        @include apply-interactive-mixin-iterator(
            $active: $active,
            $activeWithin: $activeWithin,
            $focus: $focus,
            $focusWithin: $focusWithin,
            $hover: $hover,
            $self: $self,
            $visited: $visited,
            // $debug: $self,
             //
        );
    }
}
/* #endregion - NO PARENT */

/* #region - WITH PARENT */
a {
    /* parent selector is: #{meta.var-dump(&)} */

    @each $active, $activeWithin, $hover, $focus, $focusWithin, $visited,
        $self in $interactive_paramPermutations
    {
        @include apply-interactive-mixin-iterator(
            $active: $active,
            $activeWithin: $activeWithin,
            $focus: $focus,
            $focusWithin: $focusWithin,
            $hover: $hover,
            $self: $self,
            $visited: $visited,
            $multipleContentBlocks: true,
            // $debug: $self,
             //
        );
    }
}
/* #endregion - WITH PARENT */

@include extend-selectors;
