///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward 'header';

@use 'lib' as *;

/* #region - NO PARENT */
@each $active, $activeWithin, $hover, $focus, $focusWithin in $interactive_paramPermutations {
    @include apply-interactive-mixin-iterator(
        $hover: $hover,
        $focus: $focus,
        $focusWithin: $focusWithin,
        $active: $active,
        $activeWithin: $activeWithin
    );
}
/* #endregion - NO PARENT */

/* #region - WITH PARENT */
button {
    @each $active, $activeWithin, $hover, $focus, $focusWithin in $interactive_paramPermutations {
        @include apply-interactive-mixin-iterator(
            $hover: $hover,
            $focus: $focus,
            $focusWithin: $focusWithin,
            $active: $active,
            $activeWithin: $activeWithin
        );
    }
}
/* #endregion - WITH PARENT */
