///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../config';
@forward 'header';

@use '../config';

@use '../../../../modules/meta';
@use '../../../../modules/selector';

@use 'lib' as *;

/* #region - NO PARENT */
@each $active, $activeWithin, $hover, $focus, $focusWithin, $visited,
    $self in $interactive_paramPermutations
{
    @if not $self {
        @include demo--apply-interactive-mixin(
            $active: $active,
            $activeWithin: $activeWithin,
            $focus: $focus,
            $focusWithin: $focusWithin,
            $hover: $hover,
            $self: $self,
            $visited: $visited
        );
    }
}
/* #endregion - NO PARENT */

/* #region - WITH PARENT */
a {
    /* parent selector is: #{meta.var-dump(&)} */

    @each $active, $activeWithin, $hover, $focus, $focusWithin, $visited,
        $self in $interactive_paramPermutations
    {
        @include demo--apply-interactive-mixin(
            $active: $active,
            $activeWithin: $activeWithin,
            $focus: $focus,
            $focusWithin: $focusWithin,
            $hover: $hover,
            $self: $self,
            $visited: $visited,
            $multipleContentBlocks: true
        );
    }
}
/* #endregion - WITH PARENT */

/* #region - EDGE CASES */
%a {
    @include config.selector-a-disabled {
        @include demo--apply-interactive-mixin(
            $active: true,
            $focus: true,
            $focusWithin: true,
            $hover: true,
            $self: true,
            $visited: true,
            $multipleContentBlocks: true,
            $warnOnSelf: false
        );
    }
}

button {
    @include config.selector-button-disabled {
        @include demo--apply-interactive-mixin(
            $active: true,
            $focus: true,
            $focusWithin: true,
            $hover: true,
            $self: true,
            $visited: true,
            $multipleContentBlocks: true,
            $warnOnSelf: false
        );
    }
}
/* #endregion - EDGE CASES */

@include extend-selectors;
