///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:map';

@use '../functions' as fns;

///
/// @since ___PKG_VERSION___
///
$featureCheck_aspectRatio_includeNoWhereSelectorFallback: true !default;

///
/// @since ___PKG_VERSION___
///
$featureCheck_jsOnlyAsNeeded: true !default;

///
/// @since ___PKG_VERSION___
///
$featureCheck_neverUseJS: false !default;

///
/// Only applies when $featureCheck_jsOnlyAsNeeded is true AND
/// $featureCheck_neverUseJS is false.
///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS: () !default;
$featureCheck_defaultToJS: map.merge(
    (
        whereSelector: true,
    ),
    $featureCheck_defaultToJS
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS_supports: () !default;
$featureCheck_defaultToJS_supports: map.merge(
    $featureCheck_defaultToJS,
    $featureCheck_defaultToJS_supports
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS_supports_not: () !default;
$featureCheck_defaultToJS_supports_not: map.merge(
    map.merge(
        $featureCheck_defaultToJS,
        (
            aspectRatio: true and map.get($featureCheck_defaultToJS, aspectRatio) != false,
            focusVisible: true and map.get($featureCheck_defaultToJS, focusVisible) != false,
        )
    ),
    $featureCheck_defaultToJS_supports_not
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_supports: () !default;
$featureCheck_supports: list.join(
    (
        aspectRatio,
        atProperty,
        backgroundFixed,
        calc,
        displayContents,
        focusWithin,
        focusVisible,
        hasSelector,
        subgrid,
        whereSelector
    ),
    fns.config-valid-list-strings(
        $featureCheck_supports,
        'featureCheck_supports',
        $default: (),
        $unquote: true
    ),
    $separator: comma
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_supportsQueries: () !default;
$featureCheck_supportsQueries: map.merge(
    (
        aspectRatio: 'aspect-ratio: 1 / 2',
        backgroundFixed: 'background-attachment: fixed',
        calc: 'width: calc( 0.25em + 10% )',
        displayContents: 'display: contents',
        focusWithin: 'selector( a:focus-within )',
        focusVisible: 'selector( a:focus-visible )',
        hasSelector: 'selector( :has( a ) )',
        subgrid: 'grid-template-columns: subgrid',
        whereSelector: 'selector( :where( a ) )',
    ),
    $featureCheck_supportsQueries
);
