///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../functions';

// no deps
@forward 'feature-check';
@forward 'math';

// deps on feature-check
@forward 'selector';

@use '../functions' as fns;

///
/// @since ___PKG_VERSION___
///
$warnOnMissingCompilerFunctions: null !default;
$warnOnMissingCompilerFunctions: fns.config-valid-bool(
    $warnOnMissingCompilerFunctions,
    'warnOnMissingCompilerFunctions',
    $default: true
);
