///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:selector';

@use '../config';

@use '../meta';

@use 'includes';
@use 'parent-exists';

///
/// Removes all cases of $needles selectors in comma-separated $haystack
/// selectors.
///
/// @since ___PKG_VERSION___
///
@function except($haystack, $needles) {
    // returns
    @if list.length($haystack) < 1 or list.length($needles) < 1 {
        @return $haystack;
    }

    $haystack: selector.parse(#{$haystack});
    $needles: selector.parse(#{$needles});

    $returnHaystack: ();

    @each $haystack_single in if(list.separator($haystack) == comma, $haystack, ($haystack)) {
        $_haystack_includes_needle: false;

        @each $needle_single in if(list.separator($needles) == comma, $needles, ($needles)) {
            @if includes.includes($haystack_single, $needle_single) {
                $_haystack_includes_needle: true;
            }
        }

        @if not $_haystack_includes_needle {
            $returnHaystack: list.append($returnHaystack, $haystack_single, $separator: comma);
        }
    }

    // returns
    @if list.length($returnHaystack) < 1 {
        @return config.$selector_null;
    }

    @return selector.parse(#{$returnHaystack});
}

///
/// Removes all cases of $needles selectors in the parent selector (if any) (via
/// `selector.except()`).
///
/// @since ___PKG_VERSION___
///
@function parent-except($needles, $args...) {
    // returns
    @if not parent-exists.parent-exists() {
        @return config.$selector_null;
    }

    @return except(&, $needles, $args...);
}
