///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';
@use 'sass:selector';

@use '../config';

@use '../list';
@use '../meta';
@use '../string';

@use 'includes';
@use 'is-simple';
@use 'is-superselector-any';
@use 'parent-exists';
@use 'unify-all';

///
/// Extends any instance of the given simple selectors ($needles) in the given
/// selector with the replacement selector ($extenders). Optionally nest, unify,
/// and/or wrap the extending selector in the target simple selector for
/// extension.
///
/// Use with caution and always verify output. There seem to be some sass bugs
/// that can cause selector.extend() and selector.replace() to behave in an
/// unpredictable way with compound selectors (e.g., nested, unified, multiple
/// 'simple' selectors).
///
/// @since ___PKG_VERSION___
///
@function extend-simple-selector(
    $haystack,
    $needles,
    $extenders,
    //
    $self: true,
    $replace: true,
    $nest: false,
    $unify: false,
    $wrap: false,
    //
    $debug: false,
    $preserveModifiers: false,
    $preserveModifiers_replace: true
) {
    // returns
    @if not includes.includes($haystack, $needles) {
        @return $haystack;
    }

    $debug_vars: ();

    $haystack: selector.parse($haystack);
    $extenders: selector.parse($extenders);

    $extenders_simple: ();
    $extenders_compound: ();

    @if is-simple.is-simple($extenders) {
        $debug_vars: map.set($debug_vars, 'is-simple.is-simple( $extenders )', true);

        $extenders_simple: $extenders;
    } @else {
        $debug_vars: map.set($debug_vars, 'is-simple.is-simple( $extenders )', false);

        @each $_extending_sel in $extenders {
            @if is-simple.is-simple($_extending_sel) {
                $extenders_simple: list.append(
                    $extenders_simple,
                    #{$_extending_sel},
                    $separator: comma
                );
            } @else {
                $extenders_compound: list.append(
                    $extenders_compound,
                    #{$_extending_sel},
                    $separator: comma
                );
            }
        }
    }

    // map where the keys are $extendee values and values are lists of $extender selectors
    $to_extend: ();

    @if $debug {
        $debug_vars: map.set($debug_vars, '$haystack', $haystack);
        $debug_vars: map.set($debug_vars, '$extenders', $extenders);

        $debug_vars: map.set($debug_vars, '$extenders_simple', $extenders_simple);
        $debug_vars: map.set($debug_vars, '$extenders_compound', $extenders_compound);
    }

    $i: 1;

    @each $single_haystack in $haystack {
        $_debug_eachHaystack: ();

        @if $debug {
            $_debug_eachHaystack: map.set(
                $_debug_eachHaystack,
                '$single_haystack',
                $single_haystack
            );
        }

        $n_i: 1;

        @each $single_needle in $needles {
            $_debug_eachNeedle: ();

            $is_single_needle_single: is-simple.is-simple($single_needle);

            @if $debug {
                $_debug_eachNeedle: map.set($_debug_eachNeedle, '$single_needle', $single_needle);
            }

            $s_n_i: 1;

            @each $sub_single_haystack in $single_haystack {
                $_debug_eachSubHaystack: ();

                @if $debug {
                    $_debug_eachSubHaystack: map.set(
                        $_debug_eachSubHaystack,
                        '$sub_single_haystack',
                        $sub_single_haystack
                    );
                }

                @if selector.is-superselector($single_needle, $sub_single_haystack) {
                    //
                    @if not map.get($to_extend, #{$sub_single_haystack}) {
                        $to_extend: map.set($to_extend, #{$sub_single_haystack}, ());
                    }

                    $_extension_simple: ();
                    $_extension_compound: ();

                    $_is_simple_sub_single_haystack: is-simple.is-simple($sub_single_haystack);

                    $_debug_eachSubHaystack: map.set(
                        $_debug_eachSubHaystack,
                        '$_is_simple_sub_single_haystack',
                        $_is_simple_sub_single_haystack
                    );

                    $_sub_single_haystack_no_needle: if(
                        $_is_simple_sub_single_haystack,
                        null,
                        unify-all.unify-all(
                            list.except(
                                selector.simple-selectors($sub_single_haystack),
                                $single_needle
                            )
                        )
                    );

                    @if $self {
                        $_self: $sub_single_haystack;

                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            'adding self',
                            $_self
                        );

                        $_selType: if($_is_simple_sub_single_haystack, simple, compound);

                        $_current_to_extend_self: map.get(
                            $to_extend,
                            #{$sub_single_haystack},
                            self,
                            $_selType
                        );

                        $to_extend: map.set(
                            $to_extend,
                            #{$sub_single_haystack},
                            self,
                            $_selType,
                            if(
                                $_current_to_extend_self,
                                list.join($_current_to_extend_self, $_self, $separator: comma),
                                $_self
                            )
                        );
                    }

                    @if $replace {
                        $_debug_replace: true;

                        $_current_to_extend_replace_compound: map.get(
                            $to_extend,
                            #{$sub_single_haystack},
                            replace,
                            compound
                        );

                        @if $_sub_single_haystack_no_needle ==
                            null or not
                            $preserveModifiers_replace
                        {
                            $_current_to_extend_replace_simple: map.get(
                                $to_extend,
                                #{$sub_single_haystack},
                                replace,
                                simple
                            );

                            $to_extend: map.set(
                                $to_extend,
                                #{$sub_single_haystack},
                                replace,
                                (
                                    simple: if(
                                            $_current_to_extend_replace_simple,
                                            list.join(
                                                $_current_to_extend_replace_simple,
                                                $extenders_simple,
                                                $separator: comma
                                            ),
                                            $extenders_simple
                                        ),
                                    compound: if(
                                            $_current_to_extend_replace_compound,
                                            list.join(
                                                $_current_to_extend_replace_compound,
                                                $extenders_compound,
                                                $separator: comma
                                            ),
                                            $extenders_compound
                                        ),
                                )
                            );
                        } @else {
                            $_replace: list.join(
                                if(
                                    list.length($extenders_simple) > 0,
                                    selector.unify(
                                        $extenders_simple,
                                        $_sub_single_haystack_no_needle
                                    ),
                                    ()
                                ),
                                if(
                                    list.length($extenders_compound) > 0,
                                    selector.unify(
                                        $extenders_compound,
                                        $_sub_single_haystack_no_needle
                                    ),
                                    ()
                                ),
                                $separator: comma
                            );

                            $to_extend: map.set(
                                $to_extend,
                                #{$sub_single_haystack},
                                replace,
                                compound,
                                if(
                                    $_current_to_extend_replace_compound,
                                    list.join(
                                        $_current_to_extend_replace_compound,
                                        $_replace,
                                        $separator: comma
                                    ),
                                    $_replace
                                )
                            );

                            $_debug_replace: $_replace;
                        }

                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            'adding replace',
                            $_debug_replace
                        );
                    }

                    @if $unify {
                        $_unified: selector.unify($sub_single_haystack, $extenders);

                        $_current_to_extend_unify_compound: map.get(
                            $to_extend,
                            #{$sub_single_haystack},
                            unify,
                            compound
                        );

                        $to_extend: map.set(
                            $to_extend,
                            #{$sub_single_haystack},
                            unify,
                            compound,
                            if(
                                $_current_to_extend_unify_compound,
                                list.join(
                                    $_current_to_extend_unify_compound,
                                    $_unified,
                                    $separator: comma
                                ),
                                $_unified
                            )
                        );

                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            'adding unified',
                            $_unified
                        );
                    }

                    @if $nest {
                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            'adding nested',
                            selector.nest($sub_single_haystack, $extenders)
                        );

                        @if $_sub_single_haystack_no_needle == null or not $preserveModifiers {
                            $_extension_compound: list.join(
                                $_extension_compound,
                                selector.nest($sub_single_haystack, $extenders),
                                $separator: comma
                            );
                        } @else {
                            $_extension_compound: list.join(
                                $_extension_compound,
                                selector.nest(
                                    $sub_single_haystack,
                                    selector.unify($extenders, $_sub_single_haystack_no_needle)
                                ),
                                $separator: comma
                            );
                        }
                    }

                    @if $wrap {
                        $_debug_wrap: true;

                        @if $_sub_single_haystack_no_needle == null or not $preserveModifiers {
                            $_debug_wrap: selector.nest($extenders, $sub_single_haystack);

                            $_extension_compound: list.join(
                                $_extension_compound,
                                $_debug_wrap,
                                $separator: comma
                            );
                        } @else {
                            $_debug_wrap: selector.nest(
                                selector.unify($extenders, $_sub_single_haystack_no_needle),
                                $sub_single_haystack
                            );

                            $_extension_compound: list.join(
                                $_extension_compound,
                                $_debug_wrap,
                                $separator: comma
                            );
                        }

                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            'adding wrapped',
                            selector.nest($extenders, $sub_single_haystack)
                        );
                    }

                    @if $debug {
                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            '$_extension_simple',
                            $_extension_simple
                        );
                        $_debug_eachSubHaystack: map.set(
                            $_debug_eachSubHaystack,
                            '$_extension_compound',
                            $_extension_compound
                        );
                    }

                    $_current_to_extend_simple: map.get(
                        $to_extend,
                        #{$sub_single_haystack},
                        simple
                    );

                    $_current_to_extend_compound: map.get(
                        $to_extend,
                        #{$sub_single_haystack},
                        compound
                    );

                    $to_extend: map.set(
                        $to_extend,
                        #{$sub_single_haystack},
                        map.merge(
                            map.get($to_extend, #{$sub_single_haystack}),
                            (
                                simple: if(
                                        $_current_to_extend_simple,
                                        list.join(
                                            $_current_to_extend_simple,
                                            $_extension_simple,
                                            $separator: comma
                                        ),
                                        $_extension_simple
                                    ),
                                compound: if(
                                        $_current_to_extend_compound,
                                        list.join(
                                            $_current_to_extend_compound,
                                            $_extension_compound,
                                            $separator: comma
                                        ),
                                        $_extension_compound
                                    ),
                            )
                        )
                    );
                } @else if $debug {
                    $_debug_eachSubHaystack: map.set(
                        $_debug_eachSubHaystack,
                        'selector.is-superselector( $single_needle, $sub_single_haystack )',
                        false
                    );
                }

                $_debug_eachNeedle: map.set(
                    $_debug_eachNeedle,
                    '[ each sub haystack (#{$s_n_i}) ]',
                    $_debug_eachSubHaystack
                );
                $s_n_i: $s_n_i + 1;
            }

            $_debug_eachHaystack: map.set(
                $_debug_eachHaystack,
                '[ each needle (#{$n_i}) ]',
                $_debug_eachNeedle
            );
            $n_i: $n_i + 1;
        }

        $debug_vars: map.set($debug_vars, '[ each haystack (#{$i}) ]', $_debug_eachHaystack);
        $i: $i + 1;
    }

    $new_haystack: $haystack;

    $i: 1;

    @each $needle, $replacement in $to_extend {
        $_debug_eachToExtend: ();

        $replacement_simple: list.unique(map.get($replacement, simple));
        $replacement_compound: list.unique(map.get($replacement, compound));

        $replacement_replace_simple: list.unique(map.get($replacement, replace, simple));
        $replacement_replace_compound: list.unique(map.get($replacement, replace, compound));

        $replacement_self_simple: list.unique(map.get($replacement, self, simple));
        $replacement_self_compound: list.unique(map.get($replacement, self, compound));

        $replacement_unify_simple: list.unique(map.get($replacement, unify, simple));
        $replacement_unify_compound: list.unique(map.get($replacement, unify, compound));

        @if $debug {
            $_debug_eachToExtend: map.set($_debug_eachToExtend, '$needle', $needle);
            $_debug_eachToExtend: map.set($_debug_eachToExtend, '$replacement', $replacement);

            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_simple',
                $replacement_simple
            );
            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_compound',
                $replacement_compound
            );

            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_replace_simple',
                $replacement_replace_simple
            );
            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_replace_compound',
                $replacement_replace_compound
            );

            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_self_simple',
                $replacement_self_simple
            );
            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_self_compound',
                $replacement_self_compound
            );

            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_unify_simple',
                $replacement_unify_simple
            );
            $_debug_eachToExtend: map.set(
                $_debug_eachToExtend,
                '$replacement_unify_compound',
                $replacement_unify_compound
            );
        }

        $replacement_simple: if(
            list.length($replacement_simple) > 0 and $replacement_simple,
            #{$replacement_simple},
            false
        );

        $replacement_compound: if(
            list.length($replacement_compound) > 0 and $replacement_compound,
            #{$replacement_compound},
            false
        );

        $replacement_replace_simple: if(
            list.length($replacement_replace_simple) > 0 and $replacement_replace_simple,
            #{$replacement_replace_simple},
            false
        );

        $replacement_replace_compound: if(
            list.length($replacement_replace_compound) > 0 and $replacement_replace_compound,
            #{$replacement_replace_compound},
            false
        );

        $replacement_self_simple: if(
            list.length($replacement_self_simple) > 0 and $replacement_self_simple,
            #{$replacement_self_simple},
            false
        );

        $replacement_self_compound: if(
            list.length($replacement_self_compound) > 0 and $replacement_self_compound,
            #{$replacement_self_compound},
            false
        );

        $replacement_unify_simple: if(
            list.length($replacement_unify_simple) > 0 and $replacement_unify_simple,
            #{$replacement_unify_simple},
            false
        );

        $replacement_unify_compound: if(
            list.length($replacement_unify_compound) > 0 and $replacement_unify_compound,
            #{$replacement_unify_compound},
            false
        );

        $has_any_replacement: $replacement_simple or
            $replacement_compound or
            $replacement_replace_simple or
            $replacement_replace_compound or
            $replacement_self_simple or
            $replacement_self_compound or
            $replacement_unify_simple or
            $replacement_unify_compound;

        @if $has_any_replacement {
            $_current_haystack: list.join(
                if($self, $haystack, ()),
                if(list.length($new_haystack) < 1, $haystack, $new_haystack),
                $separator: comma
            );

            $_replacement_simple: if(
                $replacement_simple,
                selector.replace($_current_haystack, $needle, $replacement_simple),
                ()
            );

            $_replacement_compound: if(
                $replacement_compound,
                selector.replace($_current_haystack, $needle, $replacement_compound),
                ()
            );

            $_replacement_replace_simple: if(
                $replacement_replace_simple,
                selector.replace($_current_haystack, $needle, $replacement_replace_simple),
                ()
            );

            $_replacement_replace_compound: if(
                $replacement_replace_compound,
                selector.replace($_current_haystack, $needle, $replacement_replace_compound),
                ()
            );

            $_replacement_self_simple: if(
                $replacement_self_simple,
                selector.replace($_current_haystack, $needle, $replacement_self_simple),
                ()
            );

            $_replacement_self_compound: if(
                $replacement_self_compound,
                selector.replace($_current_haystack, $needle, $replacement_self_compound),
                ()
            );

            $_replacement_unify_simple: if(
                $replacement_unify_simple,
                selector.replace($_current_haystack, $needle, $replacement_unify_simple),
                ()
            );

            $_replacement_unify_compound: if(
                $replacement_unify_compound,
                selector.replace($_current_haystack, $needle, $replacement_unify_compound),
                ()
            );

            @if $debug {
                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_current_haystack',
                    $_current_haystack
                );

                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_replace_simple',
                    $_replacement_replace_simple
                );
                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_replace_compound',
                    $_replacement_replace_compound
                );

                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_self_simple',
                    $_replacement_self_simple
                );
                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_self_compound',
                    $_replacement_self_compound
                );

                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_unify_simple',
                    $_replacement_unify_simple
                );
                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_unify_compound',
                    $_replacement_unify_compound
                );

                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_simple',
                    $_replacement_simple
                );
                $_debug_eachToExtend: map.set(
                    $_debug_eachToExtend,
                    '$_replacement_compound',
                    $_replacement_compound
                );
            }

            $new_haystack: list.join(
                list.join(
                    if($self, list.join($haystack, $new_haystack, $separator: comma), ()),
                    list.join(
                        list.join(
                            $_replacement_self_simple,
                            $_replacement_self_compound,
                            $separator: comma
                        ),
                        list.join(
                            $_replacement_replace_simple,
                            $_replacement_replace_compound,
                            $separator: comma
                        ),
                        $separator: comma
                    ),
                    $separator: comma
                ),
                list.join(
                    list.join(
                        $_replacement_unify_simple,
                        $_replacement_unify_compound,
                        $separator: comma
                    ),
                    list.join($_replacement_simple, $_replacement_compound, $separator: comma),
                    $separator: comma
                ),
                $separator: comma
            );
        } @else if $debug {
            $_debug_eachToExtend: map.set($_debug_eachToExtend, 'no extensions to make', true);
        }

        @if $debug {
            $debug_vars: map.set($debug_vars, '[ each to extend (#{$i}) ]', $_debug_eachToExtend);
            $i: $i + 1;
        }
    }

    $new_haystack: if(list.length($new_haystack) > 0, $new_haystack, ());

    @if list.length($new_haystack) > 0 {
        $haystack: selector.parse(#{$new_haystack});
    } @else if not $self {
        $haystack: config.$selector_null;
    } @else {
        $haystack: selector.parse(#{$haystack});
    }

    @if $debug {
        $debug_vars: map.set($debug_vars, '$new_haystack', $new_haystack);
        $debug_vars: map.set($debug_vars, '[final] $haystack', $haystack);

        $_: meta.js-var-dump($debug_vars, 'selector.extend-simple-selector()');
    }

    @return list.unique($haystack);
}

@mixin extend-simple-selector($needles, $extenders, $parentSelector: &, $args...) {
    @if $parentSelector == null and not parent-exists.parent-exists() {
        #{config.$selector_null} {
            @content;
        }
    } @else {
        $sels: extend-simple-selector(
            if($parentSelector == null, &, $parentSelector),
            $needles: $needles,
            $extenders: $extenders,
            $args...
        );

        @at-root #{$sels} {
            @content;
        }
    }
}
