///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:list';
@use 'sass:selector';

@use '../config';

@use 'is-body';
@use 'parent-exists';

///
/// Checks if the given selector contains a known body element selector (i.e.,
/// 'body' or config.$selector_body).
///
/// If there's more than one selector in a comma-separated list, they are tested
/// individually so that every selector must contain a body selector in order to
/// return true.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___
///
@function has-body($sel, $args...) {
    // returns
    @if is-body.is-body($sel, $args...) {
        @return true;
    }

    $sel: selector.parse(#{$sel});

    // returns on a positive match
    @each $singleSelector in if(list.separator($sel) == comma, $sel, ($sel)) {
        $result: false;

        @each $_subSel in $singleSelector {
            @if is-body.is-body($_subSel, $args...) {
                $result: true;
            }
        }

        // returns
        @if not $result {
            @return false;
        }
    }

    @return true;
}

///
/// Checks if any of the given comma-separated selectors is a known body element
/// selector (i.e., 'body' or config.$selector_body).
///
/// @return {bool}
///
/// @since ___PKG_VERSION___
///
@function has-any-body($selector, $args...) {
    $selector: selector.parse(#{$selector});
    $selector: if(list.separator($selector) == comma, $selector, ($selector));

    // returns on first true
    @each $_sel in $selector {
        @if has-body($_sel, $args...) {
            @return true;
        }
    }

    @return false;
}

///
/// Checks if the parent selector (if any) is a known body selector.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___
///
@function parent-has-body($parentSelector: &, $args...) {
    @if $parentSelector == null {
        // returns
        @if not parent-exists.parent-exists() {
            @return false;
        }

        $parentSelector: &;
    }

    @return has-body($parentSelector, $args...);
}
