///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:selector';

@use '../config';
@use '../string';

@use 'is-body';
@use 'is-root';

///
/// Checks if the given selector is a known body or root element selector.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___
///
@function is-body-or-root(
    $sel,
    $body_aliases: config.$selector_body_aliases,
    $root_aliases: config.$selector_root_aliases,
    $args...
) {
    @return is-body.is-body($sel, $aliases: $body_aliases, $args...) or
        is-root.is-root($sel, $aliases: $root_aliases, $args...);
}

///
/// Checks if the parent selector (if any) is a known body or root selector.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___
///
@function parent-is-body-or-root($parentSelector: &, $args...) {
    @if $parentSelector == null {
        // returns
        @if not parent-exists.parent-exists() {
            @return false;
        }

        $parentSelector: &;
    }

    @return is-body-or-root($parentSelector, $args...);
}
