///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:selector';

@use '../../config';

///
/// Checks if the given selector is a known root element selector.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___ — Moved to selector module.
///
@function is-root($sel) {
    // returns
    @if $sel == html or $sel == ':root' or $sel == #{config.$selector_root} {
        @return true;
    }

    // returns
    @if selector.is-superselector(html, $sel) or
        selector.is-superselector(':root', $sel)
    {
        @return true;
    }

    // returns
    @if selector.is-superselector(#{config.$selector_root}, $sel) {
        @return true;
    }

    @return false;
}

///
/// Checks if the parent selector (if any) is a known root selector.
///
/// @return {bool}
///
/// @since ___PKG_VERSION___ — Moved to selector module.
///
@function parent-is-root() {
    // returns
    @if not parent-exists() {
        @return false;
    }

    @return is-root(#{&});
}
