///
/// Meant to be an extension of the built-in 'sass:selector' module. DO NOT FORWARD.
/// For @use only.
///
/// @module selector
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:selector';

@forward 'merge';
@forward 'parent-exists';
@forward 'parent-or-body';
@forward 'parent-or-root';
