///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@if not config.$internal_supressCredit {
    /*!
     * Utility Sass Template - Default
     * 
     * @maddimathon/utility-sass@___CURRENT_VERSION___
     * License: MIT
     */
}
