///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';

@forward '../../lib';

@forward '../_content';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use '../../lib' as *;
@use '../_content' as *;

@include extend-selectors;
