///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../base' with (
    $print_globals: false !default,
    $print_normalize: false !default,
    $print_tokens: false !default,
    $print_utils: false !default
);

// fake-root {
//     @extend %root;

//     h1 {
//         --test-h1: hello;
//     }
// }

// fake-h1 {
//     @extend %h1, h1;
// }
