///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

// @use 'config';
// @use 'tokens';

@use 'lib' as *;

@use '00-abstracts' as *;

/* # ACCESSIBILITY
 * ======================================================================== */

@include focus-visible {
    outline: #{var-token('focus-ring-outline-width')} dashed
        #{var-token('focus-ring-outline-color')};
    outline-offset: #{var-token('focus-ring-outline-offset')};
}
