///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

// @use 'config';
// @use 'tokens';

@use '../../lib' as *;

/* # ACCESSIBILITY
 * ======================================================================== */

@include focus-visible {
    outline: #{var-stroke-relative('400')} dashed currentColor;
    outline-offset: #{var-border-width('200')};
}
