///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

@use 'config';
// @use 'tokens';

@use '../../lib' as *;

/* # FORMS
 * ======================================================================== */

fieldset {
    margin: 0;
    padding: 0;
    border: none;

    legend {
        font-weight: 600;
    }
}

%_input-base {
    @include snippet-input;

    @include focus-visible-or-within {
        outline-color: ActiveText;
    }

    /// BLOCK ///

    label + &,
    label > & {
        margin-block-start: #{var-mrg-firm('200')};
    }
}

input {
    @extend %_input-base;
    @include snippet-input-types($includeBase: false);
}

select {
    @extend %_input-base;
    cursor: pointer;
}

textarea {
    @extend %_input-base;
    cursor: text;
}

a.button,
button,
[role='button'],
input[type='button'],
input[type='submit'],
%button {
    @include snippet-button;

    @include focus-visible-or-within {
        outline-color: ActiveText;
    }
}

input[type='reset'],
a.button-secondary,
.button-secondary,
::file-selector-button,
%button-secondary {
    @extend %button;
}

::file-selector-button {
    display: initial;
    margin: #{var-mrg-firm('200')} 0;
    margin-inline-end: #{var-mrg-firm('300')};
    border: none;

    font-size: #{var-fs(normal)};
}

label {
    @include snippet-label;
}
