///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:string';

// @use 'config';
// @use 'tokens';

// @use '../../lib' as *;

/* # TABLES
 * ======================================================================== */
