///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'config';

@if not config.$internal_supressCredit {
    /*! end of @maddimathon/utility-sass/templates/base */
}
