///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../config' with (
    $internal_supressCredit: true,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);

$include_normalize: true !default;
