///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../config' with (
    $internal_supressCredit: true,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$include_normalize: true !default;

@mixin incl-html {
    @if $include_html {
        @content;
    }
}
