///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../config' with (
    $internal_supressCredit: true,

    $selectorType_mode: 'null-selector' !default,
    $selectorType_motion: 'null-selector' !default
);

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$include_normalize: true !default;

///
/// Whether to include utility classes in the output.
///
/// @since ___PKG_VERSION___
///
$include_utilities: true !default;
