///
/// Here as a shortcut to the full lib that hides mixins replaced in this
/// template.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../lib' hide custom-token-map, custom-token-value, snippet-button,
    snippet-input, snippet-input-types, snippet-label, var-custom-token;
