///
/// This is a very opinionated reset that aims to create a better, more
/// consistent, and more accessible version of browser built-in styles.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward '../../lib' hide snippet-button;

@forward '_header';

@forward '00-abstracts';
@forward '01-accessibility';
@forward '02-objects';
@forward '03-typography';
@forward '04-lists';
@forward '05-forms';
@forward '06-tables';

@forward '_footer';
