///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'config';
@forward 'tokens';

@forward '_header';

@forward 'lib';

// @forward '_content';
@forward '../_content';

@forward '_footer';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use 'config';

@use '../../lib' as *;
@use '../_content' as *;

@if config.$print_globals {
    @include extend-selectors-globals($optional: true);
}

@if config.$print_utils {
    @include extend-selectors-utils($optional: true);
}
