///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../config';
@use '../lib';

@if config.$print_tokens {
    /* # TOKENS & PROPERTIES
     * ======================================================================== */

    @include lib.tokens-all;
}
