///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
@use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

// @use '../../../config';
@use '../../../tokens';

// @use '../../01-01-meta' as *;
// @use '../../01-02-lists' as *;
// @use '../../01-03-maps' as *;
// @use '../../01-04-numbers' as *;
// @use '../../01-05-strings' as *;
// @use '../../01-06-selectors' as *;
// @use '../../01-07-colours' as *;
// @use '../../01-08-accessibility' as *;
// @use '../../01-09-typography' as *;

// @use '../01-11-01-spacing' as *;

/// # MODE TOKEN FUNCTIONS - META
/// ======================================================================== ///

///
/// Returns the type of brightness/contrast mode, or null if none.
///
/// @param {string} $mode  Mode slug to test.
///
/// @returns {"brightness"|"contrast"|null}
///
/// @since ___PKG_VERSION___
///
@function get-token-mode-type($mode) {
    @if list.index(tokens.$brightnessMode_all, $mode) != null {
        @return 'brightness';
    }

    @if list.index(tokens.$contrastMode_all, $mode) != null {
        @return 'contrast';
    }

    @return null;
}

///
/// Tests if this is the current default for its respective mode type.
///
/// @param {string} $mode  Mode slug to test.
///
/// @since ___PKG_VERSION___
///
@function is-token-mode-default($mode) {
    $modeType: get-token-mode-type($mode);

    // returns
    @if $modeType == 'brightness' and $mode == tokens.$brightnessMode_default {
        @return true;
    }

    // returns
    @if $modeType == 'contrast' and $mode == tokens.$contrastMode_default {
        @return true;
    }

    @return false;
}

///
/// Mode type for given $mode (regardless of value) is set to default only
/// (i.e., has one or fewer items).
///
/// @param {string} $mode  Mode slug to test.
///
/// @since ___PKG_VERSION___
///
@function is-token-mode-type-default-only($mode) {
    $modeType: get-token-mode-type($mode);

    @if $modeType ==
        'brightness' and
        list.length(tokens.$brightnessMode_all) <=
        1
    {
        @return true;
    }

    @if $modeType == 'contrast' and list.length(tokens.$contrastMode_all) <= 1 {
        @return true;
    }

    @return false;
}

///
/// This colour mode is included in the current stylesheet.
///
/// @param {string} $mode  Mode slug to test.
///
/// @since ___PKG_VERSION___
///
@function is-token-mode-included($mode) {
    $modeType: get-token-mode-type($mode);

    @if $modeType == null {
        @return false;
    }

    @if is-token-mode-type-default-only($mode) and not
        is-token-mode-default($mode)
    {
        @return false;
    }

    @return true;
}
