///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config';

///
/// Whether to output the tokens as custom property rules.
///
/// @since ___PKG_VERSION___
///
$print_tokens: true !default;
$print_tokens: config.config-valid-bool($print_tokens, 'print_tokens');
