///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

///
/// Validates the value of a config variable that should be a boolean. Uses
/// their truthy/falsey value.
///
/// @param {any}     $value  The variable's value.
/// @param {string}  $name   The variable's name.
///
/// @returns {bool}
///
@function config-valid-bool($value, $name) {
    @return if($value, true, false);
}
