///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../../modules/colour';
// @use '../../../../modules/list';
// @use '../../../../modules/map';
// @use '../../../../modules/math';
// @use '../../../../modules/meta';
// @use '../../../../modules/selector';
// @use '../../../../modules/string';

@use '../../config';
// @use '../../tokens';

@use '../../lib' as *;

@include config.print-headings {
    /* # GLOBALS - Accessibility
     * ======================================================================== */
}

@mixin _focus-ring {
    outline: #{var-token('focus-ring-outline-width')} dashed
        #{var-token('focus-ring-outline-color')};
    outline-offset: #{var-token('focus-ring-outline-offset')};
}

%focus-ring {
    /* %focus-ring */
    @include _focus-ring;
}

%focus-ring--where {
    /* %focus-ring--where */
    @include _focus-ring;
}

%focus-ring--visible {
    /* %focus-ring--visible */
    @include _focus-ring;
}

%screen-reader-text {
    @include snippet-screen-reader-text;
}
