///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';

@use '../config';

@use '../selector';

///
/// @since 0.1.0-pre.0
/// @since 0.1.0-alpha — Moved from library to own module.
///
@function get-selector($key, $bool, $addSelectors: (), $args...) {
    $args: meta.keywords($args);

    @if $key != null and list.index(config.$featureCheck_supports, $key) == null {
        @warn "[feature-check.get-selector] $key '#{$key}' is not an item in config.$featureCheck_supports";
    }

    $sels: if(
        $key == null or $key == whereSelector,
        if($bool, ':where( .js )', ('.no-js', '.js__no-whereSelector')),
        ':where( .js__#{if( $bool, '', 'no-' )}#{$key} )'
    );

    // $sels: _get-selector-nesting($sels, $args...);
    $sels: selector.add-root-selector($sels);

    // $hasAddSels: list.length($addSelectors) > 0;

    $addSelsType: meta.type-of($addSelectors);

    $hasAddSels: list.length($addSelectors) > 0;

    // returns
    @if $hasAddSels {
        @return list.join($addSelectors, $sels, $separator: comma);
    }

    @return $sels;
}
