///
/// Utilities that support the FeatureCheck class.
///
/// @module feature-check
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @forward '../../notice';

@forward 'get-selector';
@forward 'mixins';
