///
/// Utilities that support the FeatureCheck class.
///
/// @module feature-check
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha
///

@forward '../../notice';

@forward 'get-selector';
@forward 'mixins';
