///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:meta';

@use '../_config' as config;

@use 'add-unit';
@use 'round-to-pixel';

///
/// Returns a clamp value for given font size (uses svw).
///
/// @param {number} $size  Rem/em value.
/// @param {bool} $relative  Optional. Whether to return a relative value.
///
/// @returns {calc}
///
/// @since 0.1.0-pre.0
/// @since 0.1.0-alpha.18 — Added $relative param.
/// @since 0.1.0-alpha.41 — Added $roundingFactor param.
/// @since ___PKG_VERSION___ — Moved to math module.
///
@function clamp-font-size(
    $size,
    $relative: false,
    $roundingFactor: config.$math_fontSize_roundingFactor,
    $unit: if($relative, 1em, 1rem)
) {
    @if meta.type-of($size) != number {
        @warn "$size should be a number (was the #{meta.type-of($size)} #{$size})";
        @return add-unit.add-unit($size, $unit: $unit);
    }

    $size_min: round-to-pixel.round-to-pixel(
        $size * config.$math_clampFontSize_multiplier_min,
        $factor: $roundingFactor,
        $method: floor
    );

    $size_max: round-to-pixel.round-to-pixel(
        $size * config.$math_clampFontSize_multiplier_max,
        $factor: $roundingFactor,
        $method: ceil
    );

    @return clamp(
        add-unit.add-unit($size_min, $unit: $unit),
        calc(
            add-unit.add-unit(
                    round-to-pixel.round-to-pixel(
                        $size * config.$math_clampFontSize_multiplier_svw
                    ),
                    $unit: 1svw
                ) +
                add-unit.add-unit(config.$math_clampFontSize_baseRem, $unit: $unit)
        ),
        add-unit.add-unit($size_max, $unit: $unit)
    );
}
