///
/// Meant to be an extension of the built-in 'sass:math' module. DO NOT FORWARD.
/// For @use only.
///
/// @module math
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:math';

@forward 'deunit';
@forward 'num-val';
@forward 'round-to-pixel';
