///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
@use 'sass:color';
@use 'sass:math';
@use 'sass:meta';

///
/// Converts given colour to an hsl css function.
///
/// @param {color} $clr
///
/// @return {color}
///
/// @since ___PKG_VERSION___
///
@function to-hsl($clr, $round: true) {
    @if meta.type-of($clr) != 'color' {
        @warn "$clr should be a colour (was #{meta.type-of( $clr )})";
        @return $clr;
    }

    $clr: color.to-space($clr, hsl);

    $rounding_factor: if($round, 1, 100);

    @return hsl(
        calc(
            math.round(
                    color.channel($clr, 'hue', $space: hsl) * $rounding_factor
                ) /
                $rounding_factor
        ),
        math.clamp(
            0%,
            calc(
                math.round(
                        color.channel($clr, 'saturation', $space: hsl) *
                            $rounding_factor
                    ) /
                    $rounding_factor
            ),
            100%
        ),
        math.clamp(
            0%,
            calc(
                math.round(
                        color.channel($clr, 'lightness', $space: hsl) *
                            $rounding_factor
                    ) /
                    $rounding_factor
            ),
            100%
        )
    );
}
