///
/// Meant to be an extension of the built-in 'sass:colour' module. DO NOT
/// FORWARD. For @use only.
///
/// @module colour
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:color';

@forward 'mix-oklch';
@forward 'shade-map';
@forward 'shade-map-reverse-key';
@forward 'to-hsl';
