///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../config' with (
    $include_html: true !default,

    $internal_isTemplate: true !default,

    $print_globals: true !default,
    $print_normalize: true !default,
    $print_tokens: true !default,
    $print_utils: true !default
);
