///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '_lib' hide $internal_supressCredit;

@use '../../../config/functions' as config;

$internal_supressCredit: false !default;
$internal_supressCredit: config.config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);
