///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward '../../config' with (
    $internal_supressCredit: true,

    $print_globals: true !default,
    $print_normalize: true !default,
    $print_tokens: true !default,
    $print_utils: true !default,

    $selectorType_mode: 'attribute',
    $selectorType_motion: 'attribute',

    // $mx_colourMode_includeQuery_default: false !default,
    $mx_colour_mode_each_include_selectors_forced_colors: true !default
);
