///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward '../_content/config' with (
    $internal_supressCredit: true,

    $include_html: true !default,

    $template_print_globals: true !default,
    $template_print_normalize: true !default,
    $template_print_tokens: true !default,
    $template_print_utils: true !default,

    $selectorType_mode: 'attribute',
    $selectorType_motion: 'attribute',

    // $mx_colourMode_includeQuery: false !default,
    $mx_colourModeEach_includeForcedColorsSelectors: true !default
);
