///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

/*!
 * Utility Sass Template - Demo
 *
 * This stylesheet (and its partials) demonstrate a few of the core mixins.
 * Extend the scss to play with the config, or see the defaults in the css
 * included in the pacakge.
 *
 * @maddimathon/utility-sass@___CURRENT_VERSION___
 *
 * Author: Maddi Mathon (www.maddimathon.com)
 * License: MIT
 */
