///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../config';

@use '../../../../modules/list';
@use '../../../../modules/map';
@use '../../../../modules/meta';

/// # TOKENS - FUNCTIONS - Colours
/// ======================================================================== ///

///
/// Validates the colour maps. Recursive.
///
/// @since ___PKG_VERSION___
///
@function tokens-validate-shade-map(
    $value,
    $name,
    $default,
    $recursive: false
) {
    // returns - fails type
    @if meta.type-of($value) != map {
        @warn "[base][config] $#{$name} must be a map (not the #{meta.type-of($value)} '#{$value}')";
        @return $default;
    }

    $validMap: ();

    @each $_key, $_value in $value {
        $_keyType: meta.type-of($_key);
        $_valueType: meta.type-of($_value);

        //
        $_validValue: null;

        //
        @if $_keyType != string {
            // = warn that this is invalid
            @warn "[base][config] $#{$name} must be a map with string keys (there was a #{$_keyType} '#{$_key}')";
        } @else if $_valueType == map and $recursive {
            // = recursive
            $_validValue: tokens-validate-shade-map(
                $_value,
                '$#{$name}.#{$_key}',
                ()
            );
        } @else {
            // this is the value of a colour

            @if config.$tokens_expandClrMaps and config.$include_clr {
                // we should check that it's a colour
                @if $_valueType == color or $_value == null {
                    $_validValue: $_value;
                } @else {
                    @warn "[base][config] $#{$name}.#{$_key} must be a colour (was the #{$_valueType} '#{$_value}')";
                }
            } @else {
                // we should make it a string
                $_validValue: '#{$_validValue}';
            }
        }

        $validMap: map.set($validMap, $_key, $_validValue);
    }

    // returns - nothing valid
    @if list.length(map.keys($validMap)) <1 {
        // already warned in the @each
        @return $default;
    }

    @return $validMap;
}
