///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config';

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;
$include_html: config.config-valid-bool($include_html, 'include_html');

///
/// Uses $include_html to conditionally include CSS suited for websites.
///
/// @since ___PKG_VERSION___
///
@mixin incl-html {
    @if $include_html {
        @content;
    }
}

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$include_normalize: true !default;
$include_normalize: config.config-valid-bool(
    $include_normalize,
    'include_normalize'
);

///
/// Whether to output the tokens as custom property rules.
///
/// @since ___PKG_VERSION___
///
$print_tokens: true !default;
$print_tokens: config.config-valid-bool($print_tokens, 'print_tokens');
