///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config/functions' as config;

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;
$include_html: config.config-valid-bool($include_html, 'include_html');

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since ___PKG_VERSION___
///
$print_globals: true !default;
$print_globals: config.config-valid-bool($print_globals, 'print_globals');

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$print_normalize: $include_html !default;
$print_normalize: config.config-valid-bool($print_normalize, 'print_normalize');

///
/// Whether to include the custom property definitions in the output.
///
/// @since ___PKG_VERSION___
///
$print_tokens: true !default;
$print_tokens: config.config-valid-bool($print_tokens, 'print_tokens');

///
/// Whether to include the utility class selectors in the output.
///
/// @since ___PKG_VERSION___
///
$print_utils: $include_html !default;
$print_utils: config.config-valid-bool($print_utils, 'print_utils');

///
/// Whether to include the css headings in the output.
///
/// @since ___PKG_VERSION___
///
$print_headings: if(
    $print_globals or $print_normalize or $print_tokens or $print_utils,
    true,
    false
) !default;
$print_headings: config.config-valid-bool($print_headings, 'print_headings');
