///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../../../config/functions' as config;

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;
$include_html: config.config-valid-bool($include_html, 'include_html');

///
/// Uses $include_html to conditionally include CSS suited for websites.
///
/// @since ___PKG_VERSION___
///
@mixin incl-html {
    @if $include_html {
        @content;
    }
}

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since ___PKG_VERSION___
///
$print_globals: true !default;
$print_globals: config.config-valid-bool($print_globals, 'print_globals');

///
/// Uses $print_globals to conditionally include global selectors.
///
/// @since ___PKG_VERSION___
///
@mixin print-globals {
    @if $print_globals {
        @content;
    }
}

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$print_normalize: $include_html !default;
$print_normalize: config.config-valid-bool($print_normalize, 'print_normalize');

///
/// Whether to include the custom property definitions in the output.
///
/// @since ___PKG_VERSION___
///
$print_tokens: true !default;
$print_tokens: config.config-valid-bool($print_tokens, 'print_tokens');

///
/// Uses $print_tokens to conditionally include custom property definitions.
///
/// @since ___PKG_VERSION___
///
@mixin print-tokens {
    @if $print_tokens {
        @content;
    }
}

///
/// Whether to include the utility class selectors in the output.
///
/// @since ___PKG_VERSION___
///
$print_utils: $include_html !default;
$print_utils: config.config-valid-bool($print_utils, 'print_utils');

///
/// Uses $print_utils to conditionally include utility class selectors.
///
/// @since ___PKG_VERSION___
///
@mixin print-utils {
    @if $print_utils {
        @content;
    }
}

///
/// Whether to include the css headings in the output.
///
/// @since ___PKG_VERSION___
///
$print_headings: if(
    $print_globals or $print_normalize or $print_tokens or $print_utils,
    true,
    false
) !default;
$print_headings: config.config-valid-bool($print_headings, 'print_headings');

///
/// Uses $print_headings to conditionally include custom property definitions.
///
/// @since ___PKG_VERSION___
///
@mixin print-headings {
    @if $print_headings {
        @content;
    }
}
