///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../config';

@use '../../../modules/map';

@use '../../../tokens';

@use 'functions' as *;

/// # TOKENS - THEMES
/// ======================================================================== ///

// #region $_defaultTheme
$_defaultTheme: (
    forced-colors: (
        background: Canvas,

        text: (
            '$': CanvasText,
            'primary': CanvasText,
            'secondary': CanvasText,
            'active': CanvasText,
        ),

        ui: (
            '$': CanvasText,
            'primary': CanvasText,
            'secondary': CanvasText,
            'active': CanvasText,
        ),

        selection: (
            'bg': Highlight,
            'text': HighlightText,
        ),

        link: (
            '$': LinkText,
            'hover': ActiveText,
            'active': ActiveText,
        ),

        button: (
            background: (
                '$': ButtonFace,
                'hover': SelectedItem,
                'active': ButtonFace,
            ),
            border: (
                '$': ButtonBorder,
                'hover': SelectedItem,
                'active': ButtonBorder,
            ),
            text: (
                '$': ButtonText,
                'hover': SelectedItemText,
                'active': ButtonText,
            ),
        ),

        input: (
            background: (
                '$': Field,
                'hover': SelectedItem,
                'active': Field,
            ),
            border: (
                '$': FieldText,
                'hover': SelectedItem,
                'active': FieldText,
            ),
            text: (
                '$': FieldText,
                'hover': SelectedItemText,
                'active': FieldText,
            ),
        ),
    ),
);
// #endregion $_defaultTheme

@each $brightness in tokens.$brightnessMode_all {
    $_defaultTheme: map.set($_defaultTheme, $brightness, ());

    @each $contrast in tokens.$contrastMode_all {
        @if $contrast != forced-colors {
            // conditional defaults
            $_theme: if(
                $brightness == dark,
                tokens-build-theme-dark(),
                tokens-build-theme()
            );

            $_defaultTheme: map.set(
                $_defaultTheme,
                $brightness,
                $contrast,
                $_theme
            );
        }
    }
}

///
/// Themes used in the base styles.
///
/// @since ___PKG_VERSION___
///
$themes: () !default;

@if config.$include_clr {
    $themes: map.merge($_defaultTheme, $themes, $recursive: true);
} @else {
    $themes: (
        forced-colors: map.get($_defaultTheme, forced-colors),
    );
}
