///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'custom';

@forward '../../../tokens' with (
    $internal_customTokensDefault: custom.$internal_customTokensDefault
);
