///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
@use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

// @use '../config';

$internal_customTokensDefault: () !default;

$internal_customTokensDefault: map.merge(
    (
        focus-ring: (
            outline-width: '400',
            outline-offset: '400',
            outline-color: var(--sys-clr-link, LinkText),
        ),
    ),
    map.flatten($internal_customTokensDefault)
);
