///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../tokens' with (
    $customTokens: () !default
);

@forward 'functions';

@forward '01-colours';
// @forward '02-themes';

// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use '../../../tokens' as *;

@use '01-colours' as *;

$customTokens: map.set($customTokens, clr, $colours);
