///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../tokens' with (
    $customTokens: () !default
);

@forward 'functions';

@forward '01-colours';
@forward '02-themes';

@use '../config';

@use '../../../tokens' as *;

@use '../../../modules/map';

@use '01-colours' as *;

@if config.$include_clr {
    $customTokens: map.set($customTokens, clr, $colours);
}
