///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
@use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '_lib' as lib;

@use '../config';

$_layoutVW_default: 8;

///
/// @since ___PKG_VERSION___
///
$layoutVW: null !default;
$layoutVW: config.config-valid-number(
    $layoutVW,
    'layoutVW',
    $default: $_layoutVW_default,
    $min: 2
);

$_gap_tab: config.config-round-to-pixel(
    calc($layoutVW * (1.5 / $_layoutVW_default)),
    8
);

$_gap_indent: config.config-round-to-pixel(
    calc($layoutVW * (4 / $_layoutVW_default)),
    8
);

$_gap_block_layout: config.config-round-to-pixel(
    calc($layoutVW * (5 / $_layoutVW_default)),
    8
);

///
/// Gaps are responsive margins to be used at the page layout level.
///
/// @since ___PKG_VERSION___
///
$gaps: (
    block: (
        'layout': $_gap_block_layout,
        'layout-half': calc($_gap_block_layout / 2),
    ),

    inline: (
        'indent': $_gap_indent,
        'layout': $layoutVW,
        'layout-half': calc($layoutVW/2),
        'tab': $_gap_tab,
    ),
);
