///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../base/config' with (
    $include_featureCheck: true !default,
    $include_html: true,

    $print_globals: true !default,
    $print_normalize: true !default,
    $print_tokens: true !default,
    $print_utils: true !default,

    $selectorType_mode: 'attribute' !default,
    $selectorType_motion: 'attribute' !default
);

@forward '../base/tokens';

@forward '../base';
