///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///
// @use 'sass:string';

// @use 'functions' as *;

/// # CONFIG - FUNCTIONS
/// ======================================================================== ///

// unlikely to want to use these, but here just in case
$fn_clamp_font_size_multiplier_min: 0.75 !default;
$fn_clamp_font_size_multiplier_svw: 1.3125 !default;
$fn_clamp_font_size_multiplier_max: 1.125 !default;
$fn_clamp_font_size_svw_rem: 1 !default;

$fn_fontRoundToPixelFactor: 16 !default;

$fn_fs_value_default_scale: 1 !default;

$mx_colour_mode_each_include_selectors_forced_colors: false !default;
