///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///
// @use 'sass:string';

@use 'functions' as *;

/// # CONFIG - FUNCTIONS
/// ======================================================================== ///

// unlikely to want to use these, but here just in case
$fn_clampFontSize_multiplier_min: 0.75 !default;
$fn_clampFontSize_multiplier_svw: 1.3125 !default;
$fn_clampFontSize_multiplier_max: 1.125 !default;
$fn_clampFontSize_svw_rem: 1 !default;

///
/// @since ___PKG_VERSION___
///
$fn_borderWidthValue_roundToPixelFactor: 32 !default;

$fn_fontSizeValue_defaultFontScale: 1 !default;
$fn_fontSizeValue_roundToPixelFactor: 16 !default;

///
/// @since ___PKG_VERSION___
///
$fn_lineHeightValue_roundToPixelFactor: 32 !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_borderWidth: false !default;
$fn_var_replaceWithValue_borderWidth: config-valid-bool(
    $fn_var_replaceWithValue_borderWidth,
    'fn_var_replaceWithValue_borderWidth'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_fontSize: false !default;
$fn_var_replaceWithValue_fontSize: config-valid-bool(
    $fn_var_replaceWithValue_fontSize,
    'fn_var_replaceWithValue_fontSize'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_lineHeight: false !default;
$fn_var_replaceWithValue_lineHeight: config-valid-bool(
    $fn_var_replaceWithValue_lineHeight,
    'fn_var_replaceWithValue_lineHeight'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_gap: false !default;
$fn_var_replaceWithValue_gap: config-valid-bool(
    $fn_var_replaceWithValue_gap,
    'fn_var_replaceWithValue_gap'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_margin: false !default;
$fn_var_replaceWithValue_margin: config-valid-bool(
    $fn_var_replaceWithValue_margin,
    'fn_var_replaceWithValue_margin'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_strokeRelative: false !default;
$fn_var_replaceWithValue_strokeRelative: config-valid-bool(
    $fn_var_replaceWithValue_strokeRelative,
    'fn_var_replaceWithValue_strokeRelative'
);

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_width: false !default;
$fn_var_replaceWithValue_width: config-valid-bool(
    $fn_var_replaceWithValue_width,
    'fn_var_replaceWithValue_width'
);
