///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use 'sass:string';

@use 'functions' as *;

@use 'include';
@use 'template';

/// # CONFIG - FUNCTIONS
/// ======================================================================== ///

///
/// @since 0.1.0-alpha
///
$fn_clampFontSize_multiplier_max: null !default;
$fn_clampFontSize_multiplier_max: config-valid-number(
    $fn_clampFontSize_multiplier_max,
    'fn_clampFontSize_multiplier_max',
    $default: 1.125,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$fn_clampFontSize_multiplier_min: null !default;
$fn_clampFontSize_multiplier_min: config-valid-number(
    $fn_clampFontSize_multiplier_min,
    'fn_clampFontSize_multiplier_min',
    $default: 0.75,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$fn_clampFontSize_multiplier_svw: null !default;
$fn_clampFontSize_multiplier_svw: config-valid-number(
    $fn_clampFontSize_multiplier_svw,
    'fn_clampFontSize_multiplier_svw',
    $default: 1.3125,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$fn_clampFontSize_svw_rem: null !default;
$fn_clampFontSize_svw_rem: config-valid-number(
    $fn_clampFontSize_svw_rem,
    'fn_clampFontSize_svw_rem',
    $default: 1,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha.19
///
$fn_borderWidthValue_roundToPixelFactor: null !default;
$fn_borderWidthValue_roundToPixelFactor: config-valid-number(
    $fn_borderWidthValue_roundToPixelFactor,
    'fn_borderWidthValue_roundToPixelFactor',
    $default: 32,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$fn_fontSizeValue_roundToPixelFactor: null !default;
$fn_fontSizeValue_roundToPixelFactor: config-valid-number(
    $fn_fontSizeValue_roundToPixelFactor,
    'fn_fontSizeValue_roundToPixelFactor',
    $default: 16,
    $min: 1,
    $unit: false
);

///
/// @since 0.1.0-alpha.20
///
$fn_gapValue_useMarginValue: true !default;

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_block_layout_low: null !default;
$fn_gapValue_block_layout_low: config-valid-token-level(
    $fn_gapValue_block_layout_low,
    'fn_gapValue_block_layout_low',
    $default: '600'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_block_layout_high: null !default;
$fn_gapValue_block_layout_high: config-valid-token-level(
    $fn_gapValue_block_layout_high,
    'fn_gapValue_block_layout_high',
    $default: '800'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_indent_low: null !default;
$fn_gapValue_inline_indent_low: config-valid-token-level(
    $fn_gapValue_inline_indent_low,
    'fn_gapValue_inline_indent_low',
    $default: '200'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_indent_high: null !default;
$fn_gapValue_inline_indent_high: config-valid-token-level(
    $fn_gapValue_inline_indent_high,
    'fn_gapValue_inline_indent_high',
    $default: '800'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_layout_low: null !default;
$fn_gapValue_inline_layout_low: config-valid-token-level(
    $fn_gapValue_inline_layout_low,
    'fn_gapValue_inline_layout_low',
    $default: '400'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_layout_high: null !default;
$fn_gapValue_inline_layout_high: config-valid-token-level(
    $fn_gapValue_inline_layout_high,
    'fn_gapValue_inline_layout_high',
    $default: '900'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_tab_low: null !default;
$fn_gapValue_inline_tab_low: config-valid-token-level(
    $fn_gapValue_inline_tab_low,
    'fn_gapValue_inline_tab_low',
    $default: '100'
);

///
/// @since 0.1.0-alpha.33
///
$fn_gapValue_inline_tab_high: null !default;
$fn_gapValue_inline_tab_high: config-valid-token-level(
    $fn_gapValue_inline_tab_high,
    'fn_gapValue_inline_tab_high',
    $default: '600'
);

///
/// @since 0.1.0-alpha.19
///
$fn_lineHeightValue_roundToPixelFactor: null !default;
$fn_lineHeightValue_roundToPixelFactor: config-valid-number(
    $fn_lineHeightValue_roundToPixelFactor,
    'fn_lineHeightValue_roundToPixelFactor',
    $default: 32,
    $min: 1,
    $unit: false
);

$_var_replace_default: string.length(template.$cxPropPre) < 1 and not include.$include_html;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_borderWidth: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_fontSize: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_lineHeight: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_gap: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_margin: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_strokeRelative: $_var_replace_default !default;

///
/// @since 0.1.0-alpha.14
///
$fn_var_replaceWithValue_width: $_var_replace_default !default;
