///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use 'functions' as *;

/// # CONFIG - INCLUDE
/// ======================================================================== ///

///
/// Whether to include css for the FeatureCheck utility class.
///
/// If false, fallback mixins act as if all features are permanently unavaible.
/// i.e., no-js and js-no-support prints content un altered, while js and
/// js-support output nothing.
///
/// @since ___PKG_VERSION___
///
$include_featureCheck: false !default;
$include_featureCheck: config-validate-bool(
    $include_featureCheck,
    'include_featureCheck'
);
