///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'functions' as *;

/// # CONFIG - INTERNAL
/// ======================================================================== ///

///
/// Whether the library is being called from a stylesheet template.
///
/// @since ___PKG_VERSION___
///
$internal_isTemplate: false !default;
$internal_isTemplate: config-valid-bool(
    $internal_isTemplate,
    'internal_isTemplate'
);

///
/// Removes the 'theses styles include utility-sass' comment (for use by the
/// scss templates).
///
/// @since ___PKG_VERSION___
///
$internal_supressCredit: false !default;
$internal_supressCredit: config-valid-bool(
    $internal_supressCredit,
    'internal_supressCredit'
);

/// ## Mixin Config ==================================== ///

// unlikely to want to use these, but here just in case
$mx_interactive_states_include_fallbacks: true !default;
$mx_interactive_states_include_fallbacks_only: false !default;
