///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@forward 'scale';

@use 'functions' as *;
@use 'scale' as *;

/// # CONFIG - MARGINS
/// ======================================================================== ///

$margin_softener: 0.625 !default;

$margins: () !default;

$margins: config-token-margins(
    $scale_multiplier,
    config-merge-args(
        (
            '100': -9,
            '200': -6,
            '300': -3,
            '400': 0,
            '600': 4,
            '800': 8,
        ),
        $margins
    )
);

@each $key, $value in $margins {
    $margins: map.set($margins, $key, config-round-to-pixel($value));
}
