/// 
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@forward 'scale';

@use 'functions' as *;
@use 'scale' as *;



/// # CONFIG - MARGINS
/// ======================================================================== ///

$margin_softener: 0.625 !default;

$margins: () !default;

$margins: config-token-margins(
    $scale_multiplier,
    config-parse-args( (
        '100': -9.0,
        '200': -6.0,
        '300': -3.0,
        '400':  0.0,
        '600':  4.0,
        '800':  8.0,
    ), $margins )
);

@each $key, $value in $margins {
    $margins: map.set( $margins, $key, config-round-to-pixel( $value ) );
}