///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'functions' as *;

/// # CONFIG - PATHS
/// ======================================================================== ///
