///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use 'functions' as *;

/// # CONFIG - SELECTORS
/// ======================================================================== ///

///
/// The global selector to use for a elements. This option is here in case you
/// want to use, e.g., 'a' instead of 'a[href]' - this affects the button
/// utility selector used for links with the `.button` class as well.
///
/// @since ___PKG_VERSION___
///
$selector_a: null !default;
$selector_a: config-valid-selector($selector_a, 'selector_a', $default: 'a[href]');

///
/// How to select for manual overrides of theme modes (e.g., brightness, contrast).
///
/// @default 'attribute'
///
/// @since 0.1.0-pre.0
///
$selectorType_mode: null !default;
$selectorType_mode: config-valid-selector-type($selectorType_mode, 'selectorType_mode', 'null');

///
/// How to select for manual overrides of motion preference.
///
/// @default 'attribute'
///
/// @since 0.1.0-pre.0
///
$selectorType_motion: null !default;
$selectorType_motion: config-valid-selector-type(
    $selectorType_motion,
    'selectorType_motion',
    'null'
);
