///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
// @use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
@use 'sass:string';

@use 'functions' as *;

/// # CONFIG - SELECTORS
/// ======================================================================== ///

$selector_null: (string.unquote('%null')) !default;
$selector_root: (string.unquote(':root')) !default;

/// Types ------------------ ///

///
/// How to override browser settings for theme modes.
///
$selectorType_mode: 'attribute' !default;
$selectorType_mode: config-validate-selector-type(
    $selectorType_mode,
    'selectorType_mode'
);

///
/// How to override browser settings for motion.
///
$selectorType_motion: 'attribute' !default;
$selectorType_motion: config-validate-selector-type(
    $selectorType_motion,
    'selectorType_motion'
);
