///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
@use 'sass:string';

@use 'functions' as *;

/// # CONFIG - SELECTORS
/// ======================================================================== ///

///
/// Selector to use for the body element.  Included here to allow
/// lower-specificity options.
///
/// @default ( string.unquote('body') )
///
/// @since ___PKG_VERSION___
///
$selector_body: null !default;
$selector_body: config-valid-selector(
    $selector_body,
    'selector_body',
    (string.unquote('body'))
);

///
/// Selector to use for the root element.  Included here to allow
/// lower-specificity options.
///
/// @default ( string.unquote(':root') )
///
/// @since ___PKG_VERSION___
///
$replaceRootSelector: null !default;
$replaceRootSelector: config-valid-selector(
    $replaceRootSelector,
    'selector_root',
    (string.unquote(':root'))
);

///
/// How to select for manual overrides of theme modes (e.g., brightness, contrast).
///
/// @default 'attribute'
///
/// @since ___PKG_VERSION___
///
$selectorType_mode: null !default;
$selectorType_mode: config-valid-selector-type(
    $selectorType_mode,
    'selectorType_mode',
    'null-selector'
);

///
/// How to select for manual overrides of motion preference.
///
/// @default 'attribute'
///
/// @since ___PKG_VERSION___
///
$selectorType_motion: null !default;
$selectorType_motion: config-valid-selector-type(
    $selectorType_motion,
    'selectorType_motion',
    'null-selector'
);
