///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use 'functions' as *;

/// # CONFIG - SPACING
/// ======================================================================== ///

///
/// Used for scaling various size sets relative to each other - e.g., margins,
/// font sizes, line heights.
///
/// @since ___PKG_VERSION___
///
$scale_multiplier: 1.15625 !default;

/// ## MARGINS ==================================== ///

$margin_softener: 0.625 !default;
