///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///
// @use 'sass:color';
// @use 'sass:list';
@use 'sass:map';
// @use 'sass:math';
// @use 'sass:meta';
// @use 'sass:selector';
// @use 'sass:string';

@use 'functions' as *;

/// # CONFIG - SPACING
/// ======================================================================== ///

///
/// Used for scaling various size sets relative to each other - e.g., margins,
/// font sizes, line heights.
///
/// @since ___PKG_VERSION___
///
$scale_multiplier: 1.15625 !default;

/// ## MARGINS ==================================== ///

$margin_softener: 0.625 !default;

///
/// A map (merged with the defaults) of margin levels used as tokens throught
/// the system.
///
/// Default keys are '100', '200', '300', '400', '600', and '800'. After
/// merging, values are rounded with config-round-to-pixel().
///
/// @since ___PKG_VERSION___
///
$margins: () !default;

$margins: config-token-margins(
    $scale_multiplier,
    config-merge-args(
        (
            '100': -9,
            '200': -6,
            '300': -3,
            '400': 0,
            '600': 4,
            '800': 8,
        ),
        $margins
    )
);

@each $key, $value in $margins {
    $margins: map.set($margins, $key, config-round-to-pixel($value, 32));
}
