///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use 'sass:meta';
@use 'sass:string';

@use 'functions' as *;

/// # CONFIG - TEMPLATES
/// ======================================================================== ///

///
/// Prefix to use before all css custom properties (to avoid conflict).
///
/// @since 0.1.0-alpha.12
///
$customPropertyPrefix: null !default;
$customPropertyPrefix: config-valid-string(
    $customPropertyPrefix,
    'customPropertyPrefix',
    $default: ''
);

///
/// If a string with at least one character, this
///
/// @since ___PKG_VERSION___
///
$customPropertyPrefix_fallback: null !default;
$customPropertyPrefix_fallback: config-valid-string(
    $customPropertyPrefix_fallback,
    'customPropertyPrefix_fallback',
    $default: ''
);

$_exists_customPropertyPrefix: string.length($customPropertyPrefix) >0;
$_exists_customPropertyPrefix_fallback: string.length($customPropertyPrefix_fallback) >0 and
    $customPropertyPrefix != $customPropertyPrefix_fallback;

///
/// Prints a var(...) value with an optional fallback. Don't include -- in the slug.
///
/// @since 0.1.0-alpha.25
/// @since ___PKG_VERSION___ — Added optional $fallbackOnly param.
///
@function config-do-var($slug, $fallback: null, $fallbackOnly: false, $onlyFallbackPrefix: false) {
    //
    $onlyFallbackPrefix: $onlyFallbackPrefix and $_exists_customPropertyPrefix_fallback;

    @if $onlyFallbackPrefix or (not $fallbackOnly and $_exists_customPropertyPrefix_fallback) {
        $fallback: if(
            $fallback == null,
            var(--#{$customPropertyPrefix_fallback}#{$slug}),
            var(--#{$customPropertyPrefix_fallback}#{$slug}, #{$fallback})
        );
    }

    @return if(
        $onlyFallbackPrefix or ($fallbackOnly and not $_exists_customPropertyPrefix_fallback),
        $fallback,
        if(
            $fallback == null,
            var(--#{$customPropertyPrefix}#{$slug}),
            var(--#{$customPropertyPrefix}#{$slug}, #{$fallback})
        )
    );
}
