///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@forward 'include';
@forward 'internal';

@use 'functions' as *;
@use 'include';
@use 'internal';

/// # CONFIG - TEMPLATES
/// ======================================================================== ///

///
/// Prefix to use before all css custom properties (to avoid conflict).
///
/// @since 0.1.0-alpha.12
///
$customPropertyPrefix: '' !default;
$customPropertyPrefix: config-valid-string($customPropertyPrefix, 'customPropertyPrefix', '');

$cxPropPre: $customPropertyPrefix;

///
/// If true, var(...) values are printed without prefix first with the prefixed
/// var as a fallback.
///
/// @since 0.1.0-alpha.25
///
$customPropertyPrefix_asFallbackOnly: false !default;
$customPropertyPrefix_asFallbackOnly: config-valid-bool(
    $customPropertyPrefix_asFallbackOnly,
    'customPropertyPrefix_asFallbackOnly'
);

///
/// Prints a var(...) value with an optional fallback. Don't include -- in the slug.
///
/// @since 0.1.0-alpha.25
///
@function config-do-var($slug, $fallback: null) {
    $var_value: if(
        $fallback != null,
        var(--#{$cxPropPre}#{$slug}, $fallback),
        var(--#{$cxPropPre}#{$slug})
    );

    @if $customPropertyPrefix_asFallbackOnly and $cxPropPre {
        $var_value: var(--#{$slug}, $var_value);
    }

    @return $var_value;
}

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since 0.1.0-pre.0
///
$print_globals: false !default;
$print_globals: config-valid-bool($print_globals, 'print_globals');

///
/// Whether to include the normalize mixin in the output.
///
/// @since 0.1.0-pre.0
///
$print_normalize: include.$include_html and internal.$internal_isTemplate !default;
$print_normalize: config-valid-bool($print_normalize, 'print_normalize');

///
/// Whether to include the custom property definitions in the output.
///
/// @since 0.1.0-pre.0
///
$print_tokens: $print_globals !default;
$print_tokens: config-valid-bool($print_tokens, 'print_tokens');

///
/// Whether to include the utility class selectors in the output.
///
/// @since 0.1.0-pre.0
///
$print_utils: include.$include_html and $print_globals !default;
$print_utils: config-valid-bool($print_utils, 'print_utils');

///
/// Whether to include the css headings in the output.
///
/// @since 0.1.0-pre.0
///
$print_headings: ($print_globals or $print_normalize or $print_tokens or $print_utils) and
    internal.$internal_isTemplate !default;
$print_headings: config-valid-bool($print_headings, 'print_headings');
