///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'internal';

@use 'functions' as *;
@use 'internal';

/// # CONFIG - TEMPLATES
/// ======================================================================== ///

///
/// Whether to include ouput only suited for websites.
///
/// @since ___PKG_VERSION___
///
$include_html: false !default;
$include_html: config-valid-bool($include_html, 'include_html');

///
/// Whether to include the global selectors in the output. Otherwise, all
/// selectors are pseudo selectors.
///
/// @since ___PKG_VERSION___
///
$print_globals: internal.$internal_isTemplate !default;
$print_globals: config-valid-bool($print_globals, 'print_globals');

///
/// Whether to include the normalize mixin in the output.
///
/// @since ___PKG_VERSION___
///
$print_normalize: $include_html and internal.$internal_isTemplate !default;
$print_normalize: config-valid-bool($print_normalize, 'print_normalize');

///
/// Whether to include the custom property definitions in the output.
///
/// @since ___PKG_VERSION___
///
$print_tokens: true !default;
$print_tokens: config-valid-bool($print_tokens, 'print_tokens');

///
/// Whether to include the utility class selectors in the output.
///
/// @since ___PKG_VERSION___
///
$print_utils: $include_html !default;
$print_utils: config-valid-bool($print_utils, 'print_utils');

///
/// Whether to include the css headings in the output.
///
/// @since ___PKG_VERSION___
///
$print_headings: (
        $print_globals or $print_normalize or $print_tokens or $print_utils
    )
    and internal.$internal_isTemplate !default;
$print_headings: config-valid-bool($print_headings, 'print_headings');
