///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

/// # CONFIG - TYPOGRAPHY
/// ======================================================================== ///

/// ## Function Config ==================================== ///

// unlikely to want to use these, but here just in case
$fn_clamp_font_size_multiplier_min: 0.75 !default;
$fn_clamp_font_size_multiplier_svw: 1.3125 !default;
$fn_clamp_font_size_multiplier_max: 1.125 !default;
$fn_clamp_font_size_svw_rem: 1 !default;
