///
/// Import in any config (!default) variables to this file.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward 'functions';

@forward 'breakpoints';
@forward 'include';
@forward 'internal';
@forward 'mixin-config';
@forward 'paths';
@forward 'selectors';
@forward 'template';
@forward 'typography';
@forward 'widths';

/// ## Function Config ==================================== ///

$fn_fontRoundToPixelFactor: 16 !default;

$fn_selectors_colour_mode_include_forced_colors: false !default;
