/// 
/// Import in any config (!default) variables to this file.
/// 
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
/// 

@forward 'functions';

@forward 'breakpoints';
@forward 'colours';
@forward 'internal';
@forward 'margins';
@forward 'modes';
@forward 'paths';
@forward 'scale';
@forward 'selectors';