///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@if config.$print_normalize {
    @include normalize;
}

@if config.$print_tokens {
    @if config.$print_headings {
        /* # TOKENS & PROPERTIES
         * ======================================================================== */
    }

    @include tokens-all;
}
