///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # TYPOGRAPHY
     * ======================================================================== */
}

%root {
    line-height: #{var-line-height('400')};
}

%body {
}

@include config.print-headings {
    /* ## Typography - Inline ==================================== */
}

%strong {
    font-weight: 700;

    strong {
        font-weight: 800;

        strong {
            font-weight: 900;
        }
    }
}

%em {
    font-style: italic;

    em {
        font-style: normal;

        em {
            font-style: italic;
        }
    }
}

%a {
    display: inline;
    border: none;
    text-decoration: underline #{var-stroke-relative('200')};
    text-underline-offset: #{var-stroke-relative('600')};
    color: LinkText;

    /// STATES ///

    &:visited {
        color: VisitedText;
    }

    @include hover-focus-visible() {
        text-decoration-color: transparent;
        color: ActiveText;
    }

    &:active {
        color: ActiveText;
    }

    /// EXCEPTIONS ///

    &.no-style {
        text-decoration: none;
        font-weight: inherit;
        color: inherit;
    }

    &[aria-disabled='true'] {
        opacity: 0.875;
        cursor: not-allowed;

        @include colour-mode((high, forced-colors)) {
            text-decoration-line: line-through;
            opacity: 1;
        }
    }
}

%abbr {
    &[title] {
        text-decoration: dotted underline #{var-stroke-relative('400')};
        cursor: help;
    }
}

@include config.print-headings {
    /* ## Typography - Block ==================================== */
}

%p {
    margin-block: #{var-mrg-soft('400')} 0;

    hr + & {
        margin-block-start: 0;
    }
}

%blockquote {
    @include centre-callout-block(config.$include_html);
    margin-block: #{var-mrg-soft('400')} 0;
    margin-block: #{var-mrg-soft('600')}
        calc(#{var-mrg-soft('600')} - #{var-mrg-soft('400')});

    > p {
        &:first-child {
            margin-block-start: 0;
        }
    }

    > cite {
        display: block;
        margin-block: #{var-mrg-soft('400')} 0;
        text-align: end;

        &::before {
            content: '— ';
            color: currentColor;
        }

        color: color-mix(in srgb, currentColor 75%, transparent);

        @include high-contrast {
            color: color-mix(in srgb, currentColor 87.5%, transparent);
        }

        @include forced-colors {
            color: currentColor;
        }
    }
}

%pre,
%code {
}

%pre {
    @include centre-callout-block(config.$include_html);

    margin-block: #{var-mrg-soft('400')} 0;
    margin-block: #{var-mrg-soft('600')}
        calc(#{var-mrg-soft('600')} - #{var-mrg-soft('400')});

    width: fit-content;
    max-width: min(80ch, 100%);
    overflow: visible; /* otherwise the code block's focus ring is hidden (on scroll) */
    font-size: #{var-fs(smaller-1)};

    > code {
        display: block;
        margin: 0;
        padding: 0;
        border: none;

        width: fit-content;
        max-width: 100%;
        overflow: auto;
    }
}

@include config.print-headings {
    /* ## Typography - Headings ==================================== */
}

%heading {
    @include heading('7');
}

%h1,
%title {
    @include heading('title');
    // @include heading('1');
}

%h2 {
    @include heading('2');
}

%h3 {
    @include heading('3');
}

%h4 {
    @include heading('4');
}

%h5 {
    @include heading('5');
}

%h6 {
    @include heading('6');
}
