///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # FORMS
     * ======================================================================== */
}

%fieldset {
    @include snippet-fieldset;

    > :first-child {
        margin-block-start: 0;
        margin-block-start: calc(
            #{var-mrg-soft('400')} - #{var-mrg-soft('200')}
        );
    }

    > legend + * {
        margin-block-start: 0;
    }
}

%legend {
    fieldset &,
    fieldset &:first-child {
        @include heading;
        margin: 0;
        margin-inline: calc(#{var-mrg-soft('300')} * -1);
        margin-block-end: #{var-mrg-soft('300')};
        padding-inline: #{var-mrg-soft('300')};

        font-style: italic;
    }
}

%_input-base {
    @include snippet-input;

    /// BLOCK ///

    label + &,
    label > & {
        margin-block-start: #{var-mrg-firm('200')};
    }
}

%input {
    @extend %_input-base;
    @include snippet-input-types($includeBase: false);
}

%select {
    @extend %_input-base;
    cursor: pointer;
}

%textarea {
    @extend %_input-base;
    cursor: text;
}

@include config.print-headings {
    /* ## Forms - Buttons ==================================== */
}

%button {
    @include snippet-button;
}

%button-secondary {
    @extend %button;
}

%file-selector-button {
    display: initial;
    margin: #{var-mrg-firm('200')} 0;
    margin-inline-end: #{var-mrg-firm('300')};
    border: none;

    font-size: #{var-fs(normal)};
}

%label {
    @include snippet-label;
}
