///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @use '../../../modules/colour';
// @use '../../../modules/list';
// @use '../../../modules/map';
// @use '../../../modules/math';
// @use '../../../modules/meta';
// @use '../../../modules/selector';
// @use '../../../modules/string';

@use '../config';
// @use '../tokens';

@use '../lib' as *;

@include config.print-headings {
    /* # FORMS
     * ======================================================================== */
}

%fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

%legend {
    fieldset & {
        font-weight: 600;
    }
}

%_input-base {
    @include snippet-input;

    /// BLOCK ///

    label + &,
    label > & {
        margin-block-start: #{var-mrg-firm('200')};
    }
}

%input {
    @extend %_input-base;
    @include snippet-input-types($includeBase: false);
}

%select {
    @extend %_input-base;
    cursor: pointer;
}

%textarea {
    @extend %_input-base;
    cursor: text;
}

@include config.print-headings {
    /* ## Forms - Buttons ==================================== */
}

%button {
    @include snippet-button;
}

%button-secondary {
    @extend %button;
}

%file-selector-button {
    display: initial;
    margin: #{var-mrg-firm('200')} 0;
    margin-inline-end: #{var-mrg-firm('300')};
    border: none;

    font-size: #{var-fs(normal)};
}

%label {
    @include snippet-label;
}
