///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '00-abstracts';
@forward '01-globals';
@forward '02-utilities';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use '../../../modules/meta';

@use '../config';

@use '../lib' as *;

@if config.$print_globals {
    @include extend-selectors-globals;
}

@if config.$print_utils {
    @include extend-selectors-utils;
}
