///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '00-abstracts';
@forward '01-globals';
@forward '02-utilities';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use '../../../modules/meta';

@use '../config';

@use '../lib' as *;

@include config.print-globals {
    @include extend-selector-globals;
}

@include config.print-utils {
    @include extend-selector-utils;
}
