///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '00-abstracts';
@forward '01-accessibility';
@forward '02-objects';
@forward '03-typography';
@forward '04-lists';
@forward '05-forms';
@forward '06-tables';

/// # EXTENDING SELECTORS
/// ======================================================================== ///

@use '../../../modules/meta';

@use '../config';

@use '../lib' as *;

@include config.print-globals {
    @include extend-selector-globals;
}

@include config.print-utils {
    @include extend-selector-utils;
}
