///
/// This allows modules to forward this header without repeating it all over the
/// output stylesheet.
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

// @forward 'config/internal';

// @use 'config/internal' as config;
// @use 'lib/noticeMx' as *;

// @if not config.$internal_supressCredit and not config.$internal_isTemplate {
//     @at-root {
//         @include notice;
//     }
// }
