///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

@use '../config';

@if config.$print_templateDocBlock {
    @if config.$template_isDefault {
        /**
         * Utility Sass Template
         */
    } @else {
        /**
         * Utility Sass Template - #{config.$template_name}
         */
    }
}
