///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-pre.0
///

// @forward '../../../notice';

@use '../../../lib/noticeMx' as *;
@use '../config';

@if not config.$template_internal_supressCredit {
    @include notice;
}
