///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../../notice';

@use '../../../lib/noticeMx' as *;

@use '../config';

@if not config.$template_internal_supressCredit {
    @include notice;
}
