///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use '../config';
@use '../meta';

///
/// Uses a compiler function to check if the given string is quoted.
///
/// @since ___PKG_VERSION___
///
@function is-quoted($str) {
    // returns
    @if meta.type-of($str) != string {
        @return false;
    }

    @return meta.call-global-compiler-fn(
        'mmutils-string-is-quoted',
        'string.is-quoted',
        $isCompilerFunction: true,
        $isRequired: true,
        //
        $str: $str
    );
}
