///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use '../config';

@use '../meta';

///
/// Uses a compiler function to use JS strings' match property to test a regexp.
///
/// @param {string[]} $strings...
///
/// @return {string}
///
/// @since ___PKG_VERSION___
///
@function match($string, $pattern, $flags: null, $debug: false) {
    @return meta.call-global-compiler-fn(
        'mmutils-string-match',
        'string.match',
        $isCompilerFunction: true,
        $isRequired: true,
        $fallbackValue: (),
        //
        $string: $string,
        $pattern: string.unquote($pattern),
        $flags: $flags,
        $debug: $debug
    );
}
