///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:string';

@use '../meta';

///
/// Replaces $search with $replace in $string. Replaces all though recursion.
///
/// @return {string}
///
/// @since ___PKG_VERSION___
///
@function regex-split($string, $separator, $flags: null, $limit: null, $debug: false) {
    @return meta.call-global-compiler-fn(
        'mmutils-string-regex-split',
        'string.regex-split',
        $isCompilerFunction: true,
        $isRequired: true,
        $fallbackValue: $string,
        //
        $string: $string,
        $separator: $separator,
        $flags: $flags,
        $limit: $limit,
        $debug: $debug
    );
}
