///
/// Meant to be an extension of the built-in 'sass:string' module. DO NOT FORWARD.
/// For @use only.
///
/// @module string
///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@forward '../../notice';

@forward 'sass:string';

@forward 'replace';
@forward 'slugify';
