///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha.33
///

@forward '../config';
@forward '../header';

@use '../../modules/meta';

@use '../../lib';

/* # MODULES - META
 * ======================================================================== */

@media current-version {
    @include meta.var-dump('meta.current-version()', meta.current-version());
}

/* ## MODULES - META - arglist() ==================================== */

@media arglist {
    @include meta.var-dump('meta.arglist()', meta.arglist());
    @include meta.var-dump('meta.arglist( one, two )', meta.arglist(one, two));
    @include meta.var-dump(
        'meta.arglist( $param: one, $value: two )',
        meta.arglist($param: one, $value: two)
    );
    @include meta.var-dump(
        'meta.arglist( something, $param: one, $value: two )',
        meta.arglist(something, $param: one, $value: two)
    );
}

/* ## MODULES - META - call-global-compiler-fn() ==================================== */

@media call-global-compiler-fn {
    @include meta.var-dump(
        "meta.call-global-compiler-fn( 'non-existant-fn', 'demo-functions/non-existant-fn' )",
        meta.call-global-compiler-fn('non-existant-fn', 'demo-functions/non-existant-fn')
    );
    @include meta.var-dump(
        "meta.call-global-compiler-fn( 'mmutils-global-getCurrentVersion', 'demo-functions/getCurrentVersion' )",
        meta.call-global-compiler-fn(
            'mmutils-global-getCurrentVersion',
            'demo-functions/getCurrentVersion'
        )
    );
}

/* ## MODULES - META - keywords-list() ==================================== */

@media keywords-list {
    @include meta.var-dump('meta.keywords-list()', meta.keywords-list());
    @include meta.var-dump('meta.keywords-list( one, two )', meta.keywords-list(one, two));
    @include meta.var-dump(
        'meta.keywords-list( $param: one, $value: two )',
        meta.keywords-list($param: one, $value: two)
    );
    @include meta.var-dump(
        'meta.keywords-list( something, $param: one, $value: two )',
        meta.keywords-list(something, $param: one, $value: two)
    );
}

/* ## MODULES - META - is-truthy() ==================================== */

$_truthyFalseyList: (
    -20,
    0,
    1,
    15,
    '',
    'text',
    (
        map: true,
    ),
    true,
    false,
    null,
    // meta.arglist(),
    meta.arglist(one, two),
    meta.arglist(
        $param: one,
        $value: two,
    ),
    // (),
    (list, list)
);

meta.is-truthy {
    @each $value in $_truthyFalseyList {
        @include meta.var-dump(
            'meta.is-truthy#{meta.demo-args-dump($value)}',
            meta.is-truthy($value)
        );
    }
}

/* ## MODULES - META - mixin-demo() ==================================== */

mixin-demo {
    @include meta.mixin-demo(motion, meta.get-mixin(motion, lib), $includeSelectors: true);
}

/* ## MODULES - META - var-dump() ==================================== */

// #region $_map
$_map: (
    '$': default,

    one: (
        '$': default,
        A: value,
        B: (
            '$': default,
            1: value,
        ),
    ),

    two: 'hello',
);
// #endregion $_map

$_list: value is a list;

@media var-dump {
    list {
        @include meta.var-dump('meta.var-dump( $_list )', meta.var-dump($_list));
    }
    map {
        @include meta.var-dump('meta.var-dump( $_map )', meta.var-dump($_map));
    }
    number {
        @include meta.var-dump('meta.var-dump( 42 )', meta.var-dump(42));
    }
    string {
        @include meta.var-dump('meta.var-dump( hello-there )', meta.var-dump(hello-there));
    }
}

/* ## MODULES - META - js-var-dump() ==================================== */

@media js-var-dump {
    @include meta.var-dump(
        'meta.js-var-dump( hello, $name: "demo-var-1" )',
        meta.js-var-dump(hello, $name: 'demo-var-1', $level: 2, $useUniqueID: true)
    );
    @include meta.var-dump(
        'meta.js-var-dump( (this: "is a", map: true), $name: "demo-var-2" )',
        meta.js-var-dump(
            (
                this: 'is a',
                map: true,
            ),
            $name: 'demo-var-2',
            $level: 2,
            $useUniqueID: true
        )
    );
}
