///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha.33
///

@forward '../config';
@forward '../header';

@use '../../modules/meta';

// @use '../../lib';

/* # MODULES - META
 * ======================================================================== */

@media current-version {
    @include meta.var-dump('meta.current-version()', meta.current-version());
}

/* ## MODULES - META - call-global-compiler-fn() ==================================== */

@media call-global-compiler-fn {
    @include meta.var-dump(
        "meta.call-global-compiler-fn( 'non-existant-fn', 'demo-functions/non-existant-fn' )",
        meta.call-global-compiler-fn('non-existant-fn', 'demo-functions/non-existant-fn')
    );
    @include meta.var-dump(
        "meta.call-global-compiler-fn( 'mmutils-global-getCurrentVersion', 'demo-functions/getCurrentVersion' )",
        meta.call-global-compiler-fn(
            'mmutils-global-getCurrentVersion',
            'demo-functions/getCurrentVersion'
        )
    );
}

/* ## MODULES - META - var-dump() ==================================== */

// #region $_map
$_map: (
    '$': default,

    one: (
        '$': default,
        A: value,
        B: (
            '$': default,
            1: value,
        ),
    ),

    two: 'hello',
);
// #endregion $_map

$_list: value is a list;

@media var-dump {
    list {
        @include meta.var-dump('meta.var-dump( $_list )', meta.var-dump($_list));
    }
    map {
        @include meta.var-dump('meta.var-dump( $_map )', meta.var-dump($_map));
    }
    number {
        @include meta.var-dump('meta.var-dump( 42 )', meta.var-dump(42));
    }
    string {
        @include meta.var-dump('meta.var-dump( hello-there )', meta.var-dump(hello-there));
    }
}

/* ## MODULES - META - js-var-dump() ==================================== */

@media js-var-dump {
    @include meta.var-dump(
        'meta.js-var-dump( hello )',
        meta.js-var-dump(hello, $name: 'demo-var-1', $level: 2)
    );
    @include meta.var-dump(
        "meta.js-var-dump((this: 'is a', map: true))",
        meta.js-var-dump(
            (
                this: 'is a',
                map: true,
            ),
            $name: 'demo-var-2',
            $level: 2
        )
    );
}
