///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since 0.1.0-alpha.33
///

@forward '../config';
@forward '../header';

@use '../config';

@use '../../modules/feature-check';
@use '../../modules/map';
@use '../../modules/meta';
@use '../../modules/selector';
@use '../../modules/string';

// @use '../../lib' as *;
@use '../../template/_content/lib' as *;

/* # MODULES - SELECTOR
 * ======================================================================== */

@mixin _replace-simple-selector($args...) {
    $_sels: selector.replace-simple-selector(&, $args...);

    @at-root #{$_sels} {
        @include meta.var-dump(
            'selector.replace-simple-selector( &, #{meta.var-dump($args, $alwaysQuote: true, $showParens: false, $withType: false, $keys_neverQuote: true, $child_showParens: true)} )',
            $_sels
        );
    }
}

@media replace-simple-selector {
    #{config.$selector_root} .child .grandchild another.child {
        /* STARTING SELECTOR */
        @include _replace-simple-selector('.child', '.new-child');
        @include _replace-simple-selector(config.$selector_root, ('html', 'custom-html'));
        @include _replace-simple-selector('.non-existant-class', '.new-child');
    }
}

@mixin _extend-simple-selector($args...) {
    $_sels: selector.extend-simple-selector(&, $args...);

    $debug: map.get(meta.keywords($args), debug);

    $callSig: 'selector.extend-simple-selector( &, #{meta.var-dump($args, $alwaysQuote: true, $showParens: false, $withType: false, $keys_neverQuote: true, $child_showParens: true)} )';

    @at-root #{$_sels} {
        @if $debug {
            @include meta.var-dump($callSig, $_sels);
        } @else {
            /* #{$callSig} */
        }
    }
}

// #region - $_extend_all_permutations
// TODO - fix broken
$_extend_all_permutations: (
    // default
    (true, true, false, false, false, false),
    // single true
    (false, true, false, false, false, false),
    (true, false, false, false, false, false),
    (false, false, false, true, false, false),
    (false, false, true, false, false, false),
    (false, false, false, false, true, false),
    // no self, no replace
    (false, false, false, true, true, false),
    (false, false, true, true, false, false),
    (false, false, true, false, true, false),
    (false, false, true, true, true, false),
    // with replace, no self
    (false, true, false, false, true, false),
    (false, true, true, false, false, false),
    (false, true, false, true, false, false),
    (false, true, false, true, true, false),
    (false, true, true, false, true, false),
    (false, true, true, true, false, false),
    (false, true, true, true, true, false),
    // with self, no replace
    (true, false, false, false, true, false),
    (true, false, false, true, false, false),
    (true, false, false, true, true, false),
    (true, false, true, false, false, false),
    (true, false, true, false, true, false),
    (true, false, true, true, false, false),
    (true, false, true, true, true, false),
    //
    // with self & replace
    (true, true, false, false, true, false),
    (true, true, true, false, false, false),
    (true, true, false, true, false, false),
    (true, true, false, true, true, false),
    (true, true, true, false, true, false),
    (true, true, true, true, false, false),
    (true, true, true, true, true, false)
);
// #endregion - $_extend_all_permutations

@mixin _extend-full-tests($needles, $extending, $debug: false, $args...) {
    $args: meta.keywords($args);

    @each $self, $replace, $nest, $unify, $wrap, $single_debug in $_extend_all_permutations {
        $_selectiveArgs: ();

        @if not $self {
            $_selectiveArgs: map.set($_selectiveArgs, 'self', $self);
        }

        @if not $replace {
            $_selectiveArgs: map.set($_selectiveArgs, 'replace', $replace);
        }

        @if $unify {
            $_selectiveArgs: map.set($_selectiveArgs, 'unify', $unify);
        }

        @if $nest {
            $_selectiveArgs: map.set($_selectiveArgs, 'nest', $nest);
        }

        @if $wrap {
            $_selectiveArgs: map.set($_selectiveArgs, 'wrap', $wrap);
        }

        @if $debug and $single_debug {
            $_selectiveArgs: map.set($_selectiveArgs, 'debug', $single_debug);
        }

        @include _extend-simple-selector(
            $needles,
            $extending,
            map.merge($_selectiveArgs, $args)...
        );
    }
}

@media extend-simple-selector {
    #{config.$selector_root} .child .grandchild {
        /* STARTING SELECTOR A */
        @include _extend-full-tests(('.child', '.non-existant-class'), '.new-child');

        @include _extend-simple-selector(('.child', '.grandchild'), '.new-child');
        @include _extend-simple-selector(config.$selector_root, ('html', 'custom-html'));
        @include _extend-simple-selector('.non-existant-class', '.new-child');

        @at-root #{config.$selector_root} another.child .grandchild {
            /* STARTING SELECTOR B */
            @include _extend-full-tests(
                ('.child', '.non-existant-class'),
                '.new-child',
                $debug: true
            );
        }

        another.child {
            /* STARTING SELECTOR C */
            // BROKEN - @include _extend-simple-selector('.child', '.new-child');
            @include _extend-simple-selector('.child', '.new-child', $self: false);
            @include _extend-simple-selector('.child', '.new-child', $replace: false);
            @include _extend-simple-selector(
                '.child',
                '.new-child',
                $self: false,
                $replace: false,
                $unify: true
            );
            // BROKEN - @include _extend-simple-selector(
            //     '.child',
            //     '.new-child',
            //     $self: false,
            //     $replace: false,
            //     $nest: true
            // );
            // BROKEN - @include _extend-simple-selector(
            //     '.child',
            //     '.new-child',
            //     $self: false,
            //     $replace: false,
            //     $wrap: true
            // );
            // BROKEN - @include _extend-simple-selector(
            //     '.child',
            //     '.new-child',
            //     // $unify: true,
            //     // $nest: true,
            //     // $wrap: true,
            // );
        }
    }

    [data-brightness-mode='light'] {
        /* STARTING SELECTOR C */
        @include _extend-simple-selector(
            '[data-brightness-mode=light]',
            '[data-contrast-mode=low]'
        );

        @include _extend-simple-selector(
            '[data-brightness-mode=light]',
            '[data-contrast-mode=low]',
            $unify: true,
            $nest: true,
            $wrap: true
        );

        @include _extend-simple-selector(
            '[data-brightness-mode=light]',
            ('[data-contrast-mode=low]', '[data-contrast-mode=average]'),
            $unify: true,
            $nest: true,
            $wrap: true
        );

        :root & .child {
            /* STARTING SELECTOR D */
            @include _extend-simple-selector(
                '[data-brightness-mode=light]',
                '[data-contrast-mode=low]'
            );

            @include _extend-simple-selector(
                '[data-brightness-mode=light]',
                '[data-contrast-mode=low]',
                $unify: true,
                $nest: true,
                $wrap: true
            );

            @include _extend-simple-selector(
                '[data-brightness-mode=light]',
                ('[data-contrast-mode=low]', '[data-contrast-mode=average]'),
                $unify: true,
                $nest: true,
                $wrap: true
            );
        }
    }
}

/* ## Modules - Selector - except() ==================================== */

@mixin _except-test($args...) {
    @media except {
        & {
            $sel: selector.except(
                $haystack: &,
                $args...,
            );

            @include meta.var-dump(
                'selector.except#{meta.demo-args-dump($haystack: string.unquote('&'), $args...)}',
                $sel
            );

            $callDump: 'selector.except#{meta.demo-args-dump($haystack: &, $args...)}';

            @at-root #{$sel} {
                /* #{$callDump} */
            }
        }
    }
}

a,
button {
    @include _except-test($needles: 'button');
    @include _except-test($needles: 'a');

    .should-not-stop-replacement {
        @include _except-test($needles: 'button');
        @include _except-test($needles: 'a');
    }
}

button,
a.special-class,
a.class-name[data-complex='selector']:focus {
    @include _except-test($needles: 'button');
    @include _except-test($needles: 'a');
    @include _except-test($needles: ':focus');
    @include _except-test($needles: '[data-complex=selector]');

    .should-not-stop-replacement {
        @include _except-test($needles: 'button');
        @include _except-test($needles: 'a');
        @include _except-test($needles: ':focus');
        @include _except-test($needles: '[data-complex=selector]');
    }
}

/* ## Modules - Selector - except-superselector() ==================================== */

@mixin _except-superselector-test($args...) {
    @media except-superselector {
        & {
            $sel: selector.except-superselector(
                $haystack: &,
                $args...,
            );

            @include meta.var-dump(
                'selector.except-superselector#{meta.demo-args-dump($haystack: string.unquote('&'), $args...)}',
                $sel
            );

            $callDump: 'selector.except-superselector#{meta.demo-args-dump($haystack: &, $args...)}';

            @at-root #{$sel} {
                /* #{$callDump} */
            }
        }
    }
}

a,
button {
    @include _except-superselector-test($needles: 'button');
    @include _except-superselector-test($needles: 'a');

    body & {
        @include _except-superselector-test($needles: 'button');
        @include _except-superselector-test($needles: 'a');
    }

    .should-stop-replacement {
        @include _except-superselector-test($needles: 'button');
        @include _except-superselector-test($needles: 'a');
    }
}

button,
a.special-class,
a.class-name[data-complex='selector']:focus {
    @include _except-superselector-test($needles: 'button');
    @include _except-superselector-test($needles: 'a');
    @include _except-superselector-test($needles: ':focus');
    @include _except-superselector-test($needles: '[data-complex=selector]');

    body & {
        @include _except-superselector-test($needles: 'button');
        @include _except-superselector-test($needles: 'a');
        @include _except-superselector-test($needles: ':focus');
        @include _except-superselector-test($needles: '[data-complex=selector]');
    }

    .should-stop-replacement {
        @include _except-superselector-test($needles: 'button');
        @include _except-superselector-test($needles: 'a');
        @include _except-superselector-test($needles: ':focus');
        @include _except-superselector-test($needles: '[data-complex=selector]');
    }
}

/* ## Modules - Selector - Root & Body Utilities ==================================== */

@media at-root {
    @include meta.var-dump('selector.parent-exists()', selector.parent-exists());
    @include meta.var-dump('selector.parent-or-body()', selector.parent-or-body());
    @include meta.var-dump('selector.parent-or-root()', selector.parent-or-root());
}

@mixin _incl-single-var-dumps-is-body-or-root {
    @include meta.var-dump('selector.is-body( & )', selector.is-body(&));
    @include meta.var-dump('selector.is-root( & )', selector.is-root(&));
    @include meta.var-dump('selector.has-body( & )', selector.has-body(&));
    @include meta.var-dump('selector.has-root( & )', selector.has-root(&));
}

@mixin _incl-single-var-dumps($selectorString: null) {
    @if $selectorString != null {
        /* via #{$selectorString} */
    }

    @include meta.var-dump('selector.parent-exists()', selector.parent-exists());
    @include meta.var-dump('selector.is-simple( & )', selector.is-simple(&));

    @include _incl-single-var-dumps-is-body-or-root;

    @include meta.var-dump('selector.parent-or-body()', selector.parent-or-body());
    @include meta.var-dump('selector.parent-or-root()', selector.parent-or-root());
}

@mixin _incl-complex-var-dumps(
    $selectorString: null,
    $selector_body: '%body',
    $selector_root: '%root',
    $args...
) {
    @media #{if($selectorString , 'complex-selectors and ( via: "#{$selectorString}" )', 'complex-selectors' )} {
        @if $selectorString != null {
            /* via #{$selectorString} */
        }
        $_parentSelector: &;
        @include meta.var-dump('&', $_parentSelector);
        /* */

        @include _incl-single-var-dumps-is-body-or-root($args...);

        $_replacedBodySelector: selector.replace-body-selector(&, '[replaced-body]');

        @at-root #{$_replacedBodySelector} {
            @include meta.var-dump('&', $_parentSelector);

            @include meta.var-dump(
                'selector.replace-body-selector( &, "[replaced-body]" )',
                $_replacedBodySelector
            );
        }

        $_replacedRootSelector: selector.replace-root-selector(&, '[replaced-root]');

        @at-root #{$_replacedRootSelector} {
            @include meta.var-dump('&', $_parentSelector);

            @include meta.var-dump(
                'selector.replace-root-selector( &, "[replaced-root]" )',
                $_replacedRootSelector
            );
        }

        $_testRootNewSelector: '[special-root]';
        $_testBodyNewSelector: '[special-body]';

        $_addRootSelector: selector.add-root-selector($_testRootNewSelector);

        @include selector.add-root-selector($_testRootNewSelector) {
            /* @include selector.add-root-selector( #{meta.var-dump($_testRootNewSelector)} ) {} */

            @include meta.var-dump(
                'selector.add-root-selector( #{meta.var-dump($_testRootNewSelector)} )',
                $_addRootSelector
            );
        }

        $_addBodySelector: selector.add-body-selector($_testBodyNewSelector);

        @include selector.add-body-selector($_testBodyNewSelector) {
            /* @include selector.add-body-selector( '#{$_testBodyNewSelector}' ) {} */

            @include meta.var-dump(
                'selector.add-body-selector( #{meta.var-dump($_testBodyNewSelector)} )',
                $_addBodySelector
            );

            $_parentSelector: &;
            $_addRootSelector: selector.add-root-selector($_testRootNewSelector);

            @include selector.add-root-selector($_testRootNewSelector) {
                /* @include selector.add-root-selector( '#{$_testRootNewSelector}' ) {} */

                @include meta.var-dump('&', $_parentSelector);

                @include meta.var-dump(
                    'selector.add-root-selector( #{meta.var-dump($_testRootNewSelector)} )',
                    $_addRootSelector
                );
            }
        }
    }
}

@mixin _incl-var-dumps($selectorString: null, $args...) {
    @include _incl-single-var-dumps($selectorString: $selectorString, $args...);

    @include meta.var-dump(
        'selector.parent-includes( ".has-a-class" )',
        selector.parent-includes('.has-a-class')
    );

    &:where(.has-a-class) {
        @include _incl-single-var-dumps(
            $selectorString: if($selectorString, '#{$selectorString}:where(.has-a-class)', null),
            $args...
        );

        @include meta.var-dump(
            'selector.parent-includes( ".has-a-class" )',
            selector.parent-includes('.has-a-class')
        );
    }
}

:root {
    @include _incl-var-dumps(':root');
}

html {
    @include _incl-var-dumps('html');
}

body {
    @include _incl-var-dumps('body');
}

%body {
    @include _incl-var-dumps('%body');
}

%root {
    .child {
        @include _incl-complex-var-dumps('%root');
    }

    &:has(.class-name) {
        %body {
            @include _incl-complex-var-dumps('%root %body');

            .grandchild {
                @include _incl-complex-var-dumps('%root %body');
            }
        }
    }
}

#{config.$selector_root},
#{config.$selector_body},
#{selector.nest(config.$selector_root, config.$selector_body)},
.not-root-or-body {
    .child {
        @include _incl-complex-var-dumps(
            '#{config.$selector_root}, #{config.$selector_body}',
            $selector_body: config.$selector_body,
            $selector_root: config.$selector_root
        );
    }
}

.not-root-or-body {
    @include feature-check.js {
        @include _incl-complex-var-dumps(
            '#{config.$selector_root}, #{config.$selector_body}',
            $selector_body: config.$selector_body,
            $selector_root: config.$selector_root
        );
    }
}

#{selector.nest(config.$selector_root, config.$selector_body)},
#{config.$selector_body},
.not-root-or-body {
    .child {
        @include feature-check.supports(subgrid, $viaQuery: false) {
            @include _incl-complex-var-dumps(
                '#{config.$selector_root}, #{config.$selector_body}',
                $selector_body: config.$selector_body,
                $selector_root: config.$selector_root
            );
        }
    }
}

/* ## Modules - Selector - Pseudo Class Lists ==================================== */

@each $selectorName in ('has', 'is', 'not', 'where') {
    selector.#{$selectorName} {
        $fn: meta.get-function(#{$selectorName}-list, $module: selector);
        $mixin: meta.get-mixin($selectorName, $module: selector);

        @include meta.var-dump('selector.#{$selectorName}-list()', meta.call($fn));

        &--unified {
            @include meta.var-dump(
                'selector.#{$selectorName}-list( $unifyParent: true )',
                meta.call($fn, $unifyParent: true)
            );
        }

        &--direct--unified {
            @include meta.var-dump(
                'selector.#{$selectorName}-list( $direct: true, $unifyParent: true )',
                meta.call($fn, $direct: true, $unifyParent: true)
            );
        }

        &--with-selectors {
            @include meta.var-dump(
                'selector.#{$selectorName}-list( ( div, p, body ) )',
                meta.call($fn, $selectors: (div, p, body))
            );
        }

        &--with-selectors--direct {
            @include meta.var-dump(
                'selector.#{$selectorName}-list( ( div, p, body ), $direct: true )',
                meta.call($fn, $selectors: (div, p, body), $direct: true)
            );
        }

        &--with-selectors--direct--unified {
            @include meta.var-dump(
                'selector.#{$selectorName}-list( ( div, p, body ), $direct: true, $unifyParent: true )',
                meta.call($fn, $selectors: (div, p, body), $direct: true, $unifyParent: true)
            );
        }

        @include meta.apply($mixin) {
            /* @include selector.#{$selectorName}() {} */
        }

        @include meta.apply($mixin, $direct: true) {
            /* @include selector.#{$selectorName}( $direct: true ) {} */
        }

        @include meta.apply($mixin, $unifyParent: true) {
            /* @include selector.#{$selectorName}( $unifyParent: true ) {} */
        }

        @if $selectorName == has {
            @include meta.apply($mixin, $unifyParent: true, $direct: true) {
                /* @include selector.#{$selectorName}( $unifyParent: true, $direct: true ) {} */
            }
        }

        @include meta.apply($mixin, $includeParent: false) {
            /* @include selector.#{$selectorName}( $includeParent: false ) {} */
        }

        @include meta.apply($mixin, $selectors: (div, p, body)) {
            /* @include selector.#{$selectorName}( ( div, p, body ) ) {} */
        }

        @include meta.apply($mixin, $selectors: (div, p, body), $direct: true) {
            /* @include selector.#{$selectorName}( ( div, p, body ), $direct: true ) {} */
        }

        @include meta.apply($mixin, $selectors: (div, p, body), $unifyParent: true) {
            /* @include selector.#{$selectorName}( ( div, p, body ), $unifyParent: true ) {} */
        }

        @if $selectorName == has {
            @include meta.apply(
                $mixin,
                $selectors: (div, p, body),
                $unifyParent: true,
                $direct: true
            ) {
                /* @include selector.#{$selectorName}( ( div, p, body ), $unifyParent: true, $direct: true ) {} */
            }
        }
    }
}

// .sample-body-extending-class {
//     @extend body;
// }

@include extend-selectors;
