///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

// @forward '../../config';
@forward '../../config' with (
    // $fn_colourMode_selectorsAsChildren: true !default,
    $mx_colourMode_includeQuery: true !default,
    $mx_colourMode_includeSelectors: true !default,
    $mx_colourMode_includeLightModeQuery: true !default,
    $mx_colourMode_includeNoPreferenceQueries: true !default,
    $mx_colourModeCombo_includeForcedColorsSelectors: true !default
);
