///
/// @package @maddimathon/utility-sass@___CURRENT_VERSION___
/// @since ___PKG_VERSION___
///

@use 'sass:map';
@use 'sass:string';

@use 'functions' as fns;

///
/// @since ___PKG_VERSION___
///
$featureCheck_aspectRatio_includeNoWhereSelectorFallback: true !default;

///
/// @since ___PKG_VERSION___
///
$featureCheck_jsOnlyAsNeeded: true !default;

///
/// @since ___PKG_VERSION___
///
$featureCheck_neverUseJS: false !default;

///
/// Only applies when $featureCheck_jsOnlyAsNeeded is true AND
/// $featureCheck_neverUseJS is false.
///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS: () !default;
$featureCheck_defaultToJS: map.merge(
    (
        whereSelector: true,
    ),
    $featureCheck_defaultToJS
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS_supports: () !default;
$featureCheck_defaultToJS_supports: map.merge(
    $featureCheck_defaultToJS,
    $featureCheck_defaultToJS_supports
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_defaultToJS_supports_not: () !default;
$featureCheck_defaultToJS_supports_not: map.merge(
    map.merge(
        $featureCheck_defaultToJS,
        (
            aspectRatio: true and map.get($featureCheck_defaultToJS, aspectRatio) != false,
            focusVisible: true and map.get($featureCheck_defaultToJS, focusVisible) != false,
        )
    ),
    $featureCheck_defaultToJS_supports_not
);

///
/// @since ___PKG_VERSION___
///
$featureCheck_supportsQueries: () !default;
$featureCheck_supportsQueries: map.merge(
    (
        aspectRatio: 'aspect-ratio: 1 / 2',
        backgroundFixed: 'background-attachment: fixed',
        calc: 'width: calc( 0.25em + 10% )',
        displayContents: 'display: contents',
        focusWithin: 'selector( a:focus-within )',
        focusVisible: 'selector( a:focus-visible )',
        hasSelector: 'selector( :has( a ) )',
        subgrid: 'grid-template-columns: subgrid',
        whereSelector: 'selector( :where( a ) )',
    ),
    $featureCheck_supportsQueries
);

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_baseRem: null !default;
$math_clampFontSize_baseRem: fns.config-valid-number(
    $math_clampFontSize_baseRem,
    'math_clampFontSize_baseRem',
    $default: 1,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_multiplier_max: null !default;
$math_clampFontSize_multiplier_max: fns.config-valid-number(
    $math_clampFontSize_multiplier_max,
    'math_clampFontSize_multiplier_max',
    $default: 1.25,
    $min: 0.1,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_clampFontSize_multiplier_min: null !default;
$math_clampFontSize_multiplier_min: fns.config-valid-number(
    $math_clampFontSize_multiplier_min,
    'math_clampFontSize_multiplier_min',
    $default: 0.9375,
    $min: 0.1,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$math_clampFontSize_viewport_max: null !default;
$math_clampFontSize_viewport_max: fns.config-valid-number(
    $math_clampFontSize_viewport_max,
    'math_clampFontSize_viewport_max',
    $default: 120,
    $min: 20,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$math_clampFontSize_viewport_min: null !default;
$math_clampFontSize_viewport_min: fns.config-valid-number(
    $math_clampFontSize_viewport_min,
    'math_clampFontSize_viewport_min',
    $default: 25,
    $max: $math_clampFontSize_viewport_max,
    $min: 16,
    $unit: false
);

///
/// @since 0.1.0-alpha
///
$math_fontSize_roundingFactor: null !default;
$math_fontSize_roundingFactor: fns.config-valid-number(
    $math_fontSize_roundingFactor,
    'math_fontSize_roundingFactor',
    $default: 16,
    $min: 1,
    $unit: false
);

///
/// @since ___PKG_VERSION___
///
$warnOnMissingCompilerFunctions: true !default;

///
/// Selector to use for the body element.  Included here to allow
/// lower-specificity options.
///
/// @default ( body )
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved to module config.
///
$selector_body: null !default;
$selector_body: fns.config-valid-selector($selector_body, 'selector_body', (body));

///
/// Selector used as a 'null' (e.g., not-output) selector within the system to
/// avoid errors.  e.g., with the mode mixins if the targeted mode is disabled.
///
/// @default ( '%null' )
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved to module config.
///
$selector_null: null !default;
$selector_null: fns.config-valid-selector($selector_null, 'selector_null', ('%null'));

///
/// Selector to use for the root element.  Included here to allow
/// lower-specificity options.
///
/// @default ( ':root' )
///
/// @since 0.1.0-pre.0
/// @since ___PKG_VERSION___ — Moved to module config.
///
$selector_root: null !default;
$selector_root: fns.config-valid-selector($selector_root, 'selector_root', (':root'));
